[2021-01-20 00:08] Min-Feng opened #2 "有要求只使用原生標準庫？"
viper: config 讀取
testing: testify

這兩個應該是go很常見的pkg
在這專案也不使用嘛？

用介面隔開就不會和業務邏輯耦合
相關的第三方庫吧？

[2021-01-20 01:05] mkfsn opened #3 "Project Layout"
FYI: https://github.com/golang-standards/project-layout

[2021-01-20 04:41] PichuChen commented on #2
從優點來說，第三方元件庫可以不用重新造輪子，同時也會有人可以用其熟悉的工具。

缺點來說，第三方元件庫造成需要檢查的範圍變大，輪子規格如果未來變動時會有是否跟進的問題以及未來是不是作者會停止維護等等之類的問題，另外是對於不熟悉該工具的人來說也會增加學習負擔（相對於官方套件(package)）

對於兩個套件(package)我稍微分享一下當時決定的想法是如何：
config 讀取的部分我先前都是使用 json 作為 config 檔，但是他在維運上面會有不便，因為不容易進行註解。
所以後來我考慮的是 yaml, 但是 yaml 沒有官方套件，因此可能得引入外部套件。
後來變成在 yaml 和 toml 之間選擇，發現 toml 比起 yaml 來說類似以前的 INI 檔格式。
另外 toml 不需要處理縮排，因此未來在透過 vim 修改設定檔的環境應該也會比較方便。

所以就暫定了以 to

[2021-01-20 04:42] PichuChen commented on #3
具體的話有哪些檔案要移動到哪邊嗎？

[2021-01-20 14:48] mkfsn commented on #3
@PichuChen 以現在的 code 的話我會傾向這樣放：

[code]

我會想把主要的 business logic 搬到 /internal/usecases 底下，把他跟 web (RESTful API server) 分開，這樣之後要加 gRPC 甚至是 GraphQL 的話，理論上應該可以跟 usecase 完全分離，不用改太多 usecase 的 code 才對。

其他的比較 minor 不過我覺得蠻 common sense，像是 binary (main package) 放在 /cmd 底下，logger, config 放到 /internal 底下。

不過或許有更好的擺法，歡迎討論～

BTW 我看到 route 有分 /v1 所以或許我們  /internal/usecases 也可以細分 /internal/usecases/v1 之類的。

[2021-01-20 15:17] PichuChen commented on #3
Golang 的分資料夾和其他語言例如 JS 或是 C 的分資料夾有不太一樣的意義，分資料夾後的不同程式碼彼此之間的關係會像是不同Package一樣，不容易直接互相呼叫喔。

[2021-01-20 15:24] mkfsn commented on #3
@PichuChen 我的理解是那些都是不同的用途。舉例來說， config 是專門提供 config 用的，在 #2 也有提到我們可以把 third-library 另外切開來，這樣之後如果要 support YAML 的 config 的話就是在 config package 解決。

另外一個例子，logging 專門處理要怎麼實現 logging ，因為現在可能很簡單的把 loggging output 到 std 但是之後可能會要寫到檔案或者是寫到其他地方，這些都是跟 "PTT web RESTful API" 的邏輯無關的，所以我覺得把它們搬到獨立的 package 是合理的。

[2021-01-20 15:31] PichuChen commented on #3
如果以 log 的例子來說的話，那這樣所有的檔案都需要 import "https://github.com/Ptt-official-app/Ptt-backend/internal/logger" 了，然後 Logger 裡面也幾乎所有的 function 都必須要被 export 出來？

[2021-01-20 15:39] mkfsn commented on #3
我想這要看應用，跟怎麼切資料夾應該無關。 #4 我做了一個 logging package 然後它有提供一個 NewLogger function， 這樣 main package own 一個 logger (跟現在一樣)，所以其他檔案還是不需要去 import "github.com/Ptt-official-app/Ptt-backend/internal/logger"。當然如果是要 centralized logger 的話，就會是像你說的那樣沒錯。

[2021-01-20 15:59] PichuChen commented on #3
這樣的話好像可以，另外我有查到 internal package 好像有特殊意義？

https://golang.org/doc/go1.4#internalpackages

我先前確實沒有特別注意到 internal 有特別作用，如果是這樣的話其實把 logger 等等的放入 internal ，然後再把主要物件放在 global 寫在 main.go 的話應該 OK?

看其他人有沒有意見？

[2021-01-20 16:16] mkfsn commented on #3
那滿舊的了 (go 1.4 XD) 但我沒印象中有被強制限制這樣（或許有只是我不曉得），不過我覺得 internal 合理是因為我們應該不打算 export 這個 repo 的任何 API 給其他 project 使用，所以放進 internal 的東西是對這個 repo 而言是 private 的。有些情況會需要讓其他 project 使用的話，會放到 /pkg 底下。

---

順帶一提，我覺得切 package 的一個好處是方便做 unit test。舉例來說，這個 test:
https://github.com/Ptt-official-app/Ptt-backend/blob/main/route_users_test.go#L53-L90

的用意只是要測試今天我戳 /v1/users 的時候 response 會不用有：

https://github.com/Ptt-o

[2021-01-20 23:57] Min-Feng commented on #3
就我個人認知
web 資料夾應該是放 html 或 相關圖片
之類的資源檔案

個人的話會想要
依照 六邊形架構 整潔架構分為 四個水平分平
然後依照 go 的推薦寫法
使用垂直分層 切割不同 業務功能

[六邊形架構介紹](https://herbertograca.com/2017/09/14/ports-adapters-architecture/?fbclid=IwAR3e--s4t2woKABzoMUb9PXS27ecrbq6ysxb9YkGS5HkvJ3tQP_ZO76M1QA)

![](https://i.imgur.com/N1eGqKz.png)

- driving adapter(user interface)
- application (use case)
- domain
- driven adapter(infra)

然後在另外 開一個資料夾 tool
底

[2021-01-21 00:42] mkfsn commented on #3
阿感謝指出，我就感覺哪裡怪怪的 XD 那應該就是所有都塞 internal ，畢竟對 ptt 而言並沒有打算讓任何 package 是 public 的（至少現階段來說是這樣？）

我的理解是那會類似 database/sql package，是算 infra 那邊沒錯，應該可以直接把它當作 repository layer 的東西來使用（參考[這篇](https://github.com/bxcodec/go-clean-arch)）

我覺得這也是跟改 Project Layout 有關耶，現在東西都在 main package 就算你有 interface 也沒得測試 XD #4 我把 logger 拉出去之後就順便加了 interface ，當然我們應該不太會需要 test logger 就是了 ...

[2021-01-21 09:56] PichuChen opened #5 "RESTFul API 文件討論"
目前的後端 [RESTful 文件](https://docs.google.com/document/d/18DsZOyrlr5BIl2kKxZH7P2QxFLG02xL2SO0PzVHVY3k/edit#heading=h.aapnwrfqwltx)版本還在草稿 (Draft 8) 的狀態，因此需要各位集思廣益。

讀取版面一路上到讀取文章的部分已經完成了。

現在需要有人可以幫忙認領不同的 API 的大項或是細項設計，例如推文的 API 的設計，或者是錯誤資料的回傳。

[2021-01-22 16:25] PichuChen opened #6 "CI / CD 檔案建立"
突然發現這個專案好像還沒有設定 CI / CD ?

[2021-01-22 17:46] Markogoodman commented on #2
你好~
藉這個標題問一下
在README裡面有看到說不想用 http framework 會增加維護成本，不過有點不太理解是哪種維護成本，是覺得 framework 可能有bug之類的嗎(?

像是gin這種還滿成熟的框架其實滿多公司產品都會用，也很多人在維護
看了一下專案內有很多 API 都要做 authentication 還有像是什麼 IP flowspeed之類的
就可以用這些框架的middleware來做
不然我們就是要自己做一個middleware package出來感覺維護成本和擴充性都比不上gin

[2021-01-23 02:19] PichuChen commented on #2
我覺得 gin 的問題確實可以另外開一個 ISSUE 出來討論，畢竟如果只是討論是否引入函式庫或是套件的標準的話在這邊就可以了，但是如果是討論特定套件的話應該另外開立另一個 ISSUE 會比較好。

普遍性的原因在上面的回應中有提及，針對 gin 單個套件的原因需要把 gin 整個套件 review 完才比較能給出完整的意見。

[2021-01-23 07:12] mkfsn commented on #6
@PichuChen 有什麼選項嗎？目前我知道的有：

1. [CircleCI](https://circleci.com/)
2. [GithubCI](https://docs.github.com/en/actions)
3. [TravisCI](https://travis-ci.org/)

如果 CI 確定的話我也想要導入 https://github.com/golangci/golangci-lint

[2021-01-23 08:40] mkfsn opened #7 "Handle HTTP route by our own?"
現在是我們自行處理 HTTP route，但是或許可以考慮使用：

1. https://github.com/gorilla/mux
2. https://github.com/bmizerany/pat
3. https://github.com/go-chi/chi

[2021-01-23 09:04] asymptoter commented on #7
不考慮 https://github.com/gin-gonic/gin 嗎？

[2021-01-23 09:34] mkfsn commented on #7
我覺得要看需求耶， Gin 會不會太 overkill?

[2021-01-23 10:50] asymptoter commented on #7
我會想要從效能及熟悉程度的方面去考慮，效能上面 gin 有提供各 library 的比較，他敢寫出來就是因為他排前幾名XD，熟悉程度的話就看大家習慣用哪個開發起來比較快，但感覺都大同小異就是了。

[2021-01-23 11:27] mkfsn commented on #7
沒記錯的話 Gin 有因為包太多東西導致效能有逐漸下降的趨勢，當然也有可能是我誤會了什麼 XD

https://www.techempower.com/benchmarks/

我自己是比較習慣 Gin，但如果只是要用到 routing 的話我會考慮其他的選項，不過要用 Gin 我也是歡迎就是了 XD

另外補充一點， Gin 用的 HTTP routing 如果用 wildcard 的話蠻容易 conflict 的，這部分要留意一下。（其他 framework 也要就是了）

[2021-01-23 14:41] PichuChen commented on #6
沒意外應該是 GitHub?

[2021-01-23 16:38] Markogoodman commented on #7
應該滿難預測之後會加入什麼功能，像是README的視訊就不知道是什麼XDD
我覺得選個很多人在使用的就可以了，像是gin或chi他們兩個之間效能應該不差到多少(?
pat和mux不太熟

[2021-01-24 09:36] Markogoodman commented on #7
那就交給 @mkfsn 和 @PichuChen 兩個元老決定囉(?

[2021-01-24 18:29] PichuChen commented on #7
我不小心在路上踢到對 mux 有力的理由，因為在 [pttweb](https://github.com/ptt/pttweb/blob/master/go.mod) 上面使用了 mux, 所以我認為對 ptt app 這塊有興趣的人他對 pttweb 專案有興趣的機會不低，因此可以降低套件的學習成本。

另外實際上要修改的方向可能要請 @mkfsn 用原本的程式碼寫一點範例，這樣才會比較容易想像。

[2021-01-25 05:23] PichuChen commented on #3
logger (logging) 的部分在 #4 移動完了，config.go 雖然也是只有單個檔案不過也有要處理嗎？還是另外的 ISSUE 討論？

另外是按照 internal 的標準， web/route 不確定能不能 access 到 internal/usecase 喔？

[2021-01-25 11:06] Markogoodman commented on #7
剛剛估狗了一下之前說不熟的mux

https://github.com/smallnest/go-web-framework-benchmark

好像會有 roting 效能上的問題（？

看起來是和chi gin有 二三十趴的差距，主要是用 tree 和 slice 實作的差別

但我猜要應該要很多path或流之後才會有感覺，不確定這個專案會長多大或是流量多少

至於範例這邊有 可以按看 https://github.com/BrunoScheufler/blog-code-examples/tree/master/choosing-go-web-framework

[2021-01-25 14:52] KScaesar commented on #3
我以為之前的討論
有解釋 web 目錄, 不會放 go 程式碼
route.go 我覺得要放 internal 內部
在外面的話 應該是無法 access

我可能會
在 internal 目錄 建立一個 http 或 api 的目錄
把 route.go 放在其中

[2021-01-25 22:25] Julian-Chu commented on #7
純http router可以參考 https://github.com/julienschmidt/go-http-routing-benchmark
目前討論有點把webframework跟http router混在一起了，像是gin是framework，gin的router是用 [http router](https://github.com/julienschmidt/httprouter)
可能要先確定一下 有沒有要用到framework的其他組件，如果不用framework的話 可能要手刻一些基本component
framework(含router)  vs router + 自製component

[2021-01-26 16:59] Julian-Chu commented on #6
assign給我吧(ps: slack裡面認領了)
我應該會先弄makefile command
然後CI直接call makefile

個人贊成 @mkfsn  引入linter的意見， 可以一併在這個issue處理

[2021-01-27 07:14] Markogoodman commented on #7
如果沒辦法確定會不會用到其他組建的話要怎麼選啊ＸＤＤ 直接選功能最多的嗎(X

我公司也是用  https://github.com/julienschmidt/httprouter 外面再包一點自己用的 middleware 而已

[2021-01-27 08:10] mkfsn commented on #7
@Julian-Chu 對，原先我只是想用個 http route 這樣我們就不用自己在那邊刻 parsing 的邏輯。不過既然有人提了 Gin 我覺得也可以一起放進來討論這樣 XD

@Markogoodman 就目前我覺得（個人淺見）應該是需要 http router 而已，所以應該就先看哪個 library 效能比較好、易讀跟易維護嗎？ ~再不然就是開投票了XD~

[2021-01-27 12:50] Markogoodman commented on #7
同意覺得可以先用 http router XD

我找時間把route那邊先改一下

[2021-01-27 20:08] Julian-Chu commented on #6
目前跑出來的CI流程結果可以在這看到 [link](https://github.com/Julian-Chu/Ptt-backend/actions)

目前linter掃出一些問題所以紅燈， 等review流程完在修正

[2021-01-27 20:18] Julian-Chu commented on #7
看不同語言社群，gopher大概會說make it simple, 手刻吧(大誤  XD

[2021-01-27 20:25] Julian-Chu commented on #7
[gin-gonic/gin#2016](https://github.com/gin-gonic/gin/issues/2016)
httprouter在路由設計上好像有某些限制，看到不少抱怨，httprouter也說v2會改正(不過不知道v2何時才來...)
@Markogoodman @asymptoter  你們用起來有感覺嗎(我沒用過httprouter)

[2021-01-28 00:51] mkfsn commented on #7
我撞到這個很多次 ... XD
不過我感覺滿看 API 設計的，說不定在這個 project 不會撞到

[2021-01-28 01:22] PichuChen commented on #7
@Julian-Chu @mkfsn
限制的部分可以在這個 ISSUE 在重提一次嗎？ 這樣比較好讓其他人進入狀況

[2021-01-28 03:48] Markogoodman commented on #7
自己比較常遇到的是
/account/:user_id
/account/me
這種會撞

處理的方法就是換路徑或是只留第一個然後在code裡面處理
if user_id == "me"{XXX}
else {OOO}
不知道有沒有其他情況

這種解法其實很醜ＸＤＤ
gorilla mux因為是用 slice 所以可能不會有問題(?

[2021-01-28 03:58] mkfsn commented on #7
FYR: https://yushuanhsieh.github.io/post/2020-01-21-golang-router/

這篇有提到：

[2021-01-28 07:01] PichuChen opened #13 "[功能] 找尋同標題文章"
根據 PTT APP 規劃，後台應該要提供找尋同標題文章的功能

預定透過 /v1/boards/{{board_id}}/articles API 實作

修改 PTT 後端系統協定增加參數 ?title={{search_title_id}} 來完成

初期演算法先以 O(n) 的演算法進行實作即可， n 為某看板文章數量。

[2021-01-28 07:02] PichuChen opened #14 "[功能] 找同作者文章"
根據 PTT APP 規劃，後台應該要提供找尋同樣作者的功能

預定透過 /v1/boards/{{board_id}}/articles API 實作

修改 PTT 後端系統協定增加參數 ?author={{search_author_id}} 來完成

初期演算法先以 O(n) 的演算法進行實作即可， n 為某看板文章數量。

[2021-01-28 11:55] Julian-Chu commented on #7
我看了一下 api文件 ，目前沒有會衝突到的設計，列一下目前想到的例子，以看板跟文章為例
[code]
轉成gin的語法  :表示wildcard route
[code]
假設在boards底下新增路由
以下會跟/v1/boards/:board_id 和  /v1/boards/:board_id/.....衝突
[code]
在board_id底下新增路由
以下跟/v1/boards/:board_id/articles 和 /v1/boards/:board_id/information衝突
[code]
在articles底下新增路由
跟  /v1/boards/:board_id/articles/:filename 衝突
[code]
path prefix來決定是否同一層
同一層有wildcard route的話 那麼只能有一個route而且是同一個命名的wildcard

[2021-01-28 12:33] unknowntpo opened #15 "提案: 在 README.md 新增 Quick Start 教學"
我遇到了一個問題，
在 執行程式時缺少許多 config file, 但我不知道該看哪個文件來了解他們的命名規則，以及該如何設定這些 config file。
[code]
是否能在 README.md 新增能讓程式快速跑起來的教學呢？
e.g. [docker/compose](https://github.com/docker/compose#quick-start)

[2021-01-28 13:28] PichuChen commented on #15
這個不是缺少 config file, 而是缺少 bbs home 的檔案

bbs home 的檔案是實際上 BBS 的文章以及使用者資料等等的檔案

可以到這邊下載
http://pttapp.cc/data-archives/

或是走以下指令
[code]

然後修改 default config 把 BBS Home 設定到 ./home/bbs 或者是cp default config 成 config.toml 把 BBSHome 設定下去。

[2021-01-28 14:13] PichuChen commented on #3
https://github.com/Ptt-official-app/Ptt-backend#%E8%B3%87%E6%96%99%E5%A4%BE%E7%B5%90%E6%A7%8B

提醒一下，這邊可能也要修改

[2021-01-28 15:06] mkfsn opened #16 "Clean Architecture"
嗨大家好，為了寫出更健全的系統，我想導入 Clean Architecture 到這個專案。

跟 @PichuChen 討論過後，覺得最好還是讓每個人都可以參與，所以決定開個 issue 來 ~讓大家鞭~ 跟大家一起討論，我會盡我所能的解釋我想做的，如果有描述不清楚的還請見諒，也歡迎指出你覺得不妥的地方，甚至更歡迎提供更好的做法，目標是能夠寫出更好的系統，也有助於自我學習，感謝！

回到正題，關於 Clean Architecture，我是參考這幾篇文章：
- [Trying Clean Architecture on Golang](https://medium.com/hackernoon/golang-clean-archithecture-efd6d7c43047)
- [DAY8 - 讓你的 Backend 萬物皆虛，萬事皆可測 - Clean Architecture 測試篇

[2021-01-28 15:10] PichuChen commented on #16
s/RMDB/RDB/ or RDBMS?

[2021-01-28 15:12] mkfsn commented on #16
@PichuChen  感謝，已修正！

[2021-01-28 15:12] PichuChen commented on #16
按照這個做法的話，假如要新增水球功能的話，那應該是 `usecase`, `repository`, `http` 各要新增一個檔案了？

[2021-01-28 15:15] mkfsn commented on #16
@PichuChen 不一定會需要新增檔案，不過你的意思應該是三個 layer 都會動到？如果是這個問題的話，我想答案是肯定的，有很大的機會需要三個 layer 都改沒有錯。

[2021-01-28 15:58] Julian-Chu commented on #16
還可加上pkg/module切分 ，模組+分層，但對初期專案可能有點overdesign了
[code]

[2021-01-28 16:06] Julian-Chu commented on #16
我個人覺得 @mkfsn 的分法是ok的，依賴的方向性應該不會有問題
只要 @PichuChen 覺得這種分法方便分配工作那就可以考慮先用了， 有需要在邊做邊調整~

[2021-01-28 16:15] PichuChen commented on #15
https://github.com/Ptt-official-app/Ptt-backend/blob/development/FOR_DEVELOPERS.md

做了一個暫時的版本，請 @unknowntpo 幫忙確認有沒有需要補充的。

[2021-01-28 17:42] Markogoodman commented on #16
覺得分層很棒 會好維護很多
發個問

1. logger
logger在每個usecase中和httpDelivery都有一個，或許可以留一個讓大家都可以用就好?
因為 logger 跟 db 不一樣，是個只寫不讀的東西，所以應該不會有大家互相牽制的問題XD 或著是多個logger有特別的用意嗎

2. 命名問題
func (delivery *httpDelivery)
receiver 需要重新命名嗎，因為之後有可能會有graphqlDelivery之類的，現在叫delivery之後可能會不知道叫啥

3.  repo和usecase
想問的是 user usecase 這邊的邏輯，基本上都不會使用到 board 那邊的資料嗎
舉個例子 userUsecase struct 裡面包了 repository.UserRepository 可以存取 user 的資料，但就碰不到 board

[2021-01-28 18:24] PichuChen opened #17 "[建議] 把原本 PichuChen/go-bbs 修改為 Ptt-official-app/go-bbs"
**原本作法的問題 / Solved Problem**
- 原本是連結到  PichuChen/go-bbs ，假如不修改的話接下來開發會比較不方便

**實作細節 / Details of Implement**
- @denkeni  說取代就行了

**期程 / Schedule**
N/A
**相關文件 / Documents**
N/A

[2021-01-28 18:27] PichuChen opened #18 "[建議] 把在 go-bbs 的 ISSUE_TEMPLATE 複製一份過來"
**原本作法的問題 / Solved Problem**
- 原本就沒有 ISSUE TEMPLATE 很不方便。

**實作細節 / Details of Implement**
- 從  https://github.com/Ptt-official-app/go-bbs/tree/development/.github/ISSUE_TEMPLATE 把東西複製過來這個專案
- 如果可以把名稱改好看一點應該會更好

**期程 / Schedule**
N/A

**相關文件 / Documents**
https://github.com/Ptt-official-app/go-bbs/tree/development/.github/ISSUE_TEMPLATE

[2021-01-28 23:19] hxrgjo commented on #16
看起來不錯，不過有個疑問
internal 這個資料夾感覺沒有太大用處，一定需要它嗎?

[2021-01-29 01:05] mkfsn commented on #16
@Julian-Chu  感謝意見！我覺得分模組更好！😄 不過也因為先前有跟 @PichuChen 討論到，盡量不要一下子提高門檻，造成有更多人要維護的時候學習成本太高，所以砍了一砍就是我上面提出的架構 XD 但我覺得這個是可以再提出來討論的！

---

@Markogoodman 感謝意見跟提問～讓我逐一回答您的問題 :)

這個問題在這邊有被提過一次：
https://github.com/Ptt-official-app/Ptt-backend/issues/3#issuecomment-763712256
https://github.com/Ptt-official-app/Ptt-backend/issues/3#issuecomment-763717065

因為沒有結論所以就先暫時擱著，現在放多個 logger 的主要原因是改動比較不會那麼大，至少不用一直把同一個 log

[2021-01-29 02:40] ars0915 commented on #16
覺得 @mkfsn 的分層很棒，在 repository 和 usecase 的分層明確可以減少很多維護成本。
對於 logger 我個人的想法是可以像是 helper 的用法讓所有 package 共用，不過這樣就會像 [#3 (comment)](https://github.com/Ptt-official-app/Ptt-backend/issues/3#issuecomment-763712256) 的疑問一樣。

[2021-01-29 04:22] PichuChen commented on #16
看起來 logger 的部分有兩種做法：
* 一種是在每個需要的檔案都 import 一次。
* 另外一種是在每個 package 裡面都 new 一次。

以記憶體使用而言，在 Logger 裡面沒有存放東西的前提下應該是相等（都是零）。
以維護的複雜度而言，其實後面修改 internal logger 裡的東西就行了。

所以兩種做法看起來沒有顯著的優劣，因此這部分我建議先暫停討論，以 @mkfsn 現行規劃為主來進行這次修改的討論。

日後如果確定將 @mkfsn 的 layout 作法合併進來後還感覺到有不足的地方時再繼續進行討論。

[2021-01-29 12:47] Julian-Chu commented on #7
我評估後的想法是 只要隔開一層的話 後續萬一要抽換的範圍影響不大，
其他人遇到的問題是gin無法單獨抽換router又跟gin綁很緊， 如果只用router加上以可能抽換為前提去設計coding的話應該不會有遇到相同的問題

[2021-01-29 17:33] Markogoodman commented on #16
原來logger有其他地方了 那就先不再這邊討論XD

我覺得這樣解法OK~

我之前分層的方法就是只有各大層而已，
例如就只有一個
type UseCase struct{
    repo  Repository
}
然後在 UseCase 和 Repository 上面實作所有的 method
這樣是不用分太細，不過我們那時沒有用interface 測試都是直接用DB
現在這樣interface分細一點可能unit test會比較好寫 (嗎

[2021-01-29 17:37] Markogoodman commented on #7
分層之後應該要換router不難
現在就是要看大家接不接受這個路徑容易撞的事情XD
或著是要換其他不會撞的譬如 chi  or mux

[2021-01-30 02:30] ars0915 commented on #16
我的理解是，各層都會依照對應的職責去切分 struct，就算不是用 interface 也是會有多個 repository 和 usecase，這種做法在程式的維護性和可讀性是比較高的。
至於分細一點會不會比較好寫 unit test ，這點我覺得不一定，可能要看大家對於好寫的定義，例如有些人可能覺得一個 usecase 的 unit test 需要去 mock 不只一個 repository 很麻煩等等。
我個人是比較傾向於依職責分細一點。

[2021-01-30 02:39] mkfsn commented on #16
@Markogoodman 感謝～我覺得這個主意不錯耶！這個好像比較簡單一點。

我之所以會那樣分是因為我的經驗上，repository 可能會有連到不同的 DB 。例如某個 repository 是用 MongoDB ，另外一個則是用 MySQL 這樣。但我覺得如果要降低門檻讓更多人可以參與的話，的確是一開始不用設計的那麼複雜。以我們的 case 我猜 DB 只會有一種？然後應該不會有不同的 delivery layer 使用不同的 usecase 吧？如果有錯再煩請指出～

我想只要 interface 有訂好，應該之後要再切成不同的 repository 也不難才對！就看其他人有什麼意見囉？

[2021-01-30 02:49] mkfsn opened #21 "如何設計/使用 logger?"
看起來 logger 的部分有兩種做法：
* 一種是在每個需要的檔案都 import 一次。
* 另外一種是在每個 package 裡面都 new 一次。

以記憶體使用而言，在 Logger 裡面沒有存放東西的前提下應該是相等（都是零）。
以維護的複雜度而言，其實後面修改 internal logger 裡的東西就行了。

日後如果確定將 #16  的 layout 作法合併進來後還感覺到有不足的地方時再繼續進行討論。

_Originally posted by @PichuChen in https://github.com/Ptt-official-app/Ptt-backend/issues/16#issuecomment-769565460_

[2021-01-30 03:09] itsarbit commented on #21
I am more leaning toward the first option. The code could be cleaner.

[2021-01-30 04:06] asymptoter commented on #21
我提供一下我習慣使用的方式：
首先會在 routing 的地方加上一個 middleware ，假設使用 gin 的話那就是

    r := gin.Default()
    r.USE(logging)
    r.GET("/api/v1/boards", getBoards)
    r.POST("/api/v1/boards", createBoard)

    func logging(c *gin.Context) {
        logEntry := logging.NewLogEntry()
        ...
        // log some http request information
        ...
        c.Set("logEntry", logEntry)
    }

    func getBoards(c *g

[2021-01-30 06:34] PichuChen commented on #16
如果目前沒有其他反對意見的話，那就看誰要認領這個 ISSUE 進行實作了。

[2021-01-30 09:43] lavaday1225 commented on #18
在主目錄新增 .github/ISSUE_TEMPLATE ，適當修改參考的template內容後複製過來

有需要 PULL_REQUEST_TEMPLATE 嗎？

[2021-01-30 10:06] PichuChen commented on #18
修改部分如果覺得不需要討論的修改可以直接改，覺得需要討論的修改可以在 ISSUE 這邊回應討論之後取得共識在進行。
另外如果這個修改也適合放在 go-bbs 的話那也可以在那邊開 ISSUE 修改。

然後 PULL_REQUEST_TEMPLATE 這個也要，感謝。

[2021-01-30 14:38] Markogoodman commented on #16
問個
實作是指把 @mkfsn 做的  https://github.com/mkfsn/Ptt-backend/tree/feat/clean-architecture
再修成上面說的只有一個usecase和repository嗎
我可以做~

[2021-01-30 15:04] PichuChen commented on #16
@Markogoodman  真是一個出奇不意的認領 ISSUE，基本上是這樣，那就交給你了。

[2021-01-30 17:12] Min-Feng commented on #16
@Markogoodman
@mkfsn

我感覺少了一層 entity 或是 ddd 的 domain 層
domain 層是主要邏輯 的撰寫處
讓相關物件的 method 有對應的邏輯
把業務邏輯 與 持久化的責任分離, 也避免依賴 io 更好執行單元測試

usecase 是
調用 domain 層 與外部 io 溝通的地方

repository 實現 domain 層的 相關抽象

不確定你說這句話的意思
感覺會有貧血模型的問題
因為沒看到 domain 層的出現

[2021-01-31 02:21] itsarbit commented on #16
整體看起來還不錯 目前有些nit pick想提出來 不過可以由實作的人決定
1. `delivery` 的層級 最好實作`delivery.go` with an interface 確保之後換成gin的時候可以更快的plug and play.
2. 將不是在`internal` `cmd` 下面的package移動到`pkg` layer作為共用的package layer.
3. 類似第一點任何package都要實作`package.go`作為interface layer and `doc.go` 來做package的說明

[2021-01-31 02:35] KScaesar commented on #16
驅動(http)層
其實已經很薄 沒做什麼事情
只呼叫 用例層, 拿到 回傳值
再寫入到 http 的 response
我覺得 介面 可以只定義在 domain(entity) 和 usecase 層就好

http 即使定義了介面
似乎對 單元測試 的幫助也不會太多
只能測試是否 寫入的 view model 格式 符合預期
這部份注入 mock.usecase 就可以作到

參考文章
[再談Clean Architecture三原則](http://teddy-chen-tw.blogspot.com/2020/08/clean-architecture.html)

[2021-01-31 06:49] #18 closed, assigned to lavaday1225

[2021-01-31 07:05] Markogoodman commented on #16
再麻煩大家幫看了 https://github.com/Ptt-official-app/Ptt-backend/pull/23

[2021-01-31 09:04] ars0915 commented on #14
可以assign給我嗎?

[2021-01-31 09:19] ars0915 commented on #13
可以assign給我嗎?

[2021-01-31 12:59] PichuChen commented on #13
@ars0915  所以你那邊目前是一次有兩個ISSUE?

[2021-01-31 13:05] ars0915 commented on #13
是的，因為這兩個功能感覺是在同一支API

[2021-01-31 13:06] PichuChen commented on #13
了解，因為我很弱的發現還有第三個 ISSUE 可能也是同個修改點，查詢推文XD

[2021-01-31 13:07] ars0915 commented on #13
推文數那個嗎xD 本來有想說要不要一起做了

[2021-01-31 13:19] Julian-Chu commented on #16
另外有兩點看了code以後覺得可以討論一下
DB interface需要獨立出來一個pkg嗎， 看起來比較偏向是repo內部需要的interface，目前只有mock跟repo會需要它，但是mock DB也是為了repo，可以考慮移進去repo

另外是httpDelivery的命名不太常見, 也許用App/Api/Service ..etc.會比較符合一般的習慣

[2021-01-31 13:39] ggary9424 opened #25 "[主線] [PTT] 實作發文功能"
### 實作細節 / Details of Implement
實作 PTT 很重要的發文功能

- [x] Delivery #177
- [x] Usecase #179
- [x] Repository #180

#### API 細節
**Request**
- Method: `POST`
- Path: `/v1/boards/{{board_id}}/articles`
- Body:
[code]
**Response**
- Status: `200`
- Body:
[code]

### 期程 / Schedule
- 討論時間： 一週以內（2/7 前）
- 實作時間： 待訂
- 確認時間： 待訂

### 相關文件 / Documents
https://docs.google.com/document/d/18DsZOyrlr5BIl2kKxZH7P2QxFLG

[2021-01-31 13:54] PichuChen commented on #25
送進去的東西不是 POST, 應該是 `x-www-urlencoded` 的格式

[2021-01-31 14:15] PichuChen commented on #16
稍微有點聽不懂，有 tree 提供參考嗎？

[2021-01-31 15:15] Julian-Chu commented on #16
[code]
PR的結構如上圖(比起 @mkfsn 的多了db跟mock)，我想討論的是獨立出一個db package看起來不是必要
https://github.com/Markogoodman/Ptt-backend/blob/feat/clean-architecture/internal/db/db.go
db.go 裡面只有含一個DB interface，但是依賴這個interface的只有repo跟mock，所以看起來這個pkg可以拿掉，把DB interface移入repo

另一個是delivery層的 type httpDelivery struct
https://github.com/Markogoodman/Ptt-backend/blob/feat/clean-architecture/internal/delivery/http/http.go#L11
因為我在

[2021-01-31 15:40] PichuChen commented on #16
@Julian-Chu @Markogoodman 的確那個 db.go 看起來是不需要

[2021-01-31 15:45] PichuChen commented on #13
那你就再開一個 ISSUE 一起做好了

[2021-01-31 15:52] Markogoodman commented on #16
這個東西當初我也猶豫了滿久到底要不要切開
最後決定切開的原因是，原本的 repo 和 bbs.DB 是屬於上下不同層級的東西
現在做出來的 db interface 應該是是屬於和 bbs.DB 的相同層級
所以雖然內容很少，我還是把他切出來了
想問的是 db 那層，之後應該不會要自己實作東西吧?
如果不會的話我覺得可以放回 repo

delivery 應該是參考最上面那篇文章中兩個連結所命名的
這個同意有點怪怪的不知道是不是命名的關係，改成 httpDelivery.Serve() 會好點嗎
我自己的經驗上做的那層的東西通常都是叫做 server，然後 server.Serve() 這樣
可以看大家覺得哪個英文順眼就改哪個XD

[2021-01-31 16:25] ars0915 commented on #13
@PichuChen 測試的部份要不要等 #16 merge 後再寫呢?

[2021-01-31 16:57] mkfsn commented on #16
@Markogoodman 先感謝認領！ ❤️

---

最後決定切開的原因是，原本的 repo 和 bbs.DB 是屬於上下不同層級的東西
現在做出來的 db interface 應該是是屬於和 bbs.DB 的相同層級
所以雖然內容很少，我還是把他切出來了
想問的是 db 那層，之後應該不會要自己實作東西吧?
如果不會的話我覺得可以放回 repo

@Markogoodman 我的理解是不需要 db 那層，因為 db 那層的實作應該是會在其他 library ，然後會是去實作 https://github.com/Ptt-official-app/go-bbs/blob/development/bbs.go#L89 所以應該是不用重複定義 interface? 這部分要請 @PichuChen 確認一下我的理解有沒有錯。

---

https://github.com/Markog

[2021-01-31 17:01] ars0915 commented on #16
想問一下，看到 #23 在驗證 token `CheckPermission` 的部份是放在 usecase 裡，之後有沒有要抽到middleware 的打算呢?

[2021-01-31 17:45] ars0915 opened #26 "[主線] [PTT] 實作找尋推文數以上文章"
### 實作細節 / Details of Implement

在 `/v1/boards/{{board_id}}/articles` 新增參數 recommend_cnt
取得推文數 >= recommend_cnt 的文章列表
初期演算法先以 O(n) 的演算法進行實作即可， n 為某看板文章數量。
### 期程 / Schedule

- 討論時間： 一週，到2/7
- 實作時間： 一天，到2/8
- 確認時間： 待定
### 相關文件 / Documents

https://docs.google.com/document/d/18DsZOyrlr5BIl2kKxZH7P2QxFLG02xL2SO0PzVHVY3k/edit#heading=h.bnhpxsiwnbey

[2021-01-31 18:06] PichuChen commented on #26
參數我進行調整一下，我讓他支援 _gt _ge _lt _le ... ... 雖然先支援 _ge 應該就行了

[2021-02-01 01:34] KScaesar commented on #16
@Julian-Chu @Markogoodman @PichuChen

這個 db 的定義 我覺得有兩個問題
1. 這個介面 應該屬於 go-bbs, 而不是 Ptt-backend
    go-bbs 我覺得比較像是 整潔架構中的 entity 和 Infra 層
    Ptt-backend, 我還是覺得, 比較像 usecase 和 driving 層
    repo 資料夾我怎麼看, 都覺得他像是 Infra 層, 用來實現 entity 層的 相關介面
    可能移到 go-bbs 會比較好?
2. 定義的 method 太過龐大
    BoardRecord, UserRecord, ArticleFile ... 由一個 介面承擔全部, 太重了
    應該先確定, 要把那些元件 組合在一起(我指的是 ddd 的聚合, ddd 中的 repo 是跟隨聚合的)

[2021-02-01 02:01] KScaesar commented on #16
這個同意有點怪怪的不知道是不是命名的關係，改成 httpDelivery.Serve() 會好點嗎
我自己的經驗上做的那層的東西通常都是叫做 server，然後 server.Serve() 這樣
可以看大家覺得哪個英文順眼就改哪個XD

個人覺得 是因為 httpDelivery 被分配了
過多且錯誤職責(不符合命名的職責), 所以才看起來奇怪
[https://github.com/Markogoodman/Ptt-backend/blob/feat/clean-architecture/internal/delivery/http/http.go#L24](https://github.com/Markogoodman/Ptt-backend/blob/feat/clean-architecture/internal/delivery/http/http.go#L24)

httpD

[2021-02-01 03:21] Markogoodman commented on #16
@mkfsn @Min-Feng

原本使用的 *bbs.DB 是 https://github.com/Ptt-official-app/go-bbs/blob/development/bbs.go#L84 這個 struct
這 struct 的 method 再去用裡面的 connector 組成自己的 method
ptt-backend 用到的都是這個 DB struct 的 method，並沒有直接去使用 Connector 上的東西
所以應該還是需要自己寫一個 interface

[2021-02-01 03:57] ars0915 commented on #26
突然想到，是不是也要能輸入負數，這樣就會變 _le

[2021-02-01 12:44] Markogoodman commented on #16
我整理一下
目前這個架構是依照這文章發展出來的 https://medium.com/hackernoon/golang-clean-archithecture-efd6d7c43047
所以我都以這篇文章為標準，來看我們做的事情對不對
分別是 Models、Repository、Usecase、Delivery
Models 是用來定義資料的 struct 和他的method，我們這邊是依賴 go-bbs 裡面的資料所以不討論
Usecase 目前做的事情就是邏輯，大家好像比較沒意見也先不討論
Delivery 上面還有一些疑問可能大家要再想想怎麼改

Repository 上面討論的疑問
主要是 db 這個 interface 該放在哪（repo、db、go-bbs），還有到底該不該有這個 interface?

文章內對 Repository 的描述如下
1. 功能方面，依照文章內的

[2021-02-01 13:17] chhsiao1981 opened #27 "[BUG] can not reproduce https://pttapp.cc"
### 發生了什麼事？ / The Problem

https://github.com/Ptt-official-app/Ptt-backend/blob/development/FOR_DEVELOPERS.md#deploy-%E5%88%B0-staging-%E7%92%B0%E5%A2%83%E4%BB%A5%E5%8F%8A%E6%AD%A3%E5%BC%8F%E7%92%B0%E5%A2%83%E7%9A%84%E6%96%B9%E6%B3%95
提到 development site 是 https://pttapp.cc

目前看起來 https://pttapp.cc 是使用跟 https://term.ptt.cc 類似的方式跟既有的 pttbbs 站相連.

### 如何重現 / To Reproduce

按照以下 link 無法產生跟 https://ptt

[2021-02-01 13:51] PichuChen commented on #27
目前 FOR_DEVELOPMENT.md 上面提供的是靜態資料，不是和 BBS 站直接連動的動態資料。
然後現在也還沒有提供 VT-100 介面，所以沒辦法用 SSH, Telnet 或者是 WebSocket 連線是正常的。

如果想要增加靜態資料的內容，可以在 pttapp.cc 上面新增文章之類的。
如果想要測試實際 API 連結動態資料的結果，可以直接對 https://pttapp.cc/v1/token ... 下 Request ，在這邊如果新增文章的話會即時看到 API 抓回的內容有變動。

[2021-02-01 14:04] mkfsn commented on #16
@Markogoodman 快速回一下，先不論要不要留著 db interface ，我贊成用到 db 的測試都用 integration test XD 然後現在好像已經有 docker image 可以用？

[2021-02-01 14:26] KScaesar commented on #16
db 的測試都用 integration test
但 bbs 的 整合測試, 應該就是要讀取底層檔案階層格式吧
要把這些檔案 放進容器進行整合測試？

以前只有 for 資料庫進行整合測試
不確定 對於 bbs 格式 如何進行整合測試

用 docker 進行整合測試
我查到的有
[https://pkg.go.dev/github.com/ory/dockertest/v3](https://pkg.go.dev/github.com/ory/dockertest/v3)
[https://github.com/orlangure/gnomock](https://github.com/orlangure/gnomock)

[2021-02-01 14:27] PichuChen commented on #16
其實目前這個 ISSUE 應該只有涉及程式碼位置的搬動而已，暫時不涉及 interface 的增減，如果要做 interface 的增減應該要另外開 ISSUE。

[2021-02-01 14:45] Markogoodman commented on #16
沒錯冏

我先來把db那邊拿掉

這樣的話 delivery 那邊是不是也該在開一個新 issue 來決定要怎麼 refactor阿

還有上面的 integration test 部份

不然這串可能討論不完

[2021-02-02 08:42] Markogoodman commented on #16
補了一些註解，但很多func我其實不知道實際功能所以只是敘述而已，或許之後有人可幫補

目前該改的地方應該差不多了 看大家還有沒有意見～

[2021-02-02 13:39] rainlay commented on #25
HI~ 這張票如果沒人認領的話我可以試試

不過 go-bbs 這邊已經有 add article 可以使用了嗎？

還是先實做出 API 介面即可？

[2021-02-02 15:40] tanyeun opened #29 "[建議] logger增加debug level的功能"
### 原本作法的問題 / Existed Problem
目前所有的logger message都會直接print出來
Example
![image](https://user-images.githubusercontent.com/22489112/106622505-a14fab80-65ae-11eb-8974-41e96c4477f1.png)

### 實作細節 / Details of Implement
跟 @PichuChen 稍微討論過了一下，有兩種做法
一個是在main那邊加上可以吃command line option的架構
我個人是比較喜歡這種作法，因為很適合習慣用command line的開發者使用
而且彈性會比在config file裡面加參數來得彈性

初步想法是:

./Ptt-backend --logLevel debug
./Ptt-backen

[2021-02-03 09:59] TimoChiang opened #30 "[建議] RESTFul API 文件轉移至swagger上維護"
### 原本作法的問題 / Existed Problem

（跟#5 的內容有點不一樣所以另外開了一個issue想跟大家討論）
目前RESTful API列表在Google Docs「[PTT 後端系統協定](https://docs.google.com/document/d/18DsZOyrlr5BIl2kKxZH7P2QxFLG02xL2SO0PzVHVY3k/edit#heading=h.aapnwrfqwltx)」上維護，在查找時稍微有點不方便。

### 實作細節 / Details of Implement

看了一下內容似乎可以寫進swagger裡面，除了介面較清楚之外也比Google Docs來的好管理版本。

目前的想法是，把原文件內容手動轉成swagger的格式檔案，然後把該檔案在放在本repo中維護。
開發時可以藉由docker在localhost查看swagge

[2021-02-03 13:00] rainlay commented on #29
可以加在類似環境變數檔案的地方如 config.toml, 也相應簡單直覺，

如果以後有不同的測試環境，可以於 ci/cd 或 env 設定不同的 log level。(當然在 go build 加入 flag 也是能達到相同效果)

[2021-02-03 21:08] PichuChen commented on #25
可以看右上角，目前這個ISSUE由 @ggary9424 實作中，可以在 Slack 問一下他目前狀況有沒有需要幫忙的。

[2021-02-04 02:21] maxjkfc commented on #21
1. 先用單例模式建立實例後，在每一次需要時都 import 使用，這是蠻簡單方便的方法。
2. 每個階段的過程使用 `context.WithValue` 存放要紀錄的內容，在最後使用 `log.WithContext(ctx).Error()` 來將在context 內的紀錄打印出來，這也是個能找出歷程方式

[2021-02-04 05:29] PichuChen commented on #21
我原先的想像是沒有context 像是 syslog 那樣子的設計，但是你提到紀錄 context 的設計我認為很好。

不過紀錄 context 的話可能有兩個層次的 context 要考慮，一個是 process 等級的 context, 另外一個是 request 的 context 。

[2021-02-04 09:09] PichuChen commented on #30
有其他人有興趣跳這個坑嗎？ 看起來一開始要先切在另外的 Branch

[2021-02-04 09:32] DeanXu2357 commented on #30
我來幫忙

[2021-02-04 10:09] wagaru commented on #30
還需要人力的話我也可以幫忙~😀

[2021-02-04 14:49] sageofcross commented on #30
看起來是要手動編寫 Swagger 文件而非透過套件來自動產生嗎？

可能有的問題是 Code 修改後忘了改對應 Swagger 規格，這點在未來 Review 時要注意 XD

[2021-02-04 15:12] sageofcross commented on #21
原生的 context 套件在使用 WithValue 時需要注意一下，它內部的實作就是個俄羅斯娃娃，而且容易演變成一個 `map[interface{}]interface{}` 的存在，使用時要小心點。

[2021-02-04 15:22] tanyeun opened #31 "[BUG] FOR_DEVELOPERS在clean_arch之後不能用./Ptt-backend"
### 發生了什麼事？ / The Problem
master merge clean_arch之後，操作步驟有所改變

### 如何重現 / To Reproduce
go build要改到cmd

### 預期的行為 / Expected behavior
能夠編譯執行

### 螢幕截圖 / Screenshots
![image](https://user-images.githubusercontent.com/22489112/106914338-e22afa00-673f-11eb-8cf2-c63fe9d555bf.png)

### 開發環境 / Environment
Ubuntu 16.04

[2021-02-04 15:43] maxjkfc commented on #21
的確沒有處理好容易會引發這個問題，這邊我可以研究一下，寫個範例跟大家討論看看，是否可以這樣處理

[2021-02-04 15:48] tanyeun opened #33 "[BUG] 使用者沒有我的最愛的時候，後端會有runtime error"
### 發生了什麼事？ / The Problem
curl http://localhost:8081/v1/users/foobar/favorites
但是foobar沒有我的最愛

### 如何重現 / To Reproduce
1. 選一個沒有我的最愛的帳號, eg: foobar
2. 然後呼叫 curl http://localhost:8081/v1/users/foobar/favorites

4. 然後產生runtime error，但是主程式不會死掉

### 預期的行為 / Expected behavior
主程式可以handle exception而不會導致runtime error

### 螢幕截圖 / Screenshots
![image](https://user-images.githubusercontent.com/22489112/10691

[2021-02-04 15:54] ggary9424 commented on #25
歡迎 Slack 我，看我們要怎麼分配，基本上我現在還沒動工。
Slack 上找 Gary（白衣服戴帽子那位）！

[2021-02-04 16:14] #31 closed, assigned to nobody

[2021-02-04 16:26] tanyeun commented on #29
相關討論 #21

[2021-02-04 16:48] Julian-Chu opened #34 "[BUG] make.bash/make.bat 部分指令失效"
### 發生了什麼事？ / The Problem
- 合併到develop後make.bash test-unit失效， 新專案架構後測試檔案位址改變
- 環境變數CGO_ENABLED=1或沒有設定的情況，make.bash test-integration失效

### 如何重現 / To Reproduce

![image](https://user-images.githubusercontent.com/7224544/106925660-914fdd00-6710-11eb-9c94-eff864b1e5af.png)
![image](https://user-images.githubusercontent.com/7224544/106925712-a167bc80-6710-11eb-8503-cecea5149a6b.png)

 建議修復方案:
- 增加 ./.

[2021-02-04 16:52] Julian-Chu commented on #34
自己的bug自己修， 可以一併跟bat golangci-version hardcode的部分一併處理

[2021-02-05 03:31] y2468101216 opened #36 "[建議] 增加測試"
### 原本作法的問題 / Existed Problem
目前部分 api 沒有測試
此 issue 會隨著專案增加新 api 而改變

### 實作細節 / Details of Implement
參考原有的 route_user_test.go 下去寫

### 期程 / Schedule

- [x] route_boards_treasures_test.go :  未指派  #73
- [x] route_borads_test.go : 進行中 #70
- [x] route_borads_articles_test.go : 未指派 #74
- [x] route_classes_test.go : 完成，#57
- [x] route_token_test.go : 完成，pr 審核中 #37

### 相關文件 / Documents
參考官方文件

[2021-02-05 03:34] #34 closed, assigned to nobody

[2021-02-05 03:35] PichuChen commented on #36
測試資料的帳號密碼可以透過 Slack 詢問

[2021-02-05 03:38] PichuChen commented on #30
我先把 ISSUE Assign 給 @DeanXu2357 完成之後再請 @wagaru 和 @TimoChiang 幫忙 review?

[2021-02-05 03:55] TimoChiang commented on #30
稍微查了一下套件的部分([go-swagger/go-swagger](https://github.com/go-swagger/go-swagger)、[swaggo/swag](https://github.com/swaggo/swag)）
考慮到以下幾點：
- 依照目前的route設計試了一下套件，好像沒辦法正常生成，為了這個改設計感覺不妥
- 自動生成的內容可能還是有它的侷限，沒辦法涵蓋全部
- 目前穩定的套件還是只支援到swagger 2.0(OpenAPI 2.0)，想採用較新的OpenAPI 3.0

似乎還是手動比較適合～

這就靠大家一起幫忙維護了XD

既然看起來大家沒意見的話，我提議一下規格：

- 檔案格式：`yaml`
- swagger版本：OpenAPI 3.0

沒問題的話就拜託 @DeanXu2357 囉～

[2021-02-05 04:12] y2468101216 opened #38 "[建議] golang code style"
### 原本作法的問題 / Existed Problem
目前 CI 有跑 golangci-lint 可能需要 code style，例如 :

1. 官方庫提供的 function err 要不要接(ex: json.Unmarshal)
2. 要不要全面跑 go fmt，強烈建議要

### 實作細節 / Details of Implement
1. 在專案底下增加 .golangci.yaml
2. ci cd 自動執行 go fmt
3. go mod add golangci-lint

### 期程 / Schedule
- 討論時間： 到過年後，2/22
- 實作時間： 一天
- 確認時間：一天

### 相關文件 / Documents
https://golangci-lint.run/

[2021-02-05 05:19] Markogoodman commented on #21
目前在code裡面還看到滿多log的指令的，感覺可以減少一些

我覺得只要request進來後log一下相關資訊一次就好  例如urlpath method ip 之類的

之後如果發生error的話再 log 即可(覺得可以只在 usecase 層 log 就好)

還有建議可以用 defer 來處理

就不必在每個 if err != nil 的地方都各自弄
[code]

[2021-02-05 07:59] Julian-Chu commented on #38
go fmt是為了檢查的話 golangci 的檢查就包含了
是為了排版的話，那要考慮在git hook跑

[2021-02-05 08:02] Julian-Chu commented on #38
go mod安裝golang-ci不是推薦的方式
![image](https://user-images.githubusercontent.com/7224544/107005837-95234400-6790-11eb-81db-f82448bfdebb.png)

[2021-02-05 09:34] y2468101216 commented on #38
有道理，那改為使用 binary?

然後我看 golang-ci 不是預設會跑 go fmt。

[2021-02-05 11:13] asymptoter commented on #21
我不推薦 error 時只在 usercase log 一次的作法，原因是 route 層也有可能在解析 request 的 parameter 或是 body 時出錯。

這個也不推薦，defer 的話無法知道實際發生錯誤的行數。

[2021-02-05 12:32] chhsiao1981 commented on #30
可參考以下方式移至 swagger 上維護.

https://api.devptt.site:8080/

https://github.com/Ptt-official-app/go-pttbbs/tree/main/apidoc

[2021-02-05 16:16] tanyeun opened #40 "[建議] 更新local資料庫並且做測試的script"
### 原本作法的問題 / Existed Problem
這幾天沒事常常就常常試著改一些code然後用curl跑API測試
很多動作重複做覺得很煩

### 實作細節 / Details of Implement
基本上就是把手動做的動作寫成script

./localtest.bash 會做以下幾件事:
1. 詢問要不要更新home
2. 如果要更新，但是已經存在舊的home，要不要保存(會在後面加unix timestamp)
3. 要不要重新build code

./localtest.bash -m auto
就是不問了，直接做掉(幾個問題都當作是yes)

### 期程 / Schedule
已完成

### 相關文件 / Documents
NA

[2021-02-05 17:10] PichuChen commented on #30
如果直接複製貼上 @chhsiao1981  有可能會有違反 GPL 的問題。

然後避免時程過久風險較大的問題，可以先從小部分開始，例如開一個子 ISSUE 然後關聯指回這個主 ISSUE，然後子 ISSUE 可能只有實作 TOKEN 這個 API 的 YAML 這樣，那一個完成之後就可以有人幫忙把所有 API Endpoint 的子 ISSUE 都開立起來，接著就能在 Slack 宣傳讓新手試試看依樣畫葫蘆來實作。

[2021-02-05 19:32] PichuChen commented on #40
我知道為什麼你會需要頻繁改 Code了，基本上在測試 Ptt-backend 的時候可以用個假的 go-bbs driver 來提供資料，然後實際上需要使用靜態資料測試的部分可以用 go-bbs 這個套件進行測試開發。

[2021-02-06 01:10] mkfsn commented on #16
非常感謝大家的參與跟意見！ #23 被 merge 了之後，我想我們可以先 close 這個 issue。

如果有任何問題我們就開另一張 issue 討論吧～

[2021-02-06 01:10] #16 closed, assigned to Markogoodman

[2021-02-06 02:49] chhsiao1981 commented on #21
可考慮

https://github.com/spf13/jwalterweatherman
https://github.com/sirupsen/logrus

[2021-02-06 10:17] Markogoodman commented on #21
抱歉我前面可能有點沒講清楚，我的想法是 delivery 層級的錯誤應該都很類似，譬如你說的解 param 出現錯誤 或著是 middleware 中做 permission check的部分出錯
在整個 delivery handler 處理完後一次 log 就好
可以參考 gin middleware logger 的作法
https://github.com/gin-contrib/logger/blob/3796188ec8bf8bd11cb4589852f06433f8b117ce/logger.go#L23

是說這個可以舉個例子嗎?
我的想像中，一個func下面呼叫的不同func出現的錯誤應該只有少部分會相同
例如下面這個，我想說 DoSomethingA 與 DoSomethingA 他們出現的error應該會差滿多的，所以error資訊有正確紀錄的話應該還是看的出來是哪邊

[2021-02-06 11:18] asymptoter commented on #21
疑惑為什麼同一個 function 出現的 error 會差滿多這件事，與此相關想問要怎麼區分 error 發生在上面的 DoSomethingA 還是下面的 DoSomthingA ？

這樣 log 只能知道 call Do 的時候發生了甚麼，但是無法知道 call DoSomethingA 時用了甚麼 parameter，發生了甚麼。

還有一個問題是：有些 function 出 error 是我們期待有可能會發生並且不影響實際執行的，那這時候的 log level 應該要使用較低層級的 level ，或是特別嚴重的 error 時要提高 log level ，但要這樣做的話可能又需要在 defer 裡額外的邏輯判斷。

[2021-02-06 11:22] PichuChen commented on #21
Log Level 的部分一開始是參考 RFC 5424 進行設計的。

[2021-02-06 11:51] Markogoodman commented on #21
我打錯了 "一個func下面呼叫的不同func" 所以應該是 DoSomethingA  和 DoSomethingB
預期他們會處理不同的事情，發生 error 時傳回來的 error 也不太一樣
我是比較少遇到一個func底下會重複呼叫同一個func的情況

如同這邊的 defer 會把 func param 的相關資訊包起來
DoSomethingA 和 DoSomethingB 也可以把相關 param 資訊包起來傳回來

那我覺得這個像是 warning，可以多打沒關係
通常如果遇到有err的情況但可以繼續執行
應該會做類似下面的事情?
[code]

或是定義個
[code]
defer 時候就可以用個統一個func來處理了

[2021-02-06 13:08] asymptoter commented on #21
Golang 中應該會滿常碰到 function 中會重複呼叫同一個 function 的情形，尤其是當系統變的龐大且複雜的時候就更容易產生以下的關係：

[code]
這時候看到有一個 log 顯示 C function 出錯，但是無法直接知道到底是 B call 的時候 C 出錯了，還是 D call 的時候 C 出錯了，就必須要使用 log 中的資訊去慢慢還原，更不用說以下情形：

[code]

這時候就只能祈禱 DoSomething 不是 external package 或是 golang origin package 中的 function 了。

這有一個很大的問題上面也提到了，當 DoSomethingA 和/或 DoSomethingB 是使用外部的 function 的時候就無法保證這件事，既然如此，這樣是不是應該要在出錯的當下記錄起足以 debug 的資訊會比較好

[2021-02-06 13:41] Julian-Chu commented on #38
更新一下，目前make.bash(跟CI)都是用binary， make.bat是用go get

golang-ci 預設跑的是gofmt -s 只用於檢查，不會改變原來的檔案， 而且排版後也要commit，所以我會建議可以給git hook做排版

[2021-02-06 16:25] Markogoodman commented on #21
同意 常常會有這種情況
所以只要在C裡面加入
[code]
就可以避免
B 和 D 裡面都出現這種東西
[code]
如果B與D也都有把自己的資訊包起來傳回給A
到最後A看到的err內容物就會有 呼叫B(D)與相關param 以及呼叫C與相關param

其實我提的 defer 只是想把那些的紀錄資訊搬到被呼叫的 function 裡面
如果呼叫者每次呼叫 function 都需要自己去紀錄資訊一次，那應該會出現滿多重複的

前面那個 defer 只能處理內部function沒錯

當使用的 DoSomething 是外部 function
再多加入資訊就好了
[code]
但如果真的在很多不同function都會呼叫到DoSomething ，且遇到每個 DoSomething 都必需要記錄當下 param and err 資訊

那我認為把 DoSomething 外面再包一層自己的

[2021-02-07 06:15] PichuChen commented on #38
go fmt 的問題應該是 commit 之前通常 IDE 都會跑？

[2021-02-07 10:51] tanyeun commented on #40
還不知道要怎麼使用go-bbs阿

[2021-02-07 12:58] Julian-Chu commented on #38
這個取決於每個人的開發環境設定摟，除非我們把設定也加到到git裡，不然這個不能保證IDE或是editor一定會跑(同時還要考慮不同開發環境)，git hook會比較通用
至於現行go fmt，有CI後 會在PR/push的時候抓出來沒做gofmt,  format後push一次就好了，就是developer要多花一點點功夫這樣

[2021-02-07 15:20] rainlay opened #43 "[建議] 將 token 部分行為抽出到 middleware, 以後其他類似的 code 也以 middleware 實作"
### 原本作法的問題 / Existed Problem
目前許多 API 都會使用到 token CheckPermission or GetUserIdFromToken, 建議可以抽出到為 middleware,
讓 http handler 去重複使用。

### 實作細節 / Details of Implement
將 token 部分 code 抽出至 middleware, 非 API bussiness logic 部分 code 抽成獨立 pkg

### 期程 / Schedule
- 討論時間： 1 ~ 3 天, 到 2/10
- 實作時間： 1 ~ 2 天可完成
- 確認時間： 未定

### 相關文件 / Documents
[mux middleware](https://github.com/gorilla/mux/blob/master/middlewa

[2021-02-08 09:23] PichuChen commented on #38
我覺得 go fmt 要不要加比較不用討論，因為目前 golang 社群應該沒有反對意見才是，無論在哪個階段所有的 Golang 開發者基本上都會同意 go fmt 跑出來的 Coding style，只不過是會不會加了之後變成在開發上發生麻煩，舉例來說，假如有人他只是要更新開發文件的 README，然後沒有安裝 go 的環境，於是就被 hook 卡死沒辦法 git push 了，之類的。

[2021-02-08 09:26] PichuChen commented on #33
panic 的位置在 go-bbs 裡面，我把 ISSUE transfer 過去。

[2021-02-08 15:15] chhsiao1981 commented on #43
可參考以下方式 implement:

https://github.com/Ptt-official-app/go-pttbbs/blob/main/api/api_login_required.go
https://github.com/Ptt-official-app/go-pttbbs/blob/main/api/load_general_boards.go

[2021-02-08 15:31] Julian-Chu commented on #38
那就維持原狀，反正PR時候lint錯誤就請作者設定gofmt後，重新push就好。
有人願意分享開發環境的gofmt設定可以放在FOR_DEVELOPERS.md，repo本身就不做自動gofmt的設定，這樣如何?

[2021-02-08 16:11] PichuChen commented on #38
分享開發環境的設定我有點不懂，因為 gofmt 我印象中他就是一個命令，還是你的意思是各個 IDE 如何設定 gofmt?

[2021-02-08 16:14] PichuChen commented on #43
這個需要另外討論，因為目前在 Token 其實是有權限分級的。

[2021-02-08 16:21] PichuChen commented on #6
目前的 CI 好像沒辦法在 macOS 上面執行？ 他會查不到 go bin

[2021-02-08 16:44] Julian-Chu commented on #38
對，我以為是要討論各個IDE自動用gofmt排版的部分

[2021-02-08 16:45] Julian-Chu commented on #6
有error log嗎， 我看一下， 手邊沒有mac不能測
順便幫我確認一下 gobin是不是有設定了

[2021-02-08 16:46] PichuChen commented on #38
如果是這樣的話那應該是要另外開 ISSUE, 然後修改 FOR_DEVELOPERS.md 增加教學。雖然現階段因爲人數還沒有那麼多，所以請有問題的人到 Slack 發問我們應該還能負擔？

[2021-02-08 17:30] PichuChen commented on #6
預設應該是沒有設定

[2021-02-08 17:53] PichuChen commented on #6
@Julian-Chu 這邊是輸出的 log
[code]

可能要考慮開發者沒有設定 gobin 時應該要怎麼給預設值的問題。
FYI
[code]

[2021-02-08 18:50] PichuChen commented on #36
目前我已經把一些測試檔案放上去了，接下來應該會先新增一個 feature/testing branch 然後讓大家把東西先推過去？

[2021-02-08 18:51] PichuChen commented on #14
@ars0915  可以問一下目前這個 ISSUE 的進度到哪邊了嗎？

[2021-02-08 18:51] PichuChen commented on #13
@ars0915  可以問一下目前這個 ISSUE 的進度到哪邊了嗎？

[2021-02-08 20:25] PichuChen opened #45 "[主線] [PTT] 實作 route_token_test.go"
### 實作細節 / Details of Implement
請參考 #36 內的討論進行實作。

### 期程 / Schedule
- 討論時間：三天 到 2/12
- 實作時間：一天 到 2/13
- 確認時間：一天 到 2/14

### 相關文件 / Documents
 route_user_test.go

[2021-02-08 22:19] Julian-Chu commented on #6
#46  把GOBIN改成 GOPATH/bin ，GOPATH應該就不會有沒設定的問題了

[2021-02-09 01:16] ars0915 commented on #14
這個和 #13 #26 的進度一樣，都在 #24 這個 PR 上，目前測試也寫了，剩調整一下 mock 檔案的位置。

[2021-02-09 01:36] TimoChiang commented on #45
我想幫忙！
不過route_token_test.go好像已經在進行中了？(#37)
是要實作其他未動工的部分嗎？
[code]
---
看完本週影片後，這應該是當作影片範例的子ISSUE的樣子？

[2021-02-09 01:54] PHChenGit commented on #45
I can take this too.

[2021-02-09 01:55] PHChenGit commented on #36
我可以幫忙

[2021-02-09 07:38] y2468101216 commented on #45
可以先從 route_token_test.go 以外的開始開，先從 #36 裡有列的開始即可。

[2021-02-09 07:59] Julian-Chu commented on #38
好啊，因為我覺得gofmt 是每個developer該做的事XD，repo應該負責檢查就好，

[2021-02-09 08:53] TimoChiang opened #47 "[主線] [PTT] 實作 route_classes_test.go"
### 實作細節 / Details of Implement

參考 #36 內的討論進行實作

### 期程 / Schedule
討論時間：三天 到 2/12
實作時間：一天 到 2/13
確認時間：一天 到 2/14

### 相關文件 / Documents
route_user_test.go

[2021-02-09 08:56] TimoChiang commented on #47
這個實作我來幫忙～

[2021-02-09 14:44] KScaesar commented on #21
同意只需要做一次 log
我看書的建議是說
其他層 有錯誤, 應該往上傳 不應該 log
log 在系統的邊界處執行就可以

系統邊界處
是 用例層(use case) 或 用戶交互層(分發層? 驅動層?)

用例層的物件
可能被多種 分發層複用
http 驅動 use case 或 grpc 驅動 use case

因為我自己實作 ddd 整潔架構的時候
只有一種 驅動層 http rest api 的形式
所以我 log 都集中在 驅動層

我自己定義 系統核心
是把 用例層之內的稱為 核心

如果需要支援多種 驅動方式(grpc cli ...)
我覺得 用例層 統一輸出 log 也是不錯

` route 層也有可能在解析 request 的 parameter 或是 body 時出錯`
我這個認為是 input 就失敗
還沒進入 核心
或許可以把還沒進入核心的 log 跟 進入

[2021-02-09 14:51] KScaesar commented on #21
https://github.com/rs/zerolog

[2021-02-09 15:06] KScaesar commented on #21
這應該所有語言都會遇到 重複呼叫的問題
跟 go 的關係應該不大?

照我前面所說
只在系統邊界處 輸出 log
儘量不要 同時做了 err 往上傳, 又輸出 err log

依照這例子
B C D 應該回傳 err , A L 輸出 log

並且在 err 內寫出詳細的訊息
跟是否為 外部套件的函數, 應該沒有什麼關係
處理 err 的時候, 把訊息補上就是了

老實說 標準庫的 error pkg 功能很弱
可能無法達成 詳細的 err 訊息輸出

err 套件
最常見的應該還是
[https://pkg.go.dev/github.com/pkg/errors](https://pkg.go.dev/github.com/pkg/errors)
但總覺得缺了一些功能

我自己 想去使用的有
[https://github.com/cockroachdb/errors](https

[2021-02-09 15:26] PichuChen commented on #36
如果要幫忙的話可以先開子ISSUE, 看你要先弄哪個檔案這樣？

[2021-02-09 16:13] #6 closed

[2021-02-09 20:29] PichuChen commented on #38
關於這次修改的 `oooId` => `oooID` 這邊是相關的討論：
https://github.com/golang/go/wiki/CodeReviewComments#initialisms
https://github.com/golang/lint/issues/124

因此如果沒有其他反對意見的話接下來將會採用 `oooID` 的寫法

[2021-02-09 20:32] PichuChen commented on #38
關於這次修改的 http.httpDelivery => http.HttpDelivery => http.Delivery 的部分
主要是避免重覆字串(Stuttering)
相關的規範在 Naming package contents 的 Avoid stutter.

https://blog.golang.org/package-names

感謝 @Julian-Chu  提供資料。

[2021-02-09 21:30] PichuChen commented on #15
@unknowntpo 可以幫忙確認一下有沒有什麼需要補充的嗎？否則會先關掉這個 ISSUE 喔

[2021-02-09 21:31] #27 closed, assigned to nobody

[2021-02-11 08:09] Markogoodman commented on #21
從來沒用過這種東西ＸＤ
聽起來滿方便的
原本會使用 defer 來做就是想避免 caller 每次呼叫同一個 func 都要主動包一次 err 資訊，會增加重複的code
如果下面那些err package可以更簡便地做到應該也不錯(但我也沒用過就是了)
這樣看來也要討論error package的選擇了（？

[2021-02-11 08:23] PichuChen opened #50 "[主線] [PTT] 實作熱門文章"
### 實作細節 / Details of Implement
根據目前架構，應該分成 `delivery/http` `usecase` `repository` 三個子 ISSUE 下去實作。
- [x] http 部分請依照文件實作並且有初步的 testcode。
  - ISSUE #107
- [x] usecase 部分應該是直接將 repository 的結果輸出即可？
  - ISSUE #83
- [x] repository 因為 go-bbs 可能還沒完成，因此需要先 mock 一個暫時性的結果等待 go-bbs 完成之後進行串接。
  - ISSUE #86

### 期程 / Schedule
- 討論時間： 一週，到 2/18，可以和實作平行進行。
- 實作時間： 一週，到 2/25
- 確認時間： 一週，到 3/4

### 相關文件 / Documents

[2021-02-11 08:26] PichuChen opened #51 "[主線] [PTT] 實作熱門看板的看板列表"
### 實作細節 / Details of Implement
根據目前架構，應該分成 `delivery/http` `usecase` `repository` 三個子 ISSUE 下去實作。
- [x] http 部分請依照文件實作並且有初步的 testcode。
 - ISSUE #53
- [x] usecase 部分應該是直接將 repository 的結果輸出即可？
 - ISSUE #164
- [x] repository 因為 go-bbs 可能還沒完成，因此需要先 mock 一個暫時性的結果等待 go-bbs 完成之後進行串接。

### 期程 / Schedule
- 討論時間： 一週，到 2/18，可以和實作平行進行。
- 實作時間： 一週，到 2/25
- 確認時間： 一週，到 3/4

### 相關文件 / Documents
[PTT 後端系統協定](htt

[2021-02-11 08:31] PichuChen opened #52 "[主線] [PTT] 實作個人看板的使用者資訊"
### 實作細節 / Details of Implement
根據目前架構，應該分成 `delivery/http` `usecase` `repository` 三個子 ISSUE 下去實作。
- [x] http 部分請依照文件實作並且有初步的 testcode。
  - 請見 ISSUE #100
- [x] usecase 部分應該是直接將 repository 的結果輸出即可？
  - 請見 ISSUE #165
- [x] repository 因為 go-bbs 已經完成了，因此可以直接串接 go-bbs 的相關函式。
  - 請見 ISSUE #58

### 期程 / Schedule
- 討論時間： 一週，到 2/18，可以和實作平行進行。
- 實作時間： 一週，到 2/25
- 確認時間： 一週，到 3/4

### 相關文件 / Documents
[PTT 後端

[2021-02-11 13:22] nickyanggg commented on #51
我可以試試看這個～

目前實作方式可能會在每次 request 的時候去計算前 100 名的熱門看板，之後再看要不要用 cache

[2021-02-11 13:23] PichuChen commented on #51
OK

[2021-02-11 13:27] PichuChen opened #53 "[主線] [PTT] 實作熱門看板的看板列表的 http 套件"
### 實作細節 / Details of Implement
- 參考 #51 實作熱門看板的看板列表
- 在 delivery/http/route_boards.go 裡面新增 getPopularBoardList 內容基本上和 getBoardList 一樣
- 新的函式呼叫 GetPopularBoards
- 請推入 feature/popular_boards 的 branch

### 期程 / Schedule
- 討論時間： 一天
- 實作時間： 一天
- 確認時間： 一天

### 相關文件 / Documents
[PTT 後端系統協定](https://docs.google.com/document/d/18DsZOyrlr5BIl2kKxZH7P2QxFLG02xL2SO0PzVHVY3k)

[2021-02-11 14:24] fish-dumpling commented on #52
這個我想要幫忙~

[2021-02-11 14:28] PichuChen commented on #52
OK

[2021-02-11 15:09] TimoChiang commented on #47
由於需要用到的mock內容在 #24 有被重構，預計等到merge後再進行實作

[2021-02-11 23:00] Julian-Chu commented on #53
在看 #53 的時候發現一個問題，
文件上寫應該是回傳:
[code]
但目前getBoardList跟getPopularBoardList 看起來傳回來的是
[code]
會少一層item，需要確認一下

[2021-02-12 01:28] nickyanggg commented on #53
了解，這樣看來是不是 /v1/boards 也得一起修改？因為目前是照著 /v1/boards 的回傳格式，但文件中 /v1/boards 也有多包一層 items。

如果確定是照著文件的話我晚點馬上修改，謝謝。

[2021-02-12 03:14] nickyanggg commented on #53
目前 /v1/popular-boards 已改成文件所要求的回傳格式。

[2021-02-12 03:45] PHChenGit opened #55 "[主線] [PTT] 實作 route_borads_test.go"
### 實作細節 / Details of Implement
實作 #36 內的討論進行實作

### 期程 / Schedule
- 討論時間： 三天
- 實作時間： 兩天
- 確認時間： 兩天

### 相關文件 / Documents
route_boards.go
route_borads_test.go

[2021-02-12 03:46] PHChenGit commented on #36
實作 route_borads_test.go
已開 Issue #55

[2021-02-12 06:51] SivWatt commented on #15
我自己實際的go through是這樣：
1. Clone Project
2. 下載測試伺服器資料
    1. 我的OS是 Windows 10 這邊我是下載 `bbs_backup_lastest.tar` 然後直接 `WinRar` or `7zip` 解開
    2. 因為最後面她會去link symbol，目前不知道為什麼會找不到位置所以fail 然後跳 Warning 不過看似是不影響
3. 複製 `home` 到 `~\Ptt-backend\` 正下方，因為有ignore 所以不用擔心會不小心 commit 進 branch
4. go build (Ptt-backend)
5. run `Ptt-backend.exe`

Log 大概會長這樣
[code]

我自己是覺得步驟可以寫得更仔細一點點，然後加上一些 step 之後的screenshot 幫助new co

[2021-02-12 06:56] PichuChen commented on #15
有具體要修改的位置嗎？
是說在 command 下面，windows 要執行 .exe 是怎麼下？感覺那邊應該有需要修改？

[2021-02-12 06:59] PichuChen commented on #53
聽起來有可能是 boards 有 Bug, 可能得開 ISSUE 修

[2021-02-12 07:05] PichuChen commented on #55
@PHChenGit  所以這個 ISSUE 交給你 OK 嗎？

[2021-02-12 07:35] PichuChen opened #56 "[建議] Usecase 的 Interface 應該可以加上 error"
### 原本作法的問題 / Existed Problem
- 在討論取得文章列表時注意到目前 usecase 的函式沒有回傳錯誤 https://github.com/Ptt-official-app/Ptt-backend/pull/24#discussion_r575028022
- 其他在 usecase 的函式有的有回傳有的沒有回傳

### 實作細節 / Details of Implement
- 請在 Usecase interface 將沒有回傳 error 的函式加上 error https://github.com/Ptt-official-app/Ptt-backend/blob/7782d908d7fbfa74cace422f4c5aa4cdd9651228/internal/usecase/usecase.go#L13
- 請將結果推到 development/

[2021-02-12 07:58] #13 closed, assigned to ars0915

[2021-02-12 07:58] #14 closed, assigned to ars0915

[2021-02-12 07:58] #26 closed, assigned to ars0915

[2021-02-12 10:21] PHChenGit commented on #55
OK 爹斯

[2021-02-12 15:09] fish-dumpling opened #58 "[主線] [PTT] 實作個人看板的使用者資訊 (repository)"
### 實作細節 / Details of Implement
- #52 的子issue
- branch名稱feature/user_infomation
- 在repository的package中接上go-bbs，回傳UserRecord。
- 這個功能[已有部分實作完成](https://github.com/Ptt-official-app/Ptt-backend/blob/development/internal/repository/user.go#L10) ，但go-bbs未完成的部分在Ptt-backend裡都還沒有實作。

### 期程 / Schedule
- 討論時間： 3天
- 實作時間： 1天
- 確認時間： 1天

### 相關文件 / Documents
[go-bbs中的UserRecord](https://github.com/Ptt-officia

[2021-02-12 15:26] PHChenGit commented on #55
不好意思 目前在看 route.go 這隻檔案時有看到
`/v1/boards` 寫了兩次 只差在結尾有沒有 `/`
想請問一下 這樣的目的是為了後面接上子 URI 的部分嗎？
還是單純重複而已？

<img width="732" alt="Screen Shot 2021-02-12 at 11 20 54 PM" src="https://user-images.githubusercontent.com/16322329/107787133-a91b0700-6d89-11eb-880f-4ed3db69fe14.png">

[2021-02-13 00:11] PichuChen commented on #58
如果要做的話可以先把缺的欄位用 Mock 的方式或是回傳假資料然後加上 // TODO 的方式實作，然後等 go-bbs 完成後再把 TODO 拿掉這樣？

[2021-02-13 00:15] PichuChen commented on #55
感覺兩個應該要去到不同的handler function，只是不小心被寫在一起了，Line:11 的應該要分割到名為 `routeBoard` 這個 handler function 去？ 因為他是處理單個看板下的請求。

同樣原因， `routeClasses` 和 `routeUsers` 可能也要改名？

[2021-02-13 10:43] gn01842919 commented on #58
這個我想要試試看!

[2021-02-13 12:29] gn01842919 commented on #58
想確認一下，`UserRecord` interface 定義在 go-bbs 裡面，我該怎麼 mock 他比較好呢?
是在 `bbs.UserRecord` 外面再包一層 interface 嗎，並把回傳的參數型別改為我新定義的型別沒錯吧?
還是有什麼更漂亮的做法呢? (不好意思我 golang  新手)

[2021-02-13 12:40] gn01842919 commented on #58
還是這裡的意思只是，`usecase` 當中的 `GetUserInformation` 隨便回些空值就好了呢?

[2021-02-13 12:59] PichuChen commented on #58
不需要外面再包一層 interface, 可以參考 `usecase/user_test.go` 裡面 `MockUser` 的作法

[2021-02-13 13:51] PichuChen opened #59 "[主線] [PTT] 實作個人看板歷史文章"
### 實作細節 / Details of Implement
根據目前架構，應該分成 `delivery/http` `usecase` `repository` 三個子 ISSUE 下去實作。
* http 部分請依照文件實作並且有初步的 testcode。
* usecase 部分應該是直接將 repository 的結果輸出即可。
* repository 部分歷史文章功能應該由 go-bbs 儲存還是 Ptt-backend 掃描後暫存需要討論，暫定由 go-bbs 儲存。

### 期程 / Schedule
- 討論時間： 一週, 到 2/20
- 實作時間： 一週, 到 2/27
- 確認時間： 一週, 到 3/5

### 相關文件 / Documents
[PTT 後端系統協定](https://docs.google.com/document/d/18DsZOyrlr

[2021-02-13 14:25] PichuChen opened #60 "[主線] [PTT] 實作個人看板歷史留言"
### 實作細節 / Details of Implement
根據目前架構，應該分成 `delivery/http` `usecase` `repository` 三個子 ISSUE 下去實作。
- [x] http 部分請依照文件實作並且有初步的 testcode。
  - ISSUE #160
- [x] usecase 部分應該是直接將 repository 的結果輸出即可。
  - ISSUE #161
- [x] repository 部分歷史留言功能應該由 go-bbs 儲存還是 Ptt-backend 掃描後暫存需要討論，暫定由 go-bbs 儲存。
  - ISSUE #162

### 期程 / Schedule
- 討論時間： 一週, 到 2/20
- 實作時間： 一週, 到 2/27
- 確認時間： 一週, 到 3/5

### 相關文件 / Documents
[

[2021-02-13 14:44] PichuChen opened #61 "[主線] [PTT] 實作儲存草稿"
### 實作細節 / Details of Implement
根據目前架構，應該分成 `delivery/http` `usecase` `repository` 三個子 ISSUE 下去實作。
- [x] http 部分請依照文件實作並且有初步的 testcode。
  - ISSUE #166
- [x] usecase 部分應該是直接將 repository 的結果輸出即可。
  - ISSUE #168
- [x] repository 因為 go-bbs 可能還沒完成，因此需要先 mock 一個暫時性的結果等待 go-bbs 完成之後進行串接。
  - ISSUE #167

### 期程 / Schedule
- 討論時間： 一週, 到 2/20
- 實作時間： 一週, 到 2/27
- 確認時間： 一週, 到 3/5

### 相關文件 / Documents
[PTT 後

[2021-02-13 15:01] PHChenGit commented on #55
ok 那就另開 issue 解決囉 應該算是 bug?

這部分我認為應該不用另外改名，原因是裡面的實作是回傳一個 List

[2021-02-13 15:29] PichuChen opened #62 "[主線] [PTT] 實作使用者設定"
### 實作細節 / Details of Implement
根據目前架構，應該分成 `delivery/http` `usecase` `repository` 三個子 ISSUE 下去實作。
- [x] http 部分請依照文件實作並且有初步的 testcode。
  - ISSUE #118
- [x] usecase 部分應該是直接將 repository 的結果輸出即可。
  - ISSUE #148
- [x] repository 因為 go-bbs 可能還沒完成，因此需要先 mock 一個暫時性的結果等待 go-bbs 完成之後進行串接。
  - ISSUE #148

### 期程 / Schedule
- 討論時間： 一週, 到 2/20
- 實作時間： 一週, 到 2/27
- 確認時間： 一週, 到 3/5

### 相關文件 / Documents
[PTT 後

[2021-02-13 15:30] PichuChen opened #63 "[主線] [PTT] 實作顯示發文限制"
### 實作細節 / Details of Implement
根據目前架構，應該分成 `delivery/http` `usecase` `repository` 三個子 ISSUE 下去實作。
- [x] http 部分請依照文件實作並且有初步的 testcode。
  - ISSUE #126
- [x] usecase 部分應該是直接將 repository 的結果輸出即可。
  - ISSUE #126
- [x] repository 因為 go-bbs 可能還沒完成，因此需要先 mock 一個暫時性的結果等待 go-bbs 完成之後進行串接。
  - ISSUE #116

### 期程 / Schedule
- 討論時間： 一週, 到 3/9
- 實作時間： 一週, 到 3/16
- 確認時間： 一週, 到 3/23

注意這個 endpoint 是 `/v1/boards

[2021-02-13 15:33] PichuChen opened #64 "[主線] [PTT] 實作顯示看板發文資訊"
### 實作細節 / Details of Implement
根據目前架構，應該分成 `delivery/http` `usecase` `repository` 三個子 ISSUE 下去實作。
* http 部分請依照文件實作並且有初步的 testcode。
* usecase 部分應該是直接將 repository 的結果輸出即可。
* repository 因為 go-bbs 可能還沒完成，因此需要先 mock 一個暫時性的結果等待 go-bbs 完成之後進行串接。

### 期程 / Schedule
- 討論時間： 一週, 到 2/20
- 實作時間： 一週, 到 2/27
- 確認時間： 一週, 到 3/5

### 相關文件 / Documents
[PTT 後端系統協定](https://docs.google.com/document/d/18DsZOyrlr5BIl2

[2021-02-13 15:44] PichuChen opened #65 "[主線] [PTT] 實作顯示看板資訊細部資訊"
### 實作細節 / Details of Implement
根據目前架構，應該分成 `delivery/http` `usecase` `repository` 三個子 ISSUE 下去實作。
- [x] http 部分請依照文件實作並且有初步的 testcode。
  - ISSUE #137
- [ ] usecase 部分應該是直接將 repository 的結果輸出即可。
- [ ] repository 因為 go-bbs 可能還沒完成，因此需要先 mock 一個暫時性的結果等待 go-bbs 完成之後進行串接。

注意這個 ISSUE 指的是「細部資訊」  `/v1/boards/{{board_id}}/settings`
### 期程 / Schedule
- 討論時間： 一週, 到 3/9
- 實作時間： 一週, 到 3/16
- 確認時間： 一週, 到 3/23

[2021-02-13 15:57] PichuChen opened #66 "[主線] [PTT] 實作轉錄看板文章"
### 實作細節 / Details of Implement
根據目前架構，應該分成 `delivery/http` `usecase` `repository` 三個子 ISSUE 下去實作。
- [x] http 部分請依照文件實作並且有初步的 testcode。
  - ISSUE #152
- [x] usecase 部分應該要檢查目前使用者有沒有在該版發文權限以及檢查轉錄文章相關權限
  - ISSUE #153
- [ ] ~~repository 因為 go-bbs 可能還沒完成，因此需要先 mock 一個暫時性的結果等待 go-bbs 完成之後進行串接。~~
  - ~~ISSUE #154~~
  - 因為repository 應該是直接串接原有發文及推文的就行了，因此先刪掉

### 期程 / Schedule
- 討論時間： 一週, 到 2/20
- 實作時間： 一

[2021-02-13 15:59] PichuChen opened #67 "[主線] [PTT] 實作轉錄信箱"
### 實作細節 / Details of Implement
根據目前架構，應該分成 `delivery/http` `usecase` `repository` 三個子 ISSUE 下去實作。
- [x] http 部分請依照文件實作並且有初步的 testcode。
  - ISSUE #155
- [x] usecase 部分應該要檢查目前使用者有沒有轉錄信箱相關權限。
  - ISSUE #156
- [x] Email 寄送服務的 Provider #191
- [ ] ~~repository 因為 go-bbs 可能還沒完成，因此需要先 mock 一個暫時性的結果等待 go-bbs 完成之後進行串接。~~
  - 看起來應該是讀取原有文章後改用 Email 的 provider 就可以處理了，因此不需要另外再處理 repository
  - ~~ISSUE #157~~

[2021-02-13 16:04] PichuChen opened #68 "[主線] [PTT] 實作文章推文"
### 實作細節 / Details of Implement
根據目前架構，應該分成 `delivery/http` `usecase` `repository` 三個子 ISSUE 下去實作。
- [x] http 部分請依照文件實作並且有初步的 testcode。
 - ISSUE #115
- [x] usecase 部分應該要檢查目前使用者有沒有在該版發文權限以及該版是否禁止推文。
 - ISSUE #147
- [x] repository 因為 go-bbs 可能還沒完成，因此需要先 mock 一個暫時性的結果等待 go-bbs 完成之後進行串接。
 - ISSUE #194

### 期程 / Schedule
- 討論時間： 一週, 到 2/20
- 實作時間： 一週, 到 2/27
- 確認時間： 一週, 到 3/5

### 相關文件 / Documents
[PTT

[2021-02-16 09:14] lsc36 opened #71 "[建議] 把 interface 宣告移到使用者處，並移除非必要的 interface"
### 原本作法的問題 / Existed Problem

[Go wiki][1] 建議把 interface 宣告在使用它的 package 而非實作它的 package，這樣可以避免不必要的 dependency 以及未來 refactor 的成本。
依此原則，例如 `Repository` 應該被宣告在 `package usecase` 而非 `package repository`。
若將來有多個 package 需要共用同一個 interface 宣告，再把它移到獨立的 package 即可。
（一樣原則是放在使用者這邊而非實作者）

另外還有像 `Usecase`、`Logger` 之類目前看起來沒有直接用途的 interface，建議可以先移除。

[1]: https://github.com/golang/go/wiki/CodeReviewComments#int

[2021-02-16 11:09] PichuChen commented on #71
我覺得這個做法應該是比較正確的，不過應該不是「例如 `Repository` 應該被宣告在 `package usecase`」 而是 usecase 要去實作某個 interface 然後讓 repository 來實作他， usecase 使用這個 interface, 而這個 interface 的名字應該不是 repository，可能是按照實際需求的小 interface 這樣。

[2021-02-16 11:11] PichuChen commented on #71
然後 Logger 的 interface 我看法是傾向保留，否則就變成要在各個 package 裡面去定義自己的 logger interface，感覺會怪怪的。

相較之下是接下來假如有其他的 Logger 實作的時候新的 Logger 實作不再去定義自己的 interface 而是使用原有的 Logger interface

[2021-02-16 11:24] PichuChen commented on #71
再來是看起來並不是每個使用者都需要去定義 interface ，不然在 HTTP 的建議實作就會變成要求 application 都實作自己的 ResponseWriter 而不是直接使用 http.ResponseWriter 了

[2021-02-16 14:16] lsc36 commented on #71
可以這樣拆分的話最好，usecase 那邊我還沒看得很仔細。

目前好像沒有把 Logger 作為 interface 的必要，直接就把現在的實作 `logger struct{}` 當成 Logger 應該不會有問題？

沒錯，不過我想等到需要的時候再調整就好。From Go wiki:

[2021-02-16 17:16] #58 closed, assigned to gn01842919

[2021-02-17 06:00] #47 closed, assigned to TimoChiang

[2021-02-17 06:50] y2468101216 opened #73 "[主線] [PTT] 實作 route_boards_treasures_test.go"
實作細節 / Details of Implement
實作 #36 內的討論進行實作

期程 / Schedule
討論時間： 三天
實作時間： 一天
確認時間：  一天

相關文件 / Documents
route_boards_treasures.go
route_boards_treasures_test.go

備註:
pr 請指向 development_enable_lint branch

[2021-02-17 06:52] y2468101216 opened #74 "[主線] [PTT] 實作 route_borads_articles_test.go"
實作細節 / Details of Implement
實作 #36 內的討論進行實作

期程 / Schedule
討論時間： 三天
實作時間： 一天
確認時間： 一天

相關文件 / Documents
route_borads_articles.go
route_borads_articles_test.go

備註:
pr 請指向 development_enable_lint branch

[2021-02-17 07:17] DeanXu2357 commented on #74
我願意幫忙

[2021-02-17 07:44] kdkaydai commented on #73
我願意試試看

[2021-02-17 09:01] linmeichu commented on #50
我想寫寫看 `delivery/http` 的部分！

[2021-02-17 09:10] PichuChen commented on #50
好，那你有辦法參考 https://github.com/Ptt-official-app/Ptt-backend/issues/53 開一個子 ISSUE 然後 ref 到這個 ISSUE 嗎？

[2021-02-17 13:59] #30 closed, assigned to wagaru, DeanXu2357

[2021-02-17 14:03] DeanXu2357 commented on #36
我希望實作 #74  請指派給我

[2021-02-17 15:06] mkfsn commented on #71
@lsc36

同意。不過當初設計 usecase/repository interface 的原因可以去參考一下 #16 ，或許對於初期來說有點 over engineering 但是當初的想法是先把 business 相關的邏輯（利用 interface ）定義出來，然後把 database layer （一樣利用 interface ）切開來，至於擺放的位置就沒有放好，非常抱歉 🙇🏻

Logger 的話我覺得可以保留也可以換掉，但是可以的話會希望我們討論完 #21 之後再決定要不要改，畢竟如果現在換掉 Logger interface 然後之後發現換了 logger 要大改，又因為 logger 有可能會分散在 code 各個地方，所以我不確定現在是不是一個好的時機去換掉 Logger interface （雖然看 PR 應該是沒什麼問題就是了 XD ）。再提一下，當初做這個 Lo

[2021-02-17 15:33] lsc36 commented on #71
其實我開了 issue 之後才看到 #21 等討論，如果已經有計畫大改的話那先放著也沒關係。
個人想法是，如果沒有替換多種實作的需求，應該就沒有必要定義 interface。

[2021-02-17 16:16] PichuChen opened #75 "[建議] 支援 golang 1.16"
### 原本作法的問題 / Existed Problem
Golang 1.16 推出了，應該可以開一個 Branch 測試目前 1.16 跑起來會不會有問題

### 實作細節 / Details of Implement
建立一個 feature/golang_1_16 然後修改 CI 檔案讓他使用 golang 1.16 做測試，沒問題的話就 merge 回來

### 期程 / Schedule
- 討論時間：一日
- 實作時間：一日
- 確認時間：一日

### 相關文件 / Documents
https://golang.org/doc/go1.16

[2021-02-17 16:16] PichuChen opened #76 "[建議] 支援 golang 1.16"
### 原本作法的問題 / Existed Problem
Golang 1.16 推出了，應該可以開一個 Branch 測試目前 1.16 跑起來會不會有問題

### 實作細節 / Details of Implement
建立一個 feature/golang_1_16 然後修改 CI 檔案讓他使用 golang 1.16 做測試，沒問題的話就 merge 回來

### 期程 / Schedule
- 討論時間： 一日
- 實作時間：一日
- 確認時間：一日

### 相關文件 / Documents
https://golang.org/doc/go1.16

[2021-02-17 16:28] PHChenGit opened #77 "[建議] PR 切換 Target branch 時應該可以考慮重新跑一次 CI"
### 原本作法的問題 / Existed Problem
原本的做法是假設一開始的 target branch 是 development 那麼推 code 上去時會跑一次 development CI 這部分沒有問題
但如果中途切到其他 branch 例如 development_enable_lint 那麼 development_enable_lint CI 目前好像就不會跑 除非再推一個 commit 上來

### 實作細節 / Details of Implement
應該是改 github action ？

### 期程 / Schedule

[2021-02-18 02:35] PichuChen commented on #77
GitHub Action 好像都是有 push 的時候才會跑 CI ，目前設定是 push / Pull Request 的時候跑
https://github.com/Ptt-official-app/Ptt-backend/blob/250a656d47131d7d17039d9b45612b524a18500c/.github/workflows/go.yaml#L3

[2021-02-18 05:58] NickLi0627 commented on #77
剛剛查了一下, 應該是可以在`on`中新增`pull_requests`, 並且在`pull_request`中新增`edit` type
理論上應該也是會trigger一次CI
[Ref](https://github.community/t/rerun-on-base-branch-change/115594/2)

[2021-02-18 18:21] fish-dumpling commented on #52
http和usecase的部分:
1. 看了一下API輸出的結果，除了plan和chess_status缺少子項目之外都是完整的，那部份在go-bbs補齊後應該就會是正確的。目前需要在哪部分把這些先做mock嗎？
2. http的token權限檢查是不是都先跳過呢？或是這支API不需要檢查權限？
3. error message目前看起來是這樣的:
`		m := map[string]string{
			"error":             "find_userrec_error",
			"error_description": err.Error(),
		}`
參考了board infomation的error_description是這樣的: ` "get board for " + boardId + " failed"`
這部分有需要改或是維持原狀呢？
4. http的

[2021-02-19 09:52] wagaru commented on #50
想確認一下

所以可以假設 go-bbs 會實作 ReadPopularArticles() 的功能，裡面會回傳可能前 100 篇熱門文章的ArticleRecord
所以 usecase 只要回傳 repository 的資料， 無需做排序的處理？然後現階段應該還先不用使用 cache

是的話我可以幫忙 usecase 的部份~~

[2021-02-19 14:39] PichuChen commented on #52
可以先做 mock, 我印象中好像最近 go-bbs 有把他補齊了

要檢查權限，實際上應該會因為朋友關係的不同有不同執行結果吧？ (usecase)

應該是要

這邊是母 ISSUE, 所以要看還有哪個子 ISSUE 還沒做完，或是發現做完但是有 Bug 這樣。

[2021-02-19 14:41] PichuChen commented on #50
對，理論上應該底層回傳的東西會有進行排序？

OK 那你那邊可以開一個子 ISSUE 然後指到這個 ISSUE 嗎？

[2021-02-19 17:45] #53 closed, assigned to nobody

[2021-02-20 02:08] wagaru opened #83 "[主線] [PTT] 實作熱門文章的 usecase 套件"
### 實作細節 / Details of Implement
* 參考 #50 實作熱門文章
* 在 usecase/board.go 裡面新增 GetPopularArticles()
* 新的函式呼叫 GetPopularArticles
* 請推入 feature/popular_articles

### 期程 / Schedule
- 討論時間： 一天
- 實作時間： 一天
- 確認時間： 一天

### 相關文件 / Documents
[PTT後端系統協定](https://docs.google.com/document/d/18DsZOyrlr5BIl2kKxZH7P2QxFLG02xL2SO0PzVHVY3k/edit#heading=h.1ehnllv3ris)

因為這邊會呼叫到 repository 裡的 GetPopularArticles()，但 repos

[2021-02-20 02:59] gn01842919 commented on #83
請讓我試試看

[2021-02-20 03:54] PichuChen commented on #83
@gn01842919 這個 ISSUE 是 @wagaru 在 #53 認領的

[2021-02-20 03:55] PichuChen commented on #83
預定的 interface 名稱會叫什麼呢？

[2021-02-20 04:22] gn01842919 commented on #83
了解，不好意思

[2021-02-20 05:55] gn01842919 commented on #65
我想做做看 http 的部分

[2021-02-20 06:06] gn01842919 commented on #65
這個的 http 部分是不是已經有了? 只是缺 test 而已?

[2021-02-20 06:11] gn01842919 commented on #65
我來試試看 repository 的部分好了

[2021-02-20 06:38] wagaru commented on #83
這個主線 #50 還有一個 repository 目前應該是還沒人認領？
如果 @gn01842919 願意的話，這張就交給 @gn01842919，我改去做 repository 呢？

[2021-02-20 06:59] gn01842919 commented on #83
其實我只是想找個事做，因為之前會開 subissue 出來讓人認領，有點誤會了
不然我去做 repository 的部分好了?

[2021-02-20 07:29] PichuChen commented on #65
你是說 Delivery 部分嗎？

[2021-02-20 09:33] DeanXu2357 commented on #68
請指派給我

[2021-02-20 09:35] nickyanggg commented on #55
如果需要的話我可以幫忙修這個～

[2021-02-20 09:39] wagaru commented on #50
有個小問題~

照這禮拜投影片的說明，這個母 issue 應該先開出 branch，子 issue 再發 PR 到這個 branch
但目前母 issue 應該是沒人認領開 branch？

[2021-02-20 09:48] PichuChen commented on #50
誒對

[2021-02-21 09:42] PHChenGit commented on #77
我可以協助這個項目

[2021-02-21 09:57] gn01842919 commented on #65
對，"http 部分請依照文件實作並且有初步的 testcode。"，我看 delivery/http 看起來有相關的程式碼了?

[2021-02-21 10:01] PichuChen commented on #77
雖然還不是很確定是要處理什麼問題，不過先Assign 給你了

[2021-02-21 10:04] PichuChen commented on #65
哪有可能是之前有做好了不過我沒有登記到，不然就是要再檢查看看有沒有有漏的這樣...

[2021-02-21 10:22] gn01842919 opened #86 "[主線] [PTT] 實作熱門文章的 repository 套件"
### 實作細節 / Details of Implement
參考 https://github.com/Ptt-official-app/Ptt-backend/issues/50 實作熱門文章

### 期程 / Schedule
- 討論時間： 一天
- 實作時間： 一天
- 確認時間： 一天

### 相關文件 / Documents
[PTT後端系統協定](https://docs.google.com/document/d/18DsZOyrlr5BIl2kKxZH7P2QxFLG02xL2SO0PzVHVY3k/edit#heading=h.1ehnllv3ris)

[2021-02-22 04:16] y2468101216 opened #88 "[主線] [PTT] development_enable_lint 與 development 同步"
### 實作細節 / Details of Implement
與 development 作同步並修復測試

### 期程 / Schedule

### 相關文件 / Documents
development branch

[2021-02-22 04:28] y2468101216 opened #90 "[主線] [PTT] 將 developement 與 development_enable_lint 合而為一"
### 實作細節 / Details of Implement
目前會以 ci 上 lint 報錯修復為主，最終目標是把兩條線合併

### 期程 / Schedule
- 討論時間：一天
- 實作時間：三天
- 確認時間：一天

### 相關文件 / Documents
github ci

[2021-02-22 04:45] #45 closed, assigned to y2468101216

[2021-02-22 08:44] y2468101216 opened #93 "[建議] errcheck 是否有必要"
### 相關 issue
- #90

### 原本作法的問題 / Existed Problem
以目前 ci 的狀況看起來 errcheck fail 為大宗，目前看起來都是在 call io 相關沒有檢查 bytes 是否不為0

### 實作細節 / Details of Implement
增加 golangci.yaml 移除 io 相關 errcheck

### 期程 / Schedule
無

### 相關文件 / Documents
https://golangci-lint.run/usage/configuration/

[2021-02-22 09:14] y2468101216 opened #94 "[主線] [PTT] 移除沒有用到的 delivery.getClass 以及 delivery.routeClass"
相關 issue
#90

原本作法的問題 / Existed Problem
目前 ci 顯示有無用的函數，需要移除並測試是否不影響原本的程式碼

實作細節 / Details of Implement
1. 移除 internal\delivery\http\route_classes.go 裡的 func `(*httpDelivery).getClass`
2. 移除 internal\delivery\http\route.go 裡的 func `(*httpDelivery).routeClass`

期程 / Schedule
討論時間 : 一天
實作時間 : 一天
確認時間 : 一天

備註:
請參考 FOR_TEST_DEVELOPERS.md 發 pr

[2021-02-22 09:53] RicoToothless commented on #77
我是比較建議用 comment trigger 比較直覺，比 `pull_request` `edit` type 來的通用一點，
因為有可能這次 CICD 沒過只是單純 GitHub Action server 有點問題，或是有些 package-management server 有問題，純粹發個特定的 comment 來 trigger CICD workflow 比較好一點。
我也可以幫忙這個 issue，
預計會試試看這個 [GitHub Action](https://github.com/Khan/pull-request-comment-trigger)。

[2021-02-22 10:20] PichuChen commented on #77
Comment trigger 也可以，不過其實在 Slack 留言的話我看到也會手動按重跑

[2021-02-22 10:22] PichuChen commented on #94
這個應該不是發到 enable_lint branch?

[2021-02-22 11:01] PichuChen commented on #93
目前因為 errcheck 的錯誤數量大概有多少？

[2021-02-22 12:02] Julian-Chu commented on #93
https://github.com/Ptt-official-app/Ptt-backend/pull/42#discussion_r577690083
附上跟 @mkfsn  的討論，
production code的errcheck是必要的， 唯一可以商榷的就是test code的部分

目前的errcheck錯誤的數量是頂多一兩個小時就可以修復的範圍，並不是個disable errcheck的好理由
#42 有針對目前lint發現的各種問題有提出暫時的修正方式

[2021-02-22 12:45] rainlay commented on #93
贊同採用 _ = 進行處理暫時不確定是否要 handle 的 error

[2021-02-22 13:03] y2468101216 commented on #93
我沒說要全關，主要只關 io 相關部份(ex : responsewriter)的，我看官方文件跟其他專案也不會特別處理 io 相關的。

[2021-02-22 13:05] PichuChen commented on #93
有範例和截圖幫忙說明例如哪一行的警告嗎？

[2021-02-22 13:57] RicoToothless commented on #77
我研究了一下發現，因為 GitHub Actions 對 `issue_comment` trigger 非常簡單，只有 `created` `edited` `deleted`（[參考](https://docs.github.com/en/actions/reference/events-that-trigger-workflows#issue_comment)）
現階段有兩個問題：
1. 他只會 trigger default branch 上的 workflows file（很詭異的機制，實測的時候有踩到，文件也有寫）

2. 目前我看到的 GitHub Actions plugin 都是以 `issue_comment` `created` 去實作，
就會有個問題就是一定得先 trigger 後 plugins 才能做 comment 內容的判斷，
所以單純的討論也會 trigg

[2021-02-22 13:58] kiraxie commented on #93
我認為全部 error 全部都要處理比較安全合理，即使是 unit test 也最好是一一確認每個 error case 是否如預期

[2021-02-22 16:22] PHChenGit commented on #77
單純的討論也會嗎？
之前似乎沒注意到...

[2021-02-23 01:41] y2468101216 commented on #93
[code]
以官方文件來說:
https://golang.org/pkg/io/#WriteString

他其實也不會特別處理 io 問題。
我不會特別去驗證官方的 io 相關傳回來的 byte 是否正確，因為我也不知道如何驗證他傳回來的 byte。

[2021-02-23 01:42] wagaru commented on #63
文件上看起來發文限制跟看板資訊(#65)應該是同一個 endpoint ，這樣還要拆成二個 issue 嗎？

[PTT 後端系統協定](https://docs.google.com/document/d/18DsZOyrlr5BIl2kKxZH7P2QxFLG02xL2SO0PzVHVY3k/edit#heading=h.1g6ovfezg1)

[2021-02-23 04:02] RicoToothless commented on #77
之前是什麼時候？

另外，我看了一下 `pull_request` [event type](https://docs.github.com/en/actions/reference/events-that-trigger-workflows#pull_request)
default 有 `opened` `synchronize` `reopened` 都會 trigger CICD workflow
或許單純的 `reopened` 就可以解決你的問題了？（已測試過 `reopened` 可以運作）

[2021-02-23 05:14] PichuChen commented on #51
熱門看板實作方式目前有東西需要討論：

首先在原本的 BBS 系統當中「熱門看板」和「看板列表」是不太一樣的概念，熱門看板並不是單純的「版上人數很多的看板」，他還必須要符合一些條件，例如說他不能是隱藏看板，例如版主版或者是只限定版友進入的個人看板他就不能被列為熱門看板，再來是有些看板他可以設定成不得進入熱門看板等等。

也就是說，熱門看板的列表=篩選條件，可以透過 go-bbs 判斷後回傳，或者是應該透過 usecase 統一判斷熱門看板的商業邏輯後回傳。

因此這邊有兩種可能的實作方式：

1. go-bbs 新增 getPopularBoard 函式，統一判斷熱門看板列表
2. go-bbs 部分統一利用 getBoard 函式回傳，由 Ptt-backend 的 Usecase 透過看板屬性後在 usecase 進行判斷

以上需要請各位提供意見及討論。

[2021-02-23 06:53] PichuChen commented on #52
@fish-dumpling 可以問一下目前這邊的狀況嗎？

[2021-02-23 07:33] TimoChiang commented on #51
我自己比較偏好在 Ptt-backend 的 Usecase 處理篩選的邏輯條件～

目前的看板（board）跟分類（class），也是都用在 Usecase 利用 GetBoards 回傳回來的內容再去判斷是哪一種。

另一個原因是在第二週的問題回應中有提到，go-bbs 的定位是 DBMS ー 負責存取結構化的資料的系統。
雖然實作上可能比較輕鬆或處理效率較高，但把有牽涉到商業邏輯的部份放在 go-bbs 感覺不太合適。

順帶提一下，考量到每次在 Ptt-backend 都要拿回全部看板後再判斷的狀況，
以主流 DBMS 的概念去想的話，除了利用 GetBoards 後再一個一個篩選之外，
從 Ptt-backend 發起有邏輯性的篩選條件（例如where is_hidden = 0）感覺也比較合理～
（還沒詳細研究過 go-bbs ，不確定這個例子適不適當or能不能實現）

[2021-02-23 16:17] fish-dumpling opened #100 "[主線] [PTT] 實作個人看板的使用者資訊的http套件"
### 實作細節 / Details of Implement
#52 的子issue
修改route_users.go
1. 修改error message
2. 檢查token(再討論要放在usecase還是http)
3. 補齊testcode

### 期程 / Schedule
- 討論時間： 3天
- 實作時間： 1天
- 確認時間： 1天

### 相關文件 / Documents
- 母issue #52
- [PTT 後端系統協定](https://docs.google.com/document/d/18DsZOyrlr5BIl2kKxZH7P2QxFLG02xL2SO0PzVHVY3k)

[2021-02-23 16:18] fish-dumpling commented on #52
抱歉前幾天太忙，開好http的子issue (#100) 了，usecase目前看起來OK，如果需要修改再開

[2021-02-23 19:39] Julian-Chu commented on #93
測試上為了簡單偶爾會忽略這個檢查 或是確認writer不會回傳err就可以不用檢查
別的官方文件有加註忽略的理由
https://golang.org/pkg/fmt/#Sprintf
production code 都會檢查，以response為例
https://golang.org/src/net/http/response.go#317
![image](https://user-images.githubusercontent.com/7224544/108898468-86a1ad00-7617-11eb-8f2f-84e6d8a48d67.png)

byte多半用做writer內部檢查，正常情況的確不會用到

[2021-02-24 01:18] y2468101216 commented on #93
目前看起來 io 部分只要有回傳 byte lint 就一定要你檢查，就算你有檢查 err 也是一樣

[2021-02-24 03:05] y2468101216 commented on #93
目前看起來 errcheck 只要有回傳 byte 就會強迫你檢查，我是覺得不必

[2021-02-24 04:27] PichuChen commented on #93
我認為以 Example 的寫法來作為最佳實作的依據是不可靠的，因為 Example 在寫作時應該會以簡潔扼要為主，對於 Example 的程式碼也不會有測試案例，因此不檢查錯誤也是有可能的。

我認為可以參考的是實際上的 io 套件的原始碼
https://golang.org/src/io/io.go

在 Line:423 的部分確實有提供 Read 以及 Write 在進行錯誤處理的實務上是如何進行的範例
[code]

[2021-02-24 05:25] #94 closed, assigned to nobody

[2021-02-24 06:41] y2468101216 commented on #93
看來是應該要處理，那我先增加 byte 是否為0的檢查跟是否有 err 的檢查

[2021-02-24 07:26] Julian-Chu commented on #93
補充一點，一般使用不需要檢查byte長度，pichu這個範例是因為需要利用byte長度比對判斷後回傳特定的error
在Writer的interface上有說明了，傳入跟傳出的長度不同會拋出錯誤

![image](https://user-images.githubusercontent.com/7224544/108962823-97830a80-7679-11eb-9ced-56899386a9ec.png)

[2021-02-24 07:43] y2468101216 commented on #93
沒注意到，感謝

[2021-02-24 08:26] y2468101216 commented on #93
定案決定要全部處理

[2021-02-25 01:14] RicoToothless commented on #76
這個我可以幫忙

[2021-02-25 03:26] PichuChen commented on #76
感謝

[2021-02-25 18:10] #76 closed, assigned to RicoToothless

[2021-02-27 02:27] linmeichu opened #107 "[主線] [PTT] 實作熱門文章的 http 套件"
### 實作細節 / Details of Implement
- 參考 https://github.com/Ptt-official-app/Ptt-backend/issues/50 實作熱門文章
- 在 delivery/http/route_popular_articles.go 裡面新增 getPopularArticles 內容參考 getPopularBoardList
- 請推入 feature/popular_articles 的 branch

### 期程 / Schedule
- 討論時間： 一天
- 實作時間： 一天
- 確認時間： 一天

### 相關文件 / Documents
[後端系統協定](https://docs.google.com/document/d/18DsZOyrlr5BIl2kKxZH7P2QxFLG02xL2SO0PzVHVY3k/ed

[2021-02-28 06:36] PichuChen commented on #73
@kdkaydai  想問一下這邊進度到哪邊了？

[2021-02-28 06:36] #74 closed, assigned to y2468101216, DeanXu2357

[2021-02-28 06:37] #83 closed, assigned to wagaru

[2021-02-28 07:10] kdkaydai commented on #73
我還在研究階段

[2021-02-28 10:11] whitefloor commented on #59
Hi~我是whitefloor，剛剛有在信件上確認這個問題由我處理

請assign給我，感謝

[2021-02-28 19:53] PichuChen commented on #59
@whitefloor 交給你了

[2021-02-28 22:54] whitefloor commented on #59
Hi @PichuChen
我想請問個人看板歷史文章的功能需求是什麼
目前我的理解是可以在個人看板看到自己的歷史文章

另外想請問的是如果我的理解是對的，那這部分會有權限控管嗎？
例如黑名單無法看見你的歷史文章

[2021-03-01 02:23] gn01842919 commented on #107
我想試試看

[2021-03-01 03:23] PichuChen commented on #59
@whitefloor

對，基本上是比照目前其他平台做的。
權限管控的部分基本上只顯示公開看板的發文。

[2021-03-01 08:05] whitefloor commented on #59
好的，那我照/v1/users/{{user_id}}/articles的相關敘述下去實作。

進度的話我先從delivery開始下手
usecase ＆repository在我做完前期待有人加入討論XD

[2021-03-02 03:07] xboxa5105 commented on #59
@whitefloor 我可以一起幫忙這個issue

[2021-03-02 03:18] linmeichu commented on #107
@gn01842919
還是你要不要做 repository 部分呢？
https://github.com/Ptt-official-app/Ptt-backend/issues/86

[2021-03-02 04:25] y2468101216 opened #109 "[主線] [PTT] 增加基本註解"
### 實作細節 / Details of Implement
現有大部分的 code 皆未有註解，須對 function 跟 test 增加註解

### 期程 / Schedule
- 討論時間： 一天
- 實作時間： 一天
- 確認時間： 一天

### 相關文件 / Documents
實作中

### 相關項目 / Child Task

- [x] route_users.go , route_users_test.go , route_users_mock_test.go #110
- [x] route_token.go , route_token_test.go , route_token_mock_test.go #173
- [ ] route_classes.go , route_classes_test.go , route_classes_mock_test.g

[2021-03-02 04:31] whitefloor commented on #59
@xboxa5105 感謝

目前usercase和delivery沒有問題
主要問題是出在repository上，需要對這部分討論
因為go-bbs還沒實作出來getUserArticles，data暫定由go-bbs儲存的話
那這部分一樣先做mock就好嗎？
還是說連同go-bbs的部分與這個issueu連動一起處理，這樣就不需要做mock

[2021-03-02 04:31] PichuChen commented on #109
這樣好像 ISSUE 會太大，如果先把需要註解的檔案都先表列出來讓每個檔案都分成子 ISSUE 下去處理呢？

[2021-03-02 05:48] y2468101216 commented on #109
要拆分，我還在整理，目前先開著方便我作整理

[2021-03-02 06:09] PichuChen commented on #63
剛剛確認過是不一樣的， #65 指的是「細部資訊」 是 `/v1/boards/{{board_id}}/settings` ，這個是 `/v1/boards/{{board_id}}/information` 因此是不同 endpoint

[2021-03-02 06:38] y2468101216 opened #110 "[主線] [PTT] 增加 route_users.go , route_users_test.go , route_users_mock_test.go 的註解"
### 實作細節 / Details of Implement
實作 #109 裡的細節

### 期程 / Schedule
- 討論時間： 一天
- 實作時間： 一天
- 確認時間：一天

### 相關文件 / Documents
route_users.go , route_users_test.go , route_users_mock_test.go
[swagger](https://pttapp.cc/swagger/)

[2021-03-02 06:42] PHChenGit commented on #55
這個 Issue 可以 closed 了

[2021-03-02 06:45] #55 closed, assigned to PHChenGit

[2021-03-02 07:30] y2468101216 opened #112 "[主線] [PTT] 實作 我的最愛列表 的測試"
### 實作細節 / Details of Implement
internal\delivery\http\route_users.go:76 - getUserFavorites
此 route 尚未實作測試

### 期程 / Schedule
- 討論時間：一天
- 實作時間：三天
- 確認時間：一天

### 相關文件 / Documents
可參考 #45

### 備註
開發前請先參考 FOR_TEST_DEVELOPERS.md 裡的說明

[2021-03-02 08:27] DeanXu2357 commented on #112
我可以幫忙，請指派給我

[2021-03-02 08:54] PichuChen commented on #25
@ggary9424 想問一下這邊目前進度到哪邊了？

[2021-03-02 08:58] PichuChen commented on #61
@TimoChiang

[2021-03-02 08:58] PichuChen commented on #60
@TimoChiang

[2021-03-02 09:03] TimoChiang commented on #60
👋

[2021-03-02 09:03] TimoChiang commented on #61
👋

[2021-03-02 09:05] PichuChen commented on #60
再麻煩請你幫忙找人和開立子 ISSUE 了

[2021-03-02 09:05] PichuChen commented on #61
再麻煩請你幫忙找人和開立子 ISSUE 了

[2021-03-02 11:04] PichuChen commented on #76
@RicoToothless  我剛剛看到一個問題，我們需要修改 go.mod 裡面的設定嗎？

[2021-03-02 13:15] gn01842919 commented on #107
做好了喔，等待 PR review 中

[2021-03-02 13:16] TimoChiang commented on #60
需要有人幫忙實作，有興趣的人可以留言哦！

[2021-03-02 13:16] TimoChiang commented on #61
需要有人幫忙實作，有興趣的人可以留言哦！

[2021-03-03 04:36] whitefloor commented on #59
整理一下討論過後的預計做法跟進度

1.ptt-backend的repository需要go-bbs解析，但go-bbs尚未實作
2.決定與go-bbs一起實作，這樣在ptt-backend就不需要做mock
3.在go-bbs實作時需要開issue
4.ptt-backend串接go-bbs時需要在go.mod增加版本號碼0.2.5 > 0.2.6

但go-bbs那邊我還沒碰過，要花點時間看怎麼處理

[2021-03-03 11:32] #107 closed, assigned to linmeichu, gn01842919

[2021-03-03 11:49] PichuChen commented on #109
應該可以把它拆成每個檔案一個項目然後讓大家認領，不過現在有些東西要先處理，主要是註解的格式還有需要註解的範圍，例如沒有 exported 的 method 需不需要註解

[2021-03-03 11:51] PichuChen commented on #109
然後需要在 ISSUE 的開頭有個註解的範例，這樣大家才知道要怎麼寫成相同的風格。

[2021-03-04 06:18] y2468101216 commented on #109
恩，所以我先弄了一個 pr 出來讓大家參考，等好了以後會指派子 issue 給大家

[2021-03-04 06:31] y2468101216 commented on #100
error code message 要如何修改目前有頭緒了嗎?
檢查 token 要不要作一個 middleware 去處理
test code 已經在 #114 補上了

[2021-03-04 06:31] #93 closed, assigned to nobody

[2021-03-04 07:19] #112 closed, assigned to DeanXu2357

[2021-03-04 12:04] PichuChen commented on #59
go-bbs 應該已經有 getBoardList 和 getArticles 了，所以用這兩組應該就行了？

[2021-03-04 13:30] DeanXu2357 commented on #68
我想幫忙，請指派給我

[2021-03-04 14:56] DeanXu2357 opened #115 "[主線] [PTT] 實作文章推文 delivery/http"
### 實作細節 / Details of Implement
此為 #68 子任務
主要實作 delivery 內 error & responses ，並完成 testcase 和補充完整 swagger 文件。
實作完成後推至 feature/append_comment

### 期程 / Schedule
- 討論時間： 兩天, 到 3/7
- 實作時間： 三天, 到 3/10
- 確認時間： 兩天, 到 3/12

### 相關文件 / Documents
主任務 #68
[PTT 後端協定](https://docs.google.com/document/d/18DsZOyrlr5BIl2kKxZH7P2QxFLG02xL2SO0PzVHVY3k/edit#)
[Swagger](https://pttapp.cc/swagger/)

[2021-03-04 15:10] DeanXu2357 commented on #115
目前 usecase 中有 CheckPermission 方法，請問推文限制是如同其他實作一樣都假裝邏輯寫在該方法內嗎？

[2021-03-04 20:16] PichuChen commented on #115
CheckPermission 要送入你想驗證的 Permission

[2021-03-04 20:17] #86 closed, assigned to gn01842919

[2021-03-05 06:46] linmeichu commented on #61
我可以幫忙！🖖

[2021-03-05 08:56] TimoChiang commented on #61
@linmeichu OK～
你要試試看`repository`這塊嗎？應該比`delivery/http` `usecase` 稍微難一些些

[2021-03-05 08:57] wagaru commented on #63
這邊先假設 go-bbs 的 BoardRecord 會提供相關發文限制資訊 (已開 [ISSUE](https://github.com/Ptt-official-app/go-bbs/issues/61))

[2021-03-05 09:02] wagaru opened #116 "[主線] [PTT] 實作顯示發文限制的 repository 套件"
### 實作細節 / Details of Implement
* 參考 #63 實作顯示發文限制
* 因 go-bbs 還尚未實作，需要先 mock

### 期程 / Schedule
- 討論時間： 一天
- 實作時間： 一天
- 確認時間： 一天

### 相關文件 / Documents
[API 文件](https://docs.google.com/document/d/18DsZOyrlr5BIl2kKxZH7P2QxFLG02xL2SO0PzVHVY3k/edit#heading=h.1g6ovfezg1)

[2021-03-06 14:17] PichuChen commented on #100
這個是不是回錯邊了？

[2021-03-06 15:01] #50 closed, assigned to nobody

[2021-03-06 15:06] PichuChen opened #117 "[建議] 熱門文章的文章列表改由 Ptt-backend 做統計篩選"
### 原本作法的問題 / Existed Problem
- 目前 PTT 的資料庫裡面是沒有熱門文章的
- 大家市面上看到的熱門文章其實是第三方網站幫PTT統計出來的，統計演算法應該也是各家不同
- 根據 https://github.com/Ptt-official-app/Ptt-backend/issues/51 討論，應該在 Ptt-backend 這邊做會比較好？

### 實作細節 / Details of Implement
- 大致上會在 usecase 或是哪邊每隔一段時間就掃描一次目前的所有看板和所有文章，把可以統計的看板（公開看板）的文章統計出前幾名放在熱門文章資料庫（可能先存在 Process 裡面）
- 在 usecase 有使用者請求時直接輸出這個資料庫的結果

### 期程 / Schedule
- 討論時間：一週，到 3/13
- 實作時間：一週，到 3

[2021-03-06 16:08] kyho4515 commented on #62
我想試試看這部分, 請指派給我

[2021-03-06 16:54] PichuChen commented on #62
OK，那在麻煩你幫忙開立相關的子ISSUE

[2021-03-07 02:30] kyho4515 opened #118 "[主線] [PTT] 實作使用者設定 delivery/http"
### 實作細節 / Details of Implement
#62 子issue
實作 delivery內的response及error handling, 並完成test code.
### 期程 / Schedule

- 討論時間： 兩天, ~3/8
- 實作時間： 三天, ~3/11
- 確認時間： 兩天, ~3/13

### 相關文件 / Documents
主issue #62
[PTT 後端協定](https://docs.google.com/document/d/18DsZOyrlr5BIl2kKxZH7P2QxFLG02xL2SO0PzVHVY3k/edit#)

[2021-03-08 03:25] y2468101216 opened #121 "[主線] [PTT] 將 PichuChen/go-bbs 改為Ptt-official-app/go-bbs"
### 實作細節 / Details of Implement
改為正式使用的作者名

### 期程 / Schedule
- 討論時間： 一天
- 實作時間： 一天
- 確認時間： 一天

### 相關文件 / Documents
無

[2021-03-08 04:13] #116 closed, assigned to wagaru

[2021-03-08 08:08] #121 closed, assigned to PichuChen, y2468101216

[2021-03-10 03:51] gogog22510 opened #126 "[主線] [PTT] 實作顯示發文限制 delivery/http"
### 實作細節 / Details of Implement
此為 #63 子任務
主要實作 delivery 內 error & responses ，並完成 testcase 和補充完整 swagger 文件。

### 期程 / Schedule
- 討論時間： 一週, 到 3/9
- 實作時間： 一週, 到 3/16
- 確認時間：一週, 到 3/23

注意這個 endpoint 是 `/v1/boards/{{board_id}}/information`

### 相關文件 / Documents
[PTT 後端系統協定](https://docs.google.com/document/d/18DsZOyrlr5BIl2kKxZH7P2QxFLG02xL2SO0PzVHVY3k)

[2021-03-10 04:09] gogog22510 commented on #126
我應該會連著usecase一起實作

[2021-03-10 05:42] gogog22510 commented on #126
請問可以給我權限push code嗎?

[2021-03-10 06:21] techeternalriverco commented on #73
換我接手此 issue 。

[2021-03-10 07:16] y2468101216 opened #128 "[主線] [PTT] 實作 go-bbs 0.3版支援"
### 實作細節 / Details of Implement
因應 go-bbs 升級為 0.3 版 需要修改相關 code
(ex: Id to ID)

### 期程 / Schedule
- 討論時間： 一天
- 實作時間：一周
- 確認時間： 一天

### 相關文件 / Documents
go build 相關錯誤訊息

[2021-03-10 07:18] y2468101216 commented on #128
目前只是先開，待 go-bbs windows 版修正完成會加開子 issue

[2021-03-11 07:33] kyho4515 commented on #118
@PichuChen 想問一下test code目前只需要把function開好就好嗎?

[2021-03-11 13:04] RicoToothless commented on #76
改了，還真沒注意到

[2021-03-12 03:09] PichuChen commented on #118
test code 的話目前標準是有基本功能就行了

[2021-03-12 03:10] PichuChen commented on #61
@TimoChiang  問一下這個 ISSUE 的三個子 ISSUE 有開出來了嗎？

[2021-03-12 18:04] #77 closed, assigned to PHChenGit

[2021-03-13 02:00] nickyanggg commented on #65
我可以幫忙這個～

[2021-03-13 03:44] RicoToothless opened #135 "[建議] remove sudo command example on README"
### 原本作法的問題 / Existed Problem

docker-compose example `sudo docker-compose up -d` is not best practice

### 實作細節 / Details of Implement

It should be `docker-compose up -d`

### 期程 / Schedule

- 實作時間：5 mins

### 相關文件 / Documents

[Manage Docker as a non-root user](https://docs.docker.com/engine/install/linux-postinstall/#manage-docker-as-a-non-root-user)

[2021-03-13 07:39] PichuChen commented on #65
@nickyanggg 再麻煩你了

[2021-03-13 10:22] #126 closed, assigned to gogog22510

[2021-03-13 10:26] PichuChen commented on #135
他不用 sudo 的話跑得起來嗎？

Ref: https://github.com/Ptt-official-app/Ptt-backend/pull/44#issuecomment-776428153

[2021-03-13 10:29] #135 closed, assigned to nobody

[2021-03-13 14:46] wagaru commented on #63
usecase 的部份印象中 #127 應該是一起做掉了？

[2021-03-13 16:34] PichuChen commented on #63
看來是

[2021-03-13 16:35] #63 closed, assigned to wagaru

[2021-03-13 18:11] nickyanggg opened #137 "[主線] [PTT] 實作顯示看板資訊細部資訊的http套件"
### 實作細節 / Details of Implement

修改 route.go、route_boards.go，並預期能夠從 bbs.BoardRecord 中獲取回傳資料。
由於目前 bbs.BoardRecord 尚無法提供回傳資料，所以暫時先回傳寫死的資料。
### 期程 / Schedule
- 討論時間： 1 天
- 實作時間： 1 天
- 確認時間： 1 天

### 相關文件 / Documents

- 母 issue：#65
- [PTT 後端系統協定](https://docs.google.com/document/d/18DsZOyrlr5BIl2kKxZH7P2QxFLG02xL2SO0PzVHVY3k/edit#heading=h.qiotemweyhbo)

[2021-03-14 17:15] #59 closed, assigned to whitefloor

[2021-03-15 09:36] #90 closed, assigned to y2468101216

[2021-03-15 14:55] linmeichu commented on #61
欸欸好～

[2021-03-16 07:54] y2468101216 commented on #128
完成了 close

[2021-03-16 07:54] #128 closed, assigned to y2468101216

[2021-03-16 07:55] y2468101216 commented on #88
完成 close

[2021-03-16 07:55] #88 closed, assigned to y2468101216

[2021-03-16 07:55] y2468101216 commented on #73
完成了 close

[2021-03-16 07:55] #73 closed, assigned to y2468101216, techeternalriverco

[2021-03-16 07:56] y2468101216 commented on #36
目前皆已完成

[2021-03-16 07:56] #36 closed, assigned to y2468101216

[2021-03-17 08:33] y2468101216 opened #143 "[主線] [PTT] 將 FOR_DEVELOPERS.md 增加 lint 相關"
### 實作細節 / Details of Implement
因應 development_enable_lint 消失，修正相關文件說明。

### 期程 / Schedule
- 討論時間： 一天
- 實作時間： 一天
- 確認時間： 一天

### 相關文件 / Documents
無

[2021-03-17 08:39] #143 closed, assigned to nobody

[2021-03-18 01:42] wagaru opened #145 "[建議] API 文件增加 HTTP Status Code"
### 原本作法的問題 / Existed Problem
目前的 API 文件沒有詳細列出各種 Status Code 以及各種錯誤時回傳的 Status Code
這樣在實作 delivery 時會比較有模糊的空間，對前端也不好做錯誤處理

### 實作細節 / Details of Implement
1. 在 API 文件上新增 Status Code
2. 更新 Swagger 文件
3. 立 issue 修改現有 delivery 實作不符的地方

### 期程 / Schedule
- 討論時間： 一週
- 實作時間： 待確認
- 確認時間： 待確認

### 相關文件 / Documents
[API 文件](https://docs.google.com/document/d/18DsZOyrlr5BIl2kKxZH7P2QxFLG02xL2SO0PzVHVY3k/edi

[2021-03-18 02:25] #115 closed, assigned to nobody

[2021-03-18 02:34] PichuChen commented on #145
目前的 status code 的政策是 2 3 4 5 而已，假如是Client錯誤回應 4開頭的 Server 錯誤回應 5 開頭的。
然後在錯誤的時候會有 error 和 error_description 兩個欄位， error_description 建議是可以直接顯示在最前端，讓 Enduser 可以截圖回報錯誤，方便 Debug 使用的，那細節來說我認為應該要去設計 error 的 name space，目前在各大廠的錯誤處理似乎沒有一個比較通用的設計也是一個問題。

在錯誤處理的設計原則上，我會假定以下狀況：
* Client 或是前端並不會認真進行錯誤處理，
* 設計期沒辦法預測所有可能的錯誤，錯誤的種類必然會在未來增加
* 錯誤有可能發生在我們可以處理或是我們不能處理的地方，例如硬碟空間已滿
* 清楚的錯誤訊息可以加快錯誤的解決時間，但是太複雜的訊息對使用者而言有點可怕

[2021-03-18 05:30] wagaru commented on #145
以 MileStone 1 的目地是要讓前端能夠快樂開發的話，現階段或許可以先不用考慮 End User，只考慮前端？
但前端對錯誤處理的態度我就不確定了 XD

不過現階段是可以將錯誤訊息包一個 helper 出來做集中處理，裡面定義 error_code 與 error_description 之類的
當要回傳錯誤給前端時比較有一致的寫法(詳細做法可以再討論)
這樣的話，或許 API 文件跟 Swagger 可以之後比較明確時再補充就好~

[2021-03-19 03:46] DeanXu2357 opened #147 "[主線] [PTT] 實作推文 usecase"
### 實作細節 / Details of Implement
完成推文功能的 usecase ，尚未定義的地方已註解標記
實作完成後推至 feature/append_comment

### 期程 / Schedule
- 討論時間：
- 實作時間： 到 3/23
- 確認時間： 到 3/27

### 相關文件 / Documents
主任務 #68
[PTT 後端協定](https://docs.google.com/document/d/18DsZOyrlr5BIl2kKxZH7P2QxFLG02xL2SO0PzVHVY3k/edit#)
[Swagger](https://pttapp.cc/swagger/)

[2021-03-20 04:00] hungyiwu commented on #118
[update] 不好意思沒有看到已經有 PR 了 :sweat_smile:

我想認領這個，謝謝!

[2021-03-20 04:10] PichuChen commented on #147
可以把 usecase 和 repository 分開嗎？

[2021-03-20 04:15] hungyiwu commented on #100
這個有人認領嗎？可以 assign 給我嗎？

[2021-03-20 06:34] #118 closed, assigned to kyho4515

[2021-03-21 14:28] DeanXu2357 commented on #147
好，這個issue我先做 usecase

[2021-03-23 21:17] kyho4515 opened #148 "[主線] [PTT] 實作使用者設定 -- 修改usecase和repository"
### 實作細節 / Details of Implement
- 修改 internal/usecase/user.go
  - 修改GetUserPreferences內的data
- 修改 internal/repsitory/user.go
  - 新增dummy function給usecase

### 期程 / Schedule
- 討論時間： 兩天, 到 3/25
- 實作時間： 兩天, 到 3/27
- 確認時間： 兩天, 到 3/29

### 相關文件 / Documents
主issue: #62
[PTT 後端系統協定](https://docs.google.com/document/d/18DsZOyrlr5BIl2kKxZH7P2QxFLG02xL2SO0PzVHVY3k)

[2021-03-23 21:22] kyho4515 commented on #148
想確認一下repository的寫法, 因為go-bbs還沒有相對應的method, 目前這部分是直接對每個usecase裡的field都建一個dummy function嗎?

[2021-03-24 06:27] PichuChen commented on #148
對

[2021-03-24 14:58] nickyanggg commented on #64
請問這是對應到 [PTT 後端系統協定](https://docs.google.com/document/d/18DsZOyrlr5BIl2kKxZH7P2QxFLG02xL2SO0PzVHVY3k/edit#heading=h.aapnwrfqwltx) 中的哪個 endpoint ?

[2021-03-29 01:33] PichuChen commented on #137
@nickyanggg 可以確認一下這個 ISSUE 目前的狀態嗎？

[2021-03-29 02:14] nickyanggg commented on #137
#138
目前已經照 reviewer 提供的意見修改完畢，正等待被重新 review。

[2021-03-29 04:38] #137 closed, assigned to nickyanggg

[2021-03-29 06:03] PichuChen commented on #147
@DeanXu2357 可以問一下目前這個 ISSUE 的狀態嗎？

[2021-03-29 08:19] DeanXu2357 commented on #147
抱歉前幾天再忙還沒寫，今天晚點會推 pr

[2021-03-29 09:08] PichuChen commented on #148
@kyho4515 可以問一下目前這個 ISSUE 的狀態嗎？

[2021-03-29 09:10] PichuChen commented on #65
usecase 和 repo 看起來用既有的就完成了，因此 close

[2021-03-29 09:10] #65 closed, assigned to nickyanggg

[2021-03-29 09:10] #17 closed, assigned to denkeni

[2021-03-29 09:10] #2 closed

[2021-03-29 09:11] #3 closed

[2021-03-29 09:11] #5 closed

[2021-03-29 09:11] #38 closed, assigned to nobody

[2021-03-29 09:12] PichuChen commented on #52
@fish-dumpling 問一下 usecase 的子 ISSUE 你那邊會把它開起來嗎？

[2021-03-29 20:26] kyho4515 commented on #148
這幾天比較忙一點, 這部分已經改好, 準備送出pull request了

[2021-03-31 03:48] gogog22510 commented on #100
我可以試試看

[2021-03-31 03:55] PichuChen commented on #100
感謝，再麻煩你了

[2021-03-31 07:35] y2468101216 opened #151 "[主線] [PTT] 將 readme.md 調整對開發者更易上手的格式"
### 實作細節 / Details of Implement
目前的話，readme.md 皆是以歷史背景出發點再說的。
開發者對於如何參與這個專案是一頭霧水的。

目前我個人看法是應該直接把 milestone 擺在顯眼的地方，並且每個 isssue 都應該要確實的 assign 給某個要接的人。
避免出現明明這個 issue 有人再做卻要看討論才知道。

然後應該要把時程表放在顯眼的地方，哪邊做了哪邊沒做，方便開發者知道目前進度。

### 期程 / Schedule
無，討論到大家滿意為止

### 相關文件 / Documents
README.md

[2021-03-31 12:46] arhtur007 opened #152 "[主線] [PTT] 實作轉錄看板文章 -- delivery/http"
### 實作細節 / Details of Implement
* 此為 #66 子任務
* 實作 [http.go](https://github.com/Ptt-official-app/Ptt-backend/blob/c7963687ce513557459c87198f207e4dc0999275/internal/delivery/http/http.go)
* 實作初步的 http_test.go
### 期程 / Schedule
* 討論時間： 一週, 到 4/7
* 實作時間：一週, 到 4/14
* 確認時間：一週, 到 4/21

### 相關文件 / Documents
* 主issue: #66
* [PTT後端系統協定](https://docs.google.com/document/d/18DsZOyrlr5BIl2kKxZH7P2QxFLG02xL2SO0

[2021-03-31 12:47] arhtur007 opened #153 "[主線] [PTT] 實作轉錄看板文章 -- usecase"
### 實作細節 / Details of Implement
* 此為 #66 子任務
* 在 [usecase.go](https://github.com/Ptt-official-app/Ptt-backend/blob/development/internal/usecase/usecase.go#L63) 實作
  * 檢查目前使用者有沒有在該版發文權限
  * 檢查轉錄文章相關權限
### 期程 / Schedule
* 討論時間： 一週, 到 4/7
* 實作時間：一週, 到 4/14
* 確認時間：一週, 到 4/21

### 相關文件 / Documents
* 主issue: #66
* [PTT後端系統協定](https://docs.google.com/document/d/18DsZOyrlr5BIl2kKxZH7P2QxFLG02xL2SO0PzVHVY3

[2021-03-31 12:48] arhtur007 opened #154 "[主線] [PTT] 實作轉錄看板文章 -- repository"
### 實作細節 / Details of Implement
* 此為 #66 子任務
* 實作 [repository.go](https://github.com/Ptt-official-app/Ptt-backend/blob/development/internal/repository/repository.go)
* 因為 [go-bbs](https://github.com/Ptt-official-app/go-bbs) 尚未完成，需要先 mock 一個暫時性的結果等待 go-bbs 完成之後進行串接。
### 期程 / Schedule
* 討論時間： 一週, 到 4/7
* 實作時間：一週, 到 4/14
* 確認時間：一週, 到 4/21

### 相關文件 / Documents
* 主issue: #66
* [PTT後端系統協定](https://docs

[2021-03-31 12:49] arhtur007 commented on #66
已另外開設三個子issue

[2021-03-31 13:04] RicoToothless commented on #64
有收到指派了感謝，也有意願做，
但目前暫定 4/15 之後才比較有空深入研究，撇人新手請多多指教。

[2021-03-31 13:07] PichuChen commented on #64
感謝回應～
兩週有比較久，那這之中我在看一下有沒有其他人能幫忙好了。

[2021-03-31 13:10] PichuChen commented on #64
應該是 /v1/boards/{{board_id}}/information ? 從一開始的需求看起來是要讓前端發文前檢查使用者有沒有發文權限用的

[2021-03-31 14:34] titaneric opened #155 "[主線] [PTT] 實作轉錄信箱 http module"
## 實作細節 / Details of Implement

此為 #67 子任務
 http 部分請依照文件實作並且有初步的 testcode。

## 期程 / Schedule

討論時間： 一週, 到 4/7
實作時間：一週, 到 4/14
確認時間：一週, 到 4/21

## 預期修改檔案

- delivery/http下新增類似route_forward_article.go並按照文件實作
- delivery/http/route.go的postBoards method 需要針對action = "forward_article"做處理，並引用route_forward_article.go實作的method
- 補上對應測試

## 相關文件 / Documents

#67
[PTT 後端系統協定](https://docs.google.com/document

[2021-03-31 14:37] titaneric opened #156 "[主線] [PTT] 實作轉錄信箱 usecase module"
## 實作細節 / Details of Implement

此為 #67 子任務
usecase 部分應該要檢查目前使用者有沒有轉錄信箱相關權限。

## 期程 / Schedule

討論時間： 一週, 到 4/7
實作時間：一週, 到 4/14
確認時間：一週, 到 4/21

## 預期修改檔案

usecase下的article.go新增forwardArticle method
usecase/usecase.go中的interface須新增`forwardArticle` method到usecase interface
檢查權限及補上對應測試

## 相關文件 / Documents

#67
[PTT 後端系統協定](https://docs.google.com/document/d/18DsZOyrlr5BIl2kKxZH7P2QxFLG02xL2SO0PzVHVY

[2021-03-31 14:38] titaneric opened #157 "[主線] [PTT] 實作轉錄信箱 repository module"
## 實作細節 / Details of Implement

此為 #67 子任務
repository 因為 go-bbs 可能還沒完成，因此需要先 mock 一個暫時性的結果等待 go-bbs 完成之後進行串接。

## 預期修改位置

初步看起來可以直接沿用repository/board.go下的GetBoardArticle，應該可以不用新增

## 期程 / Schedule

討論時間： 一週, 到 4/7
實作時間：一週, 到 4/14
確認時間：一週, 到 4/21

## 相關文件 / Documents

#67
[PTT 後端系統協定](https://docs.google.com/document/d/18DsZOyrlr5BIl2kKxZH7P2QxFLG02xL2SO0PzVHVY3k/edit#heading=h.aapnwrfqwltx)

[2021-03-31 14:38] titaneric commented on #67
已協助開設對應子issue

[2021-03-31 19:13] fish-dumpling commented on #52
看起來是要開

[2021-04-01 09:05] PichuChen commented on #152
@arhtur007 可以幫我補充一下大致上會修改的檔案的檔案位置嗎？

[2021-04-01 09:06] PichuChen commented on #153
@arhtur007 可以幫我補充一下大致上會修改的檔案的檔案位置嗎？

[2021-04-01 09:06] PichuChen commented on #154
@arhtur007 可以幫我補充一下大致上會修改的檔案的檔案位置嗎？

[2021-04-01 09:07] PichuChen commented on #155
@titaneric 可以幫我補一下大致上會需要修改的檔案的檔案位置嗎？

[2021-04-01 09:07] PichuChen commented on #156
@titaneric 可以幫我補一下大致上會需要修改的檔案的檔案位置嗎？

[2021-04-01 09:07] PichuChen commented on #157
@titaneric 可以幫我補一下大致上會需要修改的檔案的檔案位置嗎？

[2021-04-02 05:48] nickyanggg commented on #64
/v1/boards/{{board_id}}/information 貌似已經在這個 issue #63 被實作過了？

[2021-04-02 06:03] SivWatt commented on #60
今天會幫忙開立子ISSUE～

[2021-04-02 07:48] #110 closed, assigned to PichuChen, y2468101216

[2021-04-02 07:49] #148 closed, assigned to nobody

[2021-04-02 08:08] SivWatt opened #160 "[主線] [PTT] 實作個人看板歷史留言 http"
### 實作細節 / Details of Implement
- 此為 #60 子ISSUE
- http 部分請依照文件實作並且有初步的 testcode。
- 文件請參考關鍵字：`/v1/users/{{user_id}}/comments`
- 修改 [route_users.go](https://github.com/Ptt-official-app/Ptt-backend/blob/development/internal/delivery/http/route_users.go)
    - 新增 switch case 在 `getUsers()`
    - 新增函式: `func (delivery *Delivery)getUserComments(w http.ResponseWriter, r *http.Request, userID string)`
- 修

[2021-04-02 08:35] SivWatt opened #161 "[主線] [PTT] 實作個人看板歷史留言 usecase"
### 實作細節 / Details of Implement
- 此為 #60 子ISSUE
- usecase 部分應該是直接將 repository 的結果輸出即可。
- 修改 [usecase.go](https://github.com/Ptt-official-app/Ptt-backend/blob/development/internal/usecase/usecase.go)
    - 新增介面函式: `GetUserComments(ctx context.Context, userID string)`
- 修改 [usecase/user.go](https://github.com/Ptt-official-app/Ptt-backend/blob/development/internal/usecase/user.go)
    - 新增函式: `func (

[2021-04-02 08:49] SivWatt opened #162 "[主線] [PTT] 實作個人看板歷史留言 repository"
### 實作細節 / Details of Implement
- 此為 #60 子ISSUE
- repository 部分歷史留言功能應該由 go-bbs 儲存還是 Ptt-backend 掃描後暫存需要討論，暫定由 go-bbs 儲存。
- 修改 [repository.go](https://github.com/Ptt-official-app/Ptt-backend/blob/development/internal/repository/repository.go)
  - 新增介面函式: `GetUserComments(ctx context.Context, userID string)`
- 修改 [repository/user.go](https://github.com/Ptt-official-app/Ptt-backend/blob/development/

[2021-04-02 09:01] PichuChen commented on #64
Duplicate of #63

[2021-04-02 09:01] #64 closed, assigned to nobody

[2021-04-02 12:56] PichuChen commented on #67
子ISSUE的部分可以幫忙補充一下要修改的檔案嗎？

[2021-04-02 12:57] PichuChen commented on #66
不好意思，可以幫忙補充一下需要修改的檔案位置嗎？

[2021-04-02 13:07] titaneric commented on #67
sorry,假日可以來處理
專案部份我有點陌生，自己要先看過一次，再找出會修改的檔案

[2021-04-02 13:32] arhtur007 commented on #66
阿啊不好意思～

我回家之後研究一下！
Pichu Chen ***@***.***>於 2021年4月2日 週五，20:57寫道：

[2021-04-03 13:08] titaneric commented on #67
@PichuChen 已補上，有誤再請指正

[2021-04-03 21:24] kyho4515 commented on #62
這部分我想是都完成了
另外, 目前users的部分好像都還沒做post, 這是之後再開其他issue處理嗎?

[2021-04-03 21:25] PichuChen commented on #62
有也可能是排入milestone 2

[2021-04-04 11:10] #160 closed, assigned to nobody

[2021-04-04 13:42] PichuChen commented on #100
剛剛看了一下，這個ISSUE是在之前 refactor 就已經有實作了嗎？

[2021-04-04 13:43] #62 closed, assigned to kyho4515

[2021-04-04 13:48] PichuChen commented on #151
時程表的部分應該會放在 FOR_DEVELOPER.md 上面，因為開發者和實際上執行使用的人是兩種使用者

[2021-04-04 14:13] gogog22510 commented on #100
對我開始時發現已經有實作了，我就照著issue的1，2，3點做修改test case和log error的部分

[2021-04-04 16:14] AmberFu opened #164 "[主線] [PTT] 實作熱門看板的看板列表 usecase/board"
### 實作細節 / Details of Implement

- 此為 #51 子ISSUE
- 修改 [board.go](https://github.com/Ptt-official-app/Ptt-backend/blob/development/internal/usecase/board.go)
  - 實作函式 `GetPopularBoards()`
- 注意 - 兩個可行方向：
  - 「利用 GetBoards 後再一個一個篩選」
  - 「從 Ptt-backend 發起有邏輯性的篩選條件（例如where is_hidden = 0）」帶入主流 DBMS 的概念

### 期程 / Schedule

- 討論時間： 一週, 到 4/7
- 實作時間： 一週, 到 4/14
- 確認時間： 一週, 到 4/21

### 相關文件 / Documents
- 主i

[2021-04-06 12:00] SivWatt commented on #161
確認一下～這邊應該是接repository的return然後往回丟嘛

[2021-04-06 12:01] PichuChen commented on #161
對

On Tue, Apr 6, 2021 at 8:00 PM SivWatt ***@***.***> wrote:

[2021-04-06 12:24] SivWatt commented on #161
所以組json就是在repository那邊組
那這邊應該可以接起來寫個mock就搞定

[2021-04-06 15:14] titaneric commented on #152
嗨，我可以負責做這個，可能4/9開始做，一週到4/16截止

[2021-04-06 15:16] PichuChen commented on #152
十分感謝！

[2021-04-06 16:08] SivWatt commented on #162
這個我來做

[2021-04-06 16:08] SivWatt commented on #161
那我就找時間把這個做掉～

[2021-04-06 18:13] fish-dumpling opened #165 "[主線] [PTT] 實作個人看板的使用者資訊usecase"
### 實作細節 / Details of Implement
- #52 子issue
- usecase 部分應該是直接將 repository 的結果輸出即可。
- 修改 [usecase/user_test.go](https://github.com/Ptt-official-app/Ptt-backend/blob/development/internal/usecase/user_test.go)
新增測試函式 TestGetUserInformation
- TODO: Check Etag or Not-Modified for cache (?)
註解上看到這條，我們目前有在其他地方實作過cache嗎？或者這邊不需要？

### 期程 / Schedule
- 討論時間： 3天
- 實作時間： 1天
- 確認時間： 1天

### 相關文件 / Documents
-

[2021-04-06 18:14] PichuChen commented on #165
Cache 的部分幫忙留著註解

[2021-04-07 04:24] AmberFu commented on #155
我會試著實作這部分

[2021-04-07 15:36] wagaru opened #166 "[主線] [PTT] 實作儲存草稿 - delivery/http"
### 實作細節 / Details of Implement
- 此為 #61 的子任務
- 修改 route.go 與 route_user.go 並在 route_user_test.go 補上測試
### 期程 / Schedule
- 討論時間：一週, 到 4/14
- 實作時間： 一週, 到 4/21
- 確認時間： 一週, 到 7/28

### 相關文件 / Documents
[API文件](https://docs.google.com/document/d/18DsZOyrlr5BIl2kKxZH7P2QxFLG02xL2SO0PzVHVY3k/edit#heading=h.p7g3lzj85fw8)

[2021-04-07 15:51] wagaru opened #167 "[主線] [PTT] 實作儲存草稿 - repository"
### 實作細節 / Details of Implement
- 此為 #61 的子任務
- 修改 repository.go 與 user.go
- 因 go-bbs 尚未實作相關功能，可先 mock 一個結構出來儲存草稿，之後實作刪除草稿與取得草稿時可重用這個結構
- 要回傳 error
### 期程 / Schedule
- 討論時間：一週, 到 4/14
- 實作時間： 一週, 到 4/21
- 確認時間： 一週, 到 7/28

### 相關文件 / Documents
[API文件](https://docs.google.com/document/d/18DsZOyrlr5BIl2kKxZH7P2QxFLG02xL2SO0PzVHVY3k/edit#heading=h.p7g3lzj85fw8)

[2021-04-07 15:53] wagaru opened #168 "[主線] [PTT] 實作儲存草稿 - usecase"
### 實作細節 / Details of Implement
- 此為 #61 的子任務
- 修改 usecase.go 與 user.go 並在 user_test.go 補上測試
- 應該直接呼叫 repository 提供的 function 即可
- 要回傳 error
### 期程 / Schedule
- 討論時間：一週, 到 4/14
- 實作時間： 一週, 到 4/21
- 確認時間： 一週, 到 7/28

### 相關文件 / Documents
[API文件](https://docs.google.com/document/d/18DsZOyrlr5BIl2kKxZH7P2QxFLG02xL2SO0PzVHVY3k/edit#heading=h.p7g3lzj85fw8)

[2021-04-10 06:24] nickyanggg commented on #166
我可以幫忙這個～

[2021-04-10 10:00] nickyanggg commented on #166
請問是一次實作取得、儲存、刪除草稿三種 method 嗎？還是只要先實作取得的部分就好？

[2021-04-10 10:02] PichuChen commented on #166
可以做一個PR一個

[2021-04-10 15:34] SivWatt commented on #162
想確認一下這邊應該我的理解會是由`go-bbs`定義好資料結構以及method
然後`repository`這邊使用method傳入 userID 拿回結果
所以要馬這邊先抽象化作掉 不然就是`go-bbs`做好 這邊直接接起來嗎

[2021-04-10 15:38] PichuChen commented on #162
如果說 go-bbs 已經有定義好的資料結構和 method 的話就是採用 go-bbs 的，不然就是在 pb 這邊定義一個然後再看後面檢討這樣。

然後我印象中 go-bbs 已經有對應個人看板歷史留言的 method 了。

https://github.com/Ptt-official-app/go-bbs/pull/75/files

在這邊，如果覺得OK也可以幫我回個 LGTM 那這樣我就把他merge進去這樣

[2021-04-10 16:08] SivWatt commented on #162
他這個好像是使用者歷史文章
裡面沒有跟comment 有關的record

[2021-04-10 18:21] PichuChen commented on #162
那...看起來是還沒實作...

[2021-04-10 18:40] SivWatt commented on #71
好像有點晚才看到這個 XD
針對 __Logger__ 我覺得他其實也是一個 dependency 我認為是要保留 interface 的部分
雖然目前我們的 code 雖然使用 logger 的地方不多 (其實大家的習慣也都不一樣 很正常)

舉個例子 `getPopularArticles()` 實作裡面就有 cal l到 logger
這樣並沒有不好，但是會發現在`go test -v` 的情況下 logger 的 output 也會秀出來。
但是我們可能預期在testing 的時候 這些log 不應該寫出來，這個時候我們就可以把這個 dependency mock 掉，如此一來testing output 就比較不會有雜訊。

我的想法是甚至我們會需要多一個 `logger_mock_test.go` 裡面有一個 `MockLogger` 讓各個 struct 跟他有 depend

[2021-04-11 04:59] SivWatt commented on #162
那我還是先回[]interface{}好了
註解一下之後要改掉

[2021-04-12 01:47] #161 closed, assigned to SivWatt

[2021-04-12 11:53] RicoToothless commented on #154
我願意試試看這個 issue

[2021-04-12 12:01] PichuChen commented on #154
再麻煩你了

[2021-04-13 04:19] y2468101216 opened #173 "[主線] [PTT] 增加 route_token 註解"
### 實作細節 / Details of Implement
主要是增加 route_token 相關註解
可參考 #110

### 期程 / Schedule
- 討論時間： 三天
- 實作時間：三天
- 確認時間： 一天

### 相關文件 / Documents
route_token.go , route_token_test.go , route_token_mock_test.go

[2021-04-13 04:20] y2468101216 opened #174 "[主線] [PTT] 增加 route_classes 相關註解"
### 實作細節 / Details of Implement
增加 route_classes  相關註解
可參考 #110

### 期程 / Schedule
- 討論時間： 三天
- 實作時間：一天
- 確認時間： 一天

### 相關文件 / Documents
route_classes.go , route_classes_test.go , route_classes_mock_test.go

[2021-04-13 04:21] y2468101216 opened #175 "[主線] [PTT] 增加 route_borad 相關註解"
### 實作細節 / Details of Implement
主要是增加 route_borad 相關註解
可參考 #110

### 期程 / Schedule
- 討論時間： 三天
- 實作時間：一天
- 確認時間： 一天

### 相關文件 / Documents
 route_boards.go, route_boards_test.go , route_boards_mock_test.go

[2021-04-13 04:22] y2468101216 opened #176 "[主線] [PTT] 增加 route_boards_articles 相關註解"
### 實作細節 / Details of Implement
主要是增加 route_boards_articles 相關註解
可參考 #110

### 期程 / Schedule
- 討論時間： 三天
- 實作時間：一天
- 確認時間： 一天

### 相關文件 / Documents
route_boards_articles.go , route_boards_articles_test.go

[2021-04-13 06:59] #147 closed, assigned to DeanXu2357

[2021-04-13 13:03] PichuChen commented on #156
related to #153

[2021-04-13 13:07] PichuChen commented on #155
@AmberFu 目前實作上有遇到問題嗎？

[2021-04-13 13:32] PichuChen commented on #165
目前還沒統一實作，接下來會需要做，不過Cache 應該是做在Delivery層那邊？

[2021-04-13 13:49] PichuChen commented on #156
在轉錄信箱的 usecase 當中，可能要增加新的設定值，讓系統站長可以設定使用寄信的 API, 類似 Provider 這樣？

[2021-04-13 15:34] DeanXu2357 opened #177 "[主線] [PTT] 實作 發文 http"
### 實作細節 / Details of Implement
- 添加 route
- route_board_articles.go 新增對應的 function
- 新增簡單的 response testcase ，確認 route 打的通
- 更新 swagger.yml

### 期程 / Schedule
- 討論時間： 一週
- 實作時間： 一週
- 確認時間： 一週

### 相關文件 / Documents
主 Issue #25
[PTT 後端協定](https://docs.google.com/document/d/18DsZOyrlr5BIl2kKxZH7P2QxFLG02xL2SO0PzVHVY3k/edit#)
[Swagger](https://pttapp.cc/swagger/)

[2021-04-13 15:50] DeanXu2357 opened #178 "[主線] [PTT] 實作"
### 實作細節 / Details of Implement

- 修改
  - 增加函式 XXXXXX
- 新增 OOOOOO
- 注意 XXXXXX
### 期程 / Schedule

### 相關文件 / Documents

[2021-04-13 15:50] DeanXu2357 opened #179 "[主線] [PTT] 實作發文 usecase"
### 實作細節 / Details of Implement
- usecase/articles.go 新增發文 function
- usecase/token.go 中的 function CheckPermission 新增有關發文的權限判斷，如果
repo 沒有對應的 function 就先加個註解

### 期程 / Schedule
- 討論時間： 五天
- 實作時間： 五天
- 確認時間： 五天

### 相關文件 / Documents
主 Issue #25
[PTT 後端協定](https://docs.google.com/document/d/18DsZOyrlr5BIl2kKxZH7P2QxFLG02xL2SO0PzVHVY3k/edit#)
[Swagger](https://pttapp.cc/swagger/)

[2021-04-13 15:55] DeanXu2357 opened #180 "[主線] [PTT] 實作發文 repository"
### 實作細節 / Details of Implement
- repository 中新增發文的 function 與對應的 interface

### 期程 / Schedule
- 討論時間： 五天
- 實作時間： 五天
- 確認時間： 五天

### 相關文件 / Documents
主 Issue #25
[PTT 後端協定](https://docs.google.com/document/d/18DsZOyrlr5BIl2kKxZH7P2QxFLG02xL2SO0PzVHVY3k/edit#)
[Swagger](https://pttapp.cc/swagger/)

[2021-04-13 19:44] PichuChen commented on #178
好像什麼東西不見了？

[2021-04-14 03:09] whitefloor opened #181 "[主線] [PTT] 實作熱門看板的看板列表 repository"
### 實作細節 / Details of Implement

- repository 因為 go-bbs 可能還沒完成，因此需要先 mock 一個暫時性的結果等待 go-bbs 完成之後進行串接。

### 期程 / Schedule

- 討論時間： 3天, 4/15-4/17
- 實作時間： 3天, 4/18-4/20
- 確認時間： 3天, 4/21-4/23

### 相關文件 / Documents

- 主Issue: #51
- [PTT後端系統協定](https://docs.google.com/document/d/18DsZOyrlr5BIl2kKxZH7P2QxFLG02xL2SO0PzVHVY3k/edit)
- /v1/popular-boards

[2021-04-14 03:11] whitefloor commented on #51
#181 repo的issue開好了

#164 #181 這兩個issue麻煩assign給我 感謝

[2021-04-14 04:10] DeanXu2357 commented on #178
這應該是我不小心多按到的

[2021-04-14 04:10] #178 closed, assigned to nobody

[2021-04-14 05:58] SivWatt commented on #165
這個我做～

[2021-04-14 06:34] y2468101216 opened #182 "[一般] 貢獻者名單"
### 實作細節 / Details of Implement
因為第一期 milestone 即將結束，目前準備製作一份貢獻者名單加到專案裡面。
包括但不限於 coding，撰寫文件等

歡迎大家提名自己到名單內

### 期程 / Schedule
無，但會定時 merge 到 development

### 相關文件 / Documents
CONTRIBUTORS.md

提名格式如下:

1. 名字 （網路名稱）：必填
2. GitHub 帳號：非必填
3. 社交帳號：非必填，請給連結
4. 貢獻內容：必填

[2021-04-14 06:36] y2468101216 commented on #182
1. 名字 （網路名稱）：陳昱廷
2. GitHub 帳號：[y2468101216](https://github.com/y2468101216)
3. 社交帳號：[facebook](https://www.facebook.com/y2468101216)
4. 貢獻內容：coding

[2021-04-14 07:49] PichuChen commented on #51
OK， #164 的部分需要麻煩幫我在下面回應我才能 Assign 喔

[2021-04-14 07:51] whitefloor commented on #164
hi~~~請assign這個給我

[2021-04-14 07:56] PichuChen commented on #67
轉入信箱的部分應該還需要一個提供寄信功能的 Provider

[2021-04-14 13:38] SivWatt commented on #182
1. 名字 （網路名稱）：SivWatt、涼涼
2. GitHub 帳號：[SivWatt](https://github.com/SivWatt)
3. 社交帳號：
4. 貢獻內容：coding

[2021-04-14 15:12] arhtur007 commented on #153
這個請讓我試試

[2021-04-14 16:24] weizhe0422 commented on #167
我可以幫忙這個

[2021-04-14 16:25] PichuChen commented on #167
OK, 如果有問題的話再到 Slack 或是這邊發問

[2021-04-14 18:03] AmberFu commented on #155
@titaneric 好像幫我做掉了，我現在幫忙 review code 而已。

[2021-04-15 02:18] wagaru commented on #156
那想確定一下，這張卡也包含至少實作一種發信方式嗎？

[2021-04-15 12:59] #152 closed, assigned to titaneric

[2021-04-15 13:08] SivWatt commented on #162
這個ISSUE #161 已經做了一部分 除了 test code _(感覺在db 可以mock之前好像都沒意義 是可以驗hard code 結果 XDD)_
目前是直接回一個 hard code 結果 因為 go-bbs 看起來是還沒有實作
這邊沒有concern是不是可就可以close了

[2021-04-15 13:31] whitefloor commented on #182
1. 名字 （網路名稱）：whitefloor
2. GitHub 帳號：[whitefloor](https://github.com/whitefloor)
3. 社交帳號：x
4. 貢獻內容：coding/code review

[2021-04-15 13:41] whitefloor commented on #164
補充router當紀錄怕下次忘記
/v1/popular-boards

[2021-04-15 13:56] whitefloor commented on #181
我想請問熱門看板有另外儲存嗎？
還是是使用GetBoards撈看板出來再到usecase判斷？

[2021-04-15 14:11] whitefloor commented on #164
我想請問判斷的條件是要等go-bbs新增嗎？
目前照討論的方向使用GetBoards只能取得BoardID/Title/IsClass/ClassID/BM
除了ClassID之外好像都沒辦法當作篩選條件

[2021-04-15 14:30] whitefloor commented on #51
如果照目前的討論方向
#181是不是可以直接close?
我太晚看到了＝＝

[2021-04-15 14:31] PichuChen commented on #51
如果要close 的話可以標一下是和那個issue或是pr 重覆了，這樣我可以比較快判斷喔

[2021-04-15 14:34] whitefloor commented on #51
照 #51 最後的討論結果
使用GetBoards撈取資料到UseCase判斷
現在已經有GetBoards了
這樣 #181 就不需要實作

[2021-04-15 15:24] Yu-Jack opened #184 "[建議] 應該可以把目前 Response 的回應改成 struct 格式"
在練習寫 go 途中發現也許有可以改善的地方
所以就來提案看看 ~ 歡迎各位指教!

### 原本作法的問題 / Existed Problem

目前寫法會都需要直接寫死 key 在 Response 的地方, 我想也許可以改用 struct 的方式
[code]

### 實作細節 / Details of Implement

可以把統一會用到的 Response 結構放在 delivery/http/http.go 底下, 類似這樣

[code]

再透過呼叫 func 去建立 Response
[code]

那如果說除了固定的 `error` `error_description` 之外, 想要合併其他額外訊息
舉例像是要在某一個特定 router 額外回傳 `username` (這邊 function 舉例叫做 GetUserName)
可以在檔案在最面建構一個 stru

[2021-04-16 17:20] PichuChen commented on #184
這部分我覺得可以，不過比較高一個層級的是應該要定義出錯誤訊息的類別以及格式，這個我覺得可以合併入 Milestone 2做處理？

[2021-04-16 20:49] nickyanggg commented on #182
1. 名字 （網路名稱）：nickyanggg
2. GitHub 帳號：[nickyanggg](https://github.com/nickyanggg)
3. 社交帳號：[facebook](https://www.facebook.com/yang.z.lin.90)
4. 貢獻內容：coding

[2021-04-17 00:57] nickyanggg commented on #166
這個還有儲存草稿 (POST) 以及刪除草稿 (DELETE) 未實作，目前正在實作 POST 的部分，還是剩下二個要另外重開 issue？

[2021-04-17 02:00] Yu-Jack commented on #184
目前聽起來有以下兩種做法

1. 跟著 Milestone1 邊寫邊改, 暫時改成 struct, 等待商業邏輯比較完整後, 再重新整理出錯誤訊息類別和格式
2. 等到 Milestone1 大部分商業邏輯撰寫完成後, 會比較好規劃抽離共同錯誤訊息類別和格式, 然後放在 Milestone2 去改完

不過我有個想法, 我覺得可以先拿已經完成的 API 去進行修改, 畢竟這算一種重構
一來更改既有已完成的 API 相對應的風險比較少, 二來可以先定義該如何配置各個 struct 格式和位置
這樣就不用特地拉到 Milestone2 之後才能處理, 但大概流程會拆成兩塊

1. 在 Milestone1 中更改選定幾支已完成 API
2. 剩餘尚未修改的 API 一併移動到 Milestone2 去進行修改

這樣就可以一併進行, 到時候 Milestone2 的功能也可以直接參照之前定義好

[2021-04-18 12:20] DeanXu2357 commented on #177
@PichuChen 這個讓我來幫忙吧

[2021-04-18 13:29] SivWatt commented on #165
想請問一下這個issue
目前`usecase`裡面已經實作了 `GetUserInformation()` 實作的內容看起來也OK
請問這個 issue 實際希望要做到的是什麼
test case 的話按照我的理解應該是驗證 MockUser return 的那些值
_另外關於 `fmt.Sprintf()` 的部分 我記得使用 `strconv.FormatInt()` 或是 `strconv.Itoa()` 效率更好_

[2021-04-18 14:39] PichuChen commented on #177
麻煩你了

[2021-04-19 05:03] PichuChen commented on #184
目前會稍微缺人力實作原有的 API 以及確認行為正確，因此行為正確確認之前其實做重構的意義不大。
但是在這階段應該可以先討論錯誤訊息的 struct 或者是 interface 應該要有哪些 method 我預估在討論上可能會需要至少兩週，所以這樣會剛好和 milestone 1 的進度接起來。

[2021-04-19 06:42] Yu-Jack commented on #184
但是在這階段應該可以先討論錯誤訊息的 struct 或者是 interface 應該要有哪些 method 我預估在討論上可能會需要至少兩週，所以這樣會剛好和 milestone 1 的進度接起來。

了解, 那不如就由我來負責幫忙整理目前現有 Response 的各種規格
整理完現有規格, 再來討論要用什麼樣的 struct or interface 去處理以及要如何放置?

[2021-04-19 07:10] PichuChen commented on #184
OK

這部分有打算用什麼方式紀錄嗎？ Google docs? Google sheet?

On Mon, Apr 19, 2021 at 2:43 PM YuJack ***@***.***> wrote:

[2021-04-19 07:28] #166 closed, assigned to nickyanggg

[2021-04-19 07:34] Yu-Jack commented on #184
目前初步想法是用 Google Sheet, 然後內容大該會如下
主要是去整理目前哪些 API 回的格式是固定的, 哪些是只有這個 API 才回傳
這樣就可以交集出共用的部分, 以及找出非共用的部分

<table>
    <thead> </thead>
        <tr>
            <td>API Name</td>
            <td colspan="2">Success Response</td>
            <td colspan="2">Failed Response</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>API Name 1</td>
            <td>field1</td>
            <td>

[2021-04-19 14:17] Yu-Jack commented on #184
實際看著 API 文件和程式後, 簡單的用了六支 API 整理了一個[版本](https://docs.google.com/spreadsheets/d/1yMBACGh_AoHsn7g4zXxKv3fVG8FTdG5lUSyTHSrH-Is/edit?usp=sharing)

1. 有幾支 API 的確回傳格式差不多, 某些部分可以共用 struct, 但有些只能用一次, 就變成只有他自己能用 struct
    * /v1/token 單獨一組
    * /v1/users/{{user_id}}/information 單獨一組
    * /v1/users/{{user_id}}/comments, /v1/users/{{user_id}}/articles 兩組部分可共用
    * /v1/users/{{user_id}}/preferences GET + PO

[2021-04-20 05:43] #100 closed, assigned to gogog22510

[2021-04-20 05:59] PichuChen commented on #184
作法上如果有其他地方的做法可以提出來參考這樣

[2021-04-20 06:00] PichuChen commented on #156
他應該去串接 provider 的 interface 就行了，所以可能是一個 method 他裡面有三個參數 `to string, title string, body string` 這樣

[2021-04-20 06:02] y2468101216 commented on #184
error 的格式可以統一成 struct，其他的我覺得不用

[2021-04-20 06:04] PichuChen commented on #184
轉不轉成struct 可能也有效能上面可以測試的地方，理論上使用 map 效能應該是會比較差，但是我印象中差異小到其實可以忽略。

[2021-04-20 06:13] Yu-Jack commented on #184
主要想轉換成 struct 有一個主要原因程式撰寫起來比較不會有 typo 的問題, 智能提示也比較有效

[2021-04-20 06:40] PichuChen commented on #164
什麼篩選條件？

[2021-04-20 06:41] PichuChen commented on #181
@whitefloor  想確定一下目前這個 ISSUE 狀態到哪邊了？

[2021-04-20 06:43] PichuChen commented on #153
@arhtur007  想確定一下目前這個 ISSUE 的進度到哪邊了？

[2021-04-20 06:48] PichuChen commented on #155
在 #152 實作掉了，所以 Close

[2021-04-20 06:48] #155 closed, assigned to AmberFu

[2021-04-20 06:54] PichuChen commented on #165
這個要串接 #100   和 #58 的相關成果，參考 Mock 的 GetUserInformation 去實作真正的 GetUserInformation ，印象中目前的實作應該還是Mock 實作？

這部分看有沒有實際資料

[2021-04-20 06:55] PichuChen commented on #167
@weizhe0422  想確認一下目前這個 ISSUE 進度到哪邊了？

[2021-04-20 08:05] whitefloor commented on #164
篩選熱門看板的條件

我想說可能有某些被隱藏 或是不能留言的看板 會有ID或是一些status可以先過濾掉
最後在用user進入看板的次數去篩選熱門看板

不知道現在有沒有這些field

[2021-04-20 08:09] PichuChen commented on #164
目前在 API 上面沒有，不過你可以把這些東西用 TODO 註解的方式先放上

然後被隱藏的看板可能要實作一個 `shouldBeDisplayOnPouplarList` 之類的 method,
其中規則的部分可能也是要先放註解打 TODO, 因為要去調一下原本 pttbbs 是如何判斷的

On Tue, Apr 20, 2021 at 4:06 PM Joe ***@***.***> wrote:

[2021-04-20 08:10] whitefloor commented on #181
照 #51 的討論這個應該不用實作
目前是使用 usecase.repo.GetBoards(ctx) 將看板全部撈出來
在usecase進行篩選

[2021-04-20 08:11] whitefloor commented on #164
好的 這樣我理解了
今天我會做完這個跟repo的部分，非常感謝

[2021-04-20 12:22] #181 closed, assigned to whitefloor

[2021-04-20 12:27] #162 closed, assigned to SivWatt

[2021-04-20 12:29] PichuChen commented on #60
三個子 ISSUE 都完成了，接下來需要另外再驗證行為是否正確。

[2021-04-20 12:29] #60 closed, assigned to nobody

[2021-04-20 16:00] wagaru commented on #156
剛試了一下，取得單篇文章 /v1/boards/{{board_id}}/articles/{{filename}} 目前只有回傳 raw，沒有 parsed，換言之現在無法單獨取得某篇文章的標題跟內文，也就是發信的 title 跟 body。

[2021-04-20 16:01] PichuChen commented on #156
對，parse 應該會在 Ptt-backend 這邊做？

[2021-04-20 16:02] PichuChen commented on #156
title 的部分可以從文章列表的部分取得 title，body 的部分可以整組送進去，唯一的問題大概是有沒有要去掉色碼和轉 UTF-8

[2021-04-20 18:02] PichuChen commented on #71
有辦法寫個簡單的範例然後附上 PR 嗎？

[2021-04-20 20:49] gogog22510 commented on #68
我可以幫忙repo部分

[2021-04-21 12:49] DeanXu2357 commented on #180
我想幫忙

[2021-04-21 13:15] titaneric commented on #179
嗨我可以負責做這個，請給我一週時間完成

[2021-04-21 13:48] SivWatt commented on #165
我自己做了一個 benchmark test 跑出了兩個結果，可以參考一下。
可以直接看 `Run benchstat with benchmark result` 這一個步驟
[golang_1.14](https://github.com/SivWatt/go-string-convert-benchmark/runs/2400853766?check_suite_focus=true)
[golang_1.16](https://github.com/SivWatt/go-string-convert-benchmark/runs/2400853795?check_suite_focus=true)

[2021-04-21 15:39] DeanXu2357 commented on #180
@PichuChen
看了一下，我可不可以改先做這個
https://github.com/Ptt-official-app/go-bbs/issues/79
有一些結構還沒出來，repo 有點難寫，實做完這個再回頭應該會比較簡單吧

[2021-04-21 16:01] PichuChen commented on #165
相較起來差了快三倍

[2021-04-22 17:16] DeanXu2357 commented on #180
整理一下
就目前來看
bbs.ArticleRecord 需要新增回傳 text(文章內容)
UserRecord 需要新增 sender_site, ip , country , signature (簽名檔？)

另外 api response 內容中的 board_name , 雖然可以用 board_id 在查找一次 go_bbs 。
如果可以在和 go-bbs 新增資料時，就回傳回來就可以少一次 request 了。

[2021-04-22 17:18] PichuChen commented on #180
我印象中好像有問其他人幫忙做了，可能要確認分配表，不過理論上是可以先用mock 的方式假設底層會回傳什麼來做開發。
On Wed, Apr 21, 2021 at 11:40 PM Dean Xu ***@***.***> wrote:

[2021-04-23 02:00] unknowntpo commented on #175
請 assign 給我，謝謝。

[2021-04-23 02:30] #156 closed, assigned to nobody

[2021-04-23 02:41] PichuChen opened #191 "[主線] [PTT] 實作Mail Provider"
### 實作細節 / Details of Implement
- [x] 實作 smtp (以 mailgun 的smtp server 為範例) #196
- [x] 實作 mailgun api #197
- 實作其他 Provider

目前想法是這樣，會用 connection string 的方式來做連線初始化
例如 `smtp://mailgun.org:444?username=123&apk_key=456`  `mailgun://mailfun:333?api_key=444`  這樣

目前介面請參考 https://github.com/Ptt-official-app/Ptt-backend/tree/development/internal/mail

### 期程 / Schedule
- 討論時間： 一週，4/30
- 實作時間： 一週，5/7
- 確認時

[2021-04-23 03:32] y2468101216 commented on #175
ok

[2021-04-23 03:34] y2468101216 commented on #191
拆成兩個子項吧，一個是 smtp 一個是 mailgun

[2021-04-23 16:08] nickyanggg commented on #168
我可以幫忙這個~

[2021-04-24 03:24] water25234 commented on #157
請問這有人接手嗎？
我可以先試這issue

[2021-04-24 03:25] PichuChen commented on #157
再麻煩你了

[2021-04-24 20:26] SivWatt commented on #71
Please take a look at #193

[2021-04-24 23:54] gogog22510 opened #194 "[主線] [PTT] 實作文章推文 repository"
### 實作細節 / Details of Implement
此為 #68 子任務
主要實作 repository 的部分，BBS library部分未完成的話可以mock ，並完成 testcase。
實作完成後推至 development

### 期程 / Schedule
- 討論時間：2天，到 04/26
- 實作時間：1周，到 05/02
- 確認時間：2天，到 05/04

### 相關文件 / Documents
主任務 #68
[PTT 後端協定](https://docs.google.com/document/d/18DsZOyrlr5BIl2kKxZH7P2QxFLG02xL2SO0PzVHVY3k/edit#)

[2021-04-24 23:55] gogog22510 commented on #194
請問跟bbs library聯絡部分也是mock就好嗎?

[2021-04-25 01:29] PichuChen commented on #194
那個聯絡部分？

[2021-04-25 12:05] gogog22510 commented on #194
不好意思，可能前面問題不太明確。想請問bbs那邊相對應的method作好了嗎? 還是我需要回傳假的result?

[2021-04-25 18:23] #177 closed, assigned to DeanXu2357

[2021-04-26 08:26] y2468101216 commented on #191
assign 給我吧

[2021-04-27 02:46] techeternalriverco commented on #173
我可以幫忙這個，麻煩 assign 給我，但我需要 3 天的實作時間。謝謝。

[2021-04-27 05:28] titaneric commented on #179
發現好像在 #188 被做掉了

[2021-04-27 06:46] #164 closed, assigned to whitefloor

[2021-04-27 06:49] #165 closed, assigned to SivWatt

[2021-04-27 06:57] y2468101216 opened #196 "[主線] [PTT] 實作Mail Provider - smtp"
### 實作細節 / Details of Implement
- 相關討論於 #191
- 這是實作 smtp provider

### 期程 / Schedule
- 討論時間：一天
- 實作時間：三天
- 確認時間：一天

### 相關文件 / Documents
#191

[2021-04-27 06:58] y2468101216 opened #197 "[主線] [PTT] 實作Mail Provider - mailgun api"
### 實作細節 / Details of Implement
- 相關討論於 #191
- 這是實作 mailgun api

### 期程 / Schedule
- 討論時間：一天
- 實作時間：三天
- 確認時間：一天

### 相關文件 / Documents
#191
[mailgun 文件](https://documentation.mailgun.com/en/latest/api-sending.html#sending)

[2021-04-27 08:55] PichuChen commented on #194
假如 go-bbs 還沒好的話，就先回傳假的result 即可

[2021-04-27 08:56] #51 closed, assigned to nickyanggg

[2021-04-27 09:01] #179 closed, assigned to titaneric

[2021-04-27 09:19] #52 closed, assigned to fish-dumpling

[2021-04-27 09:53] PichuChen commented on #197
雖然 mailgun 有 golang SDK ，不過到底是要用 Golang SDK 還是實作curl 就好了可能需要討論。

[2021-04-27 15:45] titaneric commented on #194
我可以試試這個，請給我一周時間完成

[2021-04-29 16:12] RicoToothless commented on #153
我願意試試看這個

[2021-04-29 16:46] PichuChen commented on #153
轉錄文章的相關程式邏輯在 pttbbs 的 bbs.c 的 cross_post
https://github.com/ptt/pttbbs/blob/e5668c1e184da082cf28184ec29154e6c2ab4263/mbbsd/bbs.c#L2055

[2021-04-30 12:14] water25234 commented on #157
已開發 https://github.com/Ptt-official-app/Ptt-backend/pull/189/files

[2021-05-01 07:21] SivWatt commented on #197
我們是不是盡量不要用到外部的package
如果是的話 是可以用`http`自己照著刻一套出來 XD
reference: [mailgun send](https://github.com/mailgun/mailgun-go/blob/a87d271e01bf098b5bf2a1998ebd910bff873c0d/messages.go#L531)

[2021-05-01 13:46] #173 closed, assigned to techeternalriverco

[2021-05-01 13:48] #194 closed, assigned to titaneric

[2021-05-01 13:49] #68 closed, assigned to gogog22510

[2021-05-04 14:59] #175 closed, assigned to unknowntpo

[2021-05-05 05:16] PichuChen commented on #153
@RicoToothless 想問一下目前進度到哪邊了？

[2021-05-05 10:24] PichuChen commented on #197
@SivWatt 你那邊有要接這個ISSUE嗎？

[2021-05-05 10:35] #168 closed, assigned to nickyanggg

[2021-05-05 10:42] SivWatt commented on #197
好 我來做
1. 所以config會是 mailgun://xxxx 然後我判斷是這個schem就 newMailgunProvider
2. Send method就實作 Mail interface 用http 組request打到host

不過好像沒有可以測試的domain對吧 這樣要怎麼驗證比較好

[2021-05-05 11:22] PichuChen commented on #197
domain 會用 pttapp.cc 這個你再用Slack和我聯絡

[2021-05-05 12:12] RicoToothless commented on #153
學 C 去設法看懂你貼的 code

[2021-05-05 15:54] titaneric commented on #167
我可以幫忙這個，請給我一個禮拜完成

[2021-05-05 18:09] PichuChen commented on #167
麻煩你了

[2021-05-09 08:03] #180 closed, assigned to DeanXu2357

[2021-05-09 19:05] gogog22510 commented on #182
名字 （網路名稱）：gogog22510
GitHub 帳號：gogog22510
社交帳號：x
貢獻內容：coding

[2021-05-11 10:02] #167 closed, assigned to titaneric

[2021-05-11 10:03] #182 closed, assigned to nobody

[2021-05-11 11:39] PichuChen commented on #197
@SivWatt  想確定一下目前進度到哪邊了？

[2021-05-11 11:43] SivWatt commented on #197
上禮拜週末比較沒空 這週會抓空閒的時間處理

[2021-05-11 19:13] #25 closed, assigned to nobody

[2021-05-11 19:13] #61 closed, assigned to nobody

[2021-05-12 08:19] #151 closed, assigned to nobody

[2021-05-12 08:19] #196 closed, assigned to y2468101216

[2021-05-15 00:36] ichiaohsu commented on #71
如果有這樣的需求，保留原有的 Logger interface，但換為較簡單的 `Printf(format string, v ...interface{})` 會不會比較好？目前有使用到的也只有這個函式，要 mock dummy/inject logrus 也比較簡便

[2021-05-15 06:00] SivWatt commented on #71
關於 Logger 的做法真的有很多可以討論，Log Level跟Format估計又可以討論很久。
我們暫時應該是不會去用logrus，按照盡量不使用外部package的原則。
現在可能比較會聚焦在Milestone1的feature上面，所以這邊應該是先不會有動作。

[2021-05-15 14:53] ichiaohsu commented on #71
我理解這邊的原則是盡量不用外部 package。就目前而言 Logger 沒有被使用，而且身為一個過大的 interface 會阻擋未來使用如 logrus 這樣的套件的可能。如果像上面那個 pull request 提到的留著可以做 mock，那也可以縮小其定義範圍，這是我原本提出的用意。

這個 feature 感覺不急，我也是在掃 issue list 看有什麼是我可以幫的上忙的時候看到這個留言串。感謝討論 ~

[2021-05-18 13:37] #197 closed, assigned to SivWatt

[2021-05-19 01:10] #191 closed, assigned to y2468101216

[2021-05-21 08:30] #154 closed, assigned to RicoToothless

[2021-05-21 08:30] #153 closed, assigned to RicoToothless

[2021-05-21 08:30] #66 closed, assigned to nobody

[2021-05-21 08:34] #67 closed, assigned to nobody

[2021-05-22 16:55] #157 closed, assigned to water25234

[2021-05-24 05:47] y2468101216 opened #208 "[主線] [PTT] End To End Test millstone1"
### 實作細節 / Details of Implement
目前有幾個想法實做測試

1. 手動測試 - 最簡單，但難重現
2. postman test - 最難，但不需要用 golang，使用類 js 語言開發
3. golang test - 使用 http/curl 實做，可以整合進 ci

我會先實做一個 golang 的 e2e 測試供大家參考，大家可以下方討論有沒有更好的作法

### 期程 / Schedule
- 討論時間：一週
- 實作時間： 未定
- 確認時間： 未定

### 相關文件 / Documents
[測試表](https://docs.google.com/spreadsheets/d/1uo4AJuSi5xTXEht2o2EHogLivCJlJqlLaeqoj1RceDY/edit#gid=0)

[2021-05-25 18:09] PichuChen commented on #208
我覺得最終可以讓他們都變成用 Golang 來做測試，這個沒問題，現在想解決的問題主要是在測試項目有沒有意義以及是否完整的這件事情上。

對於這件事情我認為自然語言可以比程式語言更容易來幫我們確認我們的測試項目在做什麼測試。

那實際上在手動測試跑過之後，也是可以花人力轉換成 testing code ，然後把原有的自然語言改成用英文寫補在該項 testing 的註解區域這樣。

換句話說，如果因為寫 Golang 比較麻煩、還要做 PR 比較麻煩等等的理由讓測試不夠完備的話這樣會比較可惜，因此這階段我認為先用比較容易寫的自然語言來描述需要測試什麼東西，這樣測試項目才會多，然後測試的內容也會比較趨向有意義。

[2021-05-26 09:51] y2468101216 commented on #208
我是覺得不衝突，從現在的表看起來應該分配下去同時兩個一起做掉不會太難

[2021-05-30 04:09] titaneric opened #210 "[主線] [PTT] 實作上下箭頭推文"
### 實作細節 / Details of Implement

Quote from Pichu:

「↑」進行推文，評價數要加一，user02第二次用 ↑ 推文時評價數不變 接著user02 用
「↓」推文時原先的上箭頭推文被刪去，評價數減一（收回），第二次用 ↓ 推文時評價數減一，第三次用↓推文時評價數不變
在放入 user01 Access Token 的情況下，發出一篇文章，user01 用 「↑」進行推文，評價數不變 （自己不能推自己）
- 修改`usecase /article.go`
  - 增加類似`UpdateUsefulness` function，以模仿stackoverflow或reddit
-  在`repository/article.go`中新增`Usefulness` struct，與後端`gobbs`對接
- 在`delivery/http`新增`rou

[2021-06-04 14:13] PichuChen opened #211 "[BUG] 在測試 /v1/token 時伺服器 Crash 了"
### 發生了什麼事？ / The Problem
在傳送 /v1/token 取得 token 時，如果只傳送 POST 而沒有傳送正確的參數的話，伺服器會出現錯誤。

### 如何重現 / To Reproduce
1. 首先建置好含 home bbs 資料的環境
2. `curl 'localhost:8081/v1/token'  -d  ''`
3. 接著就會伺服器端就會什麼都沒回應，如果是 nginx 做中介的場合會得到 500 Server Error

### 預期的行為 / Expected behavior
不應該出現 Server Error, 應該要出現缺少參數的 Error 以及明確指出缺少什麼參數

### 螢幕截圖 / Screenshots
[code]

![截圖 2021-06-04 下午10 12 40](https://user-images.git

[2021-06-04 14:27] PichuChen commented on #211
以這樣的參數傳入時也會 Crash
[code]

[2021-06-05 02:25] y2468101216 commented on #211
我以為這是正常的，不是 bug

[2021-06-07 03:18] y2468101216 opened #212 "[主線] [PTT] 將 go-bbs 升級到 0.5.0"
### 實作細節 / Details of Implement
升級 go-bbs 套件

### 期程 / Schedule
- 討論時間： 一天
- 實作時間：一天
- 確認時間： 一天

### 相關文件 / Documents
[go-bbs](https://github.com/Ptt-official-app/go-bbs)

[2021-06-07 07:40] #212 closed, assigned to nobody

[2021-06-08 03:03] y2468101216 opened #215 "[主線] [PTT] 實作 v1/register"
### 實作細節 / Details of Implement
做起來應該會滿複雜的，有意者可以挑戰看看
我估計要做一個星期左右，基本的防機器人註冊要處理
可能要考慮引入 google recaptcha 這類的

### 期程 / Schedule
- 討論時間： 三天
- 實作時間： 一週
- 確認時間： 三天

### 相關文件 / Documents
[ptt 後端協定](https://docs.google.com/document/d/18DsZOyrlr5BIl2kKxZH7P2QxFLG02xL2SO0PzVHVY3k/edit#heading=h.2eojmf7ca4g6)

[2021-06-08 03:22] #215 closed, assigned to nobody

[2021-06-08 03:25] y2468101216 opened #216 "[BUG] 不放入 Access Token 的時候 GET /v1/users/SYSOP/information 不應該取得任何人的資料"
### 發生了什麼事？ / The Problem
沒帶 token 的時候不應回傳使用者資料

<img width="1040" alt="截圖 2021-06-08 下午10 22 09" src="https://user-images.githubusercontent.com/600238/121202574-faef1c00-c8a7-11eb-87fd-52248b53812c.png">

### 如何重現 / To Reproduce
不放入 Access Token 的時候 GET /v1/users/SYSOP/information 取得了 SYSOP 的資料

1. 使用預設的測試資料
2. curl 'localhost:8081/v1/users/SYSOP/information' (或是用 postman)
3. 取得 SYSOP 資料 (不應該要取到的

[2021-06-08 03:36] y2468101216 opened #217 "[BUG] 不是 SYSOP 的 token GET /v1/users/SYSOP/preferences 不應該取得任何資料"
### 發生了什麼事？ / The Problem
不是 SYSOP 的 token  GET /v1/users/SYSOP/preferences 不應該取得任何資料
![螢幕擷取畫面 2021-06-09 132737](https://user-images.githubusercontent.com/10670845/121298471-81e2d980-c926-11eb-84b5-d1b92c29da76.jpg)

### 如何重現 / To Reproduce
不是 SYSOP 的 token  GET /v1/users/SYSOP/preferences 取得 SYSOP 的設定

1. 使用預設的測試資料
2. curl 'localhost:8081/v1/users/SYSOP/preferences ' (或是用 postman)
3. 取得 SYSOP 資料

[2021-06-08 03:41] y2468101216 opened #218 "[BUG] 是 SYSOP 的 token GET /v1/users/SYSOP/preferences 應該取得 SYSOP 的設定"
### 發生了什麼事？ / The Problem
是 SYSOP 的 token GET /v1/users/SYSOP/preferences 應該取得 SYSOP 的設定
![螢幕擷取畫面 2021-06-09 133320](https://user-images.githubusercontent.com/10670845/121298965-4dbbe880-c927-11eb-9aec-56ebfc6ed6bf.jpg)

### 如何重現 / To Reproduce
是 SYSOP 的 token GET /v1/users/SYSOP/preferences 應該取得 SYSOP 的設定，但是都是 no value

1. 使用預設的測試資料
2. curl --location --request GET 'http://localhost:8081/v1/users

[2021-06-08 03:49] y2468101216 opened #219 "[BUG] 不是 SYSOP 的 token GET /v1/users/SYSOP/favorites 不應該取得任何資料"
### 發生了什麼事？ / The Problem
不是 SYSOP 的 token GET /v1/users/SYSOP/favorites 不應該取得任何資料
![螢幕擷取畫面 2021-06-09 134538](https://user-images.githubusercontent.com/10670845/121300169-10585a80-c929-11eb-8deb-4b8a1423a969.jpg)

### 如何重現 / To Reproduce
不是 SYSOP 的 token GET /v1/users/SYSOP/favorites 會取得資料

1. 使用預設的測試資料
2. curl 'localhost:8081/v1/users/SYSOP/favorites ' (或是用 postman)
3. 取得 SYSOP 資料 (不應該要取到的）

###

[2021-06-08 03:55] y2468101216 opened #220 "[BUG] 不放入 Access Token 的情況下 GET /v1/users/SYSOP/articles 不應該看到任何文章，應該要看到 error 元素"
### 發生了什麼事？ / The Problem
不放入 Access Token 的情況下 GET /v1/users/SYSOP/articles 看到了 item = null
![螢幕擷取畫面 2021-06-09 134825](https://user-images.githubusercontent.com/10670845/121300425-65946c00-c929-11eb-88cd-7a2c77e76fab.jpg)

### 如何重現 / To Reproduce
不放入 Access Token 的情況下 GET /v1/users/SYSOP/articles 看到了 item = null
1. 使用預設的測試資料
2. curl 'localhost:8081/v1/users/SYSOP/articles' (或是用 postman)
3. 取得 SY

[2021-06-08 03:57] y2468101216 opened #221 "[BUG] 放入 Access Token 之後， GET /v1/users/SYSOP/articles 應該看到 SYSOP 曾經發過的文章"
### 發生了什麼事？ / The Problem
放入 Access Token 之後， GET /v1/users/SYSOP/articles 看到 item = null
![螢幕擷取畫面 2021-06-09 134825](https://user-images.githubusercontent.com/10670845/121300661-b906ba00-c929-11eb-9b8c-eb866f78586b.jpg)

### 如何重現 / To Reproduce
放入 Access Token 之後， GET /v1/users/SYSOP/articles 看到 item = null

1. 使用預設的測試資料
2. curl --location --request GET 'http://localhost:8081/v1/users/SYSOP/artic

[2021-06-08 04:06] y2468101216 opened #222 "[BUG] 放入 Access Token 之後， GET /v1/users/SYSOP/comments 應該看到 SYSOP 曾經發過的推文"
### 發生了什麼事？ / The Problem
放入 Access Token 之後， GET /v1/users/SYSOP/comments 看到 no value
![螢幕擷取畫面 2021-06-09 140116](https://user-images.githubusercontent.com/10670845/121301737-3979ea80-c92b-11eb-9f5c-aaa50bdb85cc.jpg)

### 如何重現 / To Reproduce
放入 Access Token 之後， GET /v1/users/SYSOP/comments 看到 no value

1. 使用預設的測試資料
2.curl --location --request GET 'http://localhost:8081/v1/users/SYSOP/comments'
--

[2021-06-08 04:08] y2468101216 opened #223 "[BUG] 不是 SYSOP 的 token GET /v1/users/SYSOP/comments 不應該取得任何資料"
### 發生了什麼事？ / The Problem
不是 SYSOP 的 token GET /v1/users/SYSOP/comments  取得 no value
![螢幕擷取畫面 2021-06-09 140116](https://user-images.githubusercontent.com/10670845/121301700-2e26bf00-c92b-11eb-92df-811df4565b2b.jpg)

### 如何重現 / To Reproduce
不是 SYSOP 的 token GET /v1/users/SYSOP/comments  取得 no value

1. 使用預設的測試資料
2. curl 'localhost:8081/v1/users/SYSOP/comments  ' (或是用 postman)
3. 取得 SYSOP 資料，但資料都是

[2021-06-08 13:48] PichuChen commented on #217
@y2468101216  請補上詳細重現流程

[2021-06-08 14:05] #211 closed, assigned to nobody

[2021-06-12 07:21] nickyanggg opened #225 "[主線] [PTT] 實作顯示看板發文限制以及細部資訊 (串接 go-bbs)"
### 實作細節 / Details of Implement

- 因為當初 go-bbs 尚未實作上述功能，因此 Ptt-backend 實作都是先用 mock 來處理。
- 移除 mock 的部分並串接 go-bbs 所提供的 interface。
### 期程 / Schedule

- 討論時間：一週
- 實作時間：一週
- 確認時間：一週

### 相關文件 / Documents

[PTT 後端系統協定](https://docs.google.com/document/d/18DsZOyrlr5BIl2kKxZH7P2QxFLG02xL2SO0PzVHVY3k/edit#heading=h.1g6ovfezg1)

[2021-06-12 11:51] PichuChen commented on #225
是打算在 Usecase 補上嗎？

[2021-06-12 12:55] nickyanggg commented on #225
發文限制是在 usecase 補上，細部資訊則是寫在 http/route_boards.go 中的 marshalBoardSettings

[2021-06-12 12:56] PichuChen commented on #225
我一開始看錯標題，本來以為是發文是檢查限制的意思

[2021-06-12 12:57] nickyanggg commented on #225
了解，可能我標題寫得不太清楚 xd

[2021-06-12 14:59] #225 closed, assigned to nickyanggg

[2021-06-12 18:46] #217 closed, assigned to nobody

[2021-06-12 18:46] #219 closed, assigned to nobody

[2021-06-14 16:52] ichiaohsu commented on #216
請問一下關於這個 issue，是不是已經被 #224 解掉了？看起來已經拿到正確的 401 status code，只差 response 不正確

[2021-06-15 11:18] y2468101216 commented on #216
應該是

[2021-06-15 13:45] ichiaohsu commented on #216
我可以把 error response 修一下嗎？

[2021-06-16 02:01] y2468101216 commented on #216
歡迎提交 pr ， 可以的話順便檢查其他的是否回傳也有問題

[2021-06-16 07:21] y2468101216 commented on #222
這個 bug 是因為 go-bbs

[2021-06-16 07:36] wagaru commented on #210
嗨，想幫忙這個 issue，但想確定一下結節…

1. 這個+1-1的計算看起來應該是在 ptt-backend 這邊計算，然後判斷執行+1/-1的 user 跟文章作者是否是同一人，再決定+1/-1的行為
2.透過 gobbs 提供的 public interface 取得目前的推文總數，計算完後再透過另一個 gobbs 的 public interface 更新

然後現況是目前 gobbs 還沒有相關的實作，並且 Google DOC 也還沒有這個 endpoint 對嗎？

[2021-06-16 09:56] titaneric commented on #210
@wagaru 目前是這樣沒錯唷，我剛把Google Doc那邊註記，如果有更新你可以依照spec實作

[2021-06-16 10:27] PichuChen commented on #210
差不多

對

go-bbs 相關的實作要等 https://github.com/Ptt-official-app/go-bbs/issues/82 這個完成，知道目前推文數以及修改推文數的應該直接呼叫文章屬性相關的函式就行了？
目前 google doc 使用原有的推文，type 改成上下箭頭 ↑ ↓

[2021-06-20 13:05] #221 closed, assigned to nobody

[2021-06-21 04:05] wagaru opened #230 "[主線] [PTT] 實作上下箭頭推文 - http"
### 實作細節 / Details of Implement

- 參照主 issue #210 說明
- 在delivery/http新增route_update_usefulness.go處理http routing
- 對應測試需要撰寫
- 可能會有權限問題需要處理
- endpoint 使用原有的推文，type 改成上下箭頭 ↑ ↓
### 期程 / Schedule
- 討論時間： 二天, 到 6/23
- 實作時間： 一天, 到 6/24
- 確認時間： 二天, 到 6/26

### 相關文件 / Documents
[API文件](https://docs.google.com/document/d/18DsZOyrlr5BIl2kKxZH7P2QxFLG02xL2SO0PzVHVY3k/edit#heading=h.r3t24bsqupvy)

[2021-06-21 04:08] wagaru opened #231 "[主線] [PTT] 實作上下箭頭推文 - usecase"
### 實作細節 / Details of Implement

- 參照主 issue #210 說明
- 修改usecase /article.go
   -  增加類似UpdateUsefulness function，以模仿stackoverflow或reddit
- 對應測試需要撰寫
### 期程 / Schedule
- 討論時間： 二天, 到 6/23
- 實作時間： 一天, 到 6/24
- 確認時間： 二天, 到 6/26

### 相關文件 / Documents
[API文件](https://docs.google.com/document/d/18DsZOyrlr5BIl2kKxZH7P2QxFLG02xL2SO0PzVHVY3k/edit#heading=h.r3t24bsqupvy)

[2021-06-21 04:09] wagaru opened #232 "[主線] [PTT] 實作上下箭頭推文 - repository"
### 實作細節 / Details of Implement

- 參照主 issue #210 說明
- 在repository/article.go中新增Usefulness struct，與後端gobbs對接
- 對應測試需要撰寫
### 期程 / Schedule
- 討論時間： 二天, 到 6/23
- 實作時間： 一天, 到 6/24
- 確認時間： 二天, 到 6/26

### 相關文件 / Documents
[API文件](https://docs.google.com/document/d/18DsZOyrlr5BIl2kKxZH7P2QxFLG02xL2SO0PzVHVY3k/edit#heading=h.r3t24bsqupvy)

補充目前 go-bbs 的進度

[2021-06-21 05:45] PichuChen commented on #222
在 [testcase 2021060401](https://docs.google.com/spreadsheets/d/1RGIQPN6KfiCzWRQe-BeTXFUTvdwytOv0Yhd5a8ixCLk/edit?usp=sharing) 測試到這個問題 編號 C2-6-2

[2021-06-21 05:49] PichuChen commented on #220
在 [testcase 2021060401](https://docs.google.com/spreadsheets/d/1RGIQPN6KfiCzWRQe-BeTXFUTvdwytOv0Yhd5a8ixCLk/edit?usp=sharing) 中的 C5-1-1 測試項目中發現有問題

[2021-06-24 07:03] #230 closed, assigned to nobody

[2021-06-26 02:48] PichuChen opened #235 "[BUG] 在 favorites 回傳為空時， API 什麼都沒回傳"
### 發生了什麼事？ / The Problem
在沒有 Favorite 的時候應該要出現空的物件，伺服器出現了 400 Bad Request 但是沒有回應任何內容。

### 如何重現 / To Reproduce
1. 首先登入一個沒有最愛的帳號，例如 `pichu` 如果沒有密碼的話可以在 `route_token.go` 的 Line 70 行對 err != nil 註解掉。
2. 登入後取得 Access Token ，請求 `/v1/users/{{username}}/favorites` 例如 `/v1/users/pichu/favorites`
3. 接著就觸發問題了

### 預期的行為 / Expected behavior
如果沒有 .fav 檔的話， go-bbs 應該要回傳空陣列，然後 Ptt-backend 應該也要做錯誤處理？

### 螢幕截圖

[2021-06-26 03:52] PichuChen opened #236 "[BUG] 在放入 Access Token 的情況下，呼叫 /v1/users/SYSOP/drafts/0 發生 Crash"
### 發生了什麼事？ / The Problem
在呼叫 `/v1/users/SYSOP/drafts/0` 的時候發生 Crash

### 如何重現 / To Reproduce
1. 取得一個 SYSOP 的 Access Token
2. 呼叫 curl 'http://localhost:8081/v1/users/SYSOP/drafts/0'
3. Crash

### 預期的行為 / Expected behavior
如文件出現相關資訊，至少不要 Crash

### 螢幕截圖 / Screenshots
![截圖 2021-06-26 上午11 51 18](https://user-images.githubusercontent.com/600238/123501028-d3a09900-d674-11eb-912c-208cef20c9ee.png)
![截圖

[2021-06-26 07:49] PichuChen opened #237 "[BUG] 新增看板的 API 沒有回應"
### 發生了什麼事？ / The Problem
呼叫 `/v1/boards` 新增看板沒有回應

### 如何重現 / To Reproduce
1. 取得 SYSOP 的 Access Token
2. 呼叫 `curl 'http://localhost:8081/v1/boards' -d 'board_id=testboard01' -d 'title=TestBoard' -H 'Authorization: bearer eyJhbGciOiJFUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2MjQzMjc4NzUsInN1YiI6IlNZU09QIn0.8TbIOzC1wYepHprl0Bc-vhSRnAntCDlobAwyXs6-bRZ_XlUSwr3fL3CqMf6h1yg8He8drEQ3uTLIJwyUKb4d7Q' -v`
3.  沒

[2021-06-26 07:59] PichuChen opened #238 "[BUG] 在沒有登入時不應該取得看板設定"
### 發生了什麼事？ / The Problem
在沒有 Access Token 的前提下， GET `/v1/boards/SYSOP/information` 不應該看到看板資訊，要回傳 Error

### 如何重現 / To Reproduce
1. 呼叫 curl 'http://localhost:8081/v1/boards/SYSOP/information'
2. 然後就看到了

### 預期的行為 / Expected behavior
應該要出現沒有權限錯誤

### 螢幕截圖 / Screenshots
![截圖 2021-06-26 下午3 55 27](https://user-images.githubusercontent.com/600238/123506467-efb53200-d696-11eb-86f5-03f653960f70.png)

##

[2021-06-26 08:26] PichuChen opened #239 "[BUG] 取得版面設定時回傳型別錯誤"
### 發生了什麼事？ / The Problem
在 ` /v1/boards/{{board_id}}/settings` 回傳時的 false 應該是字串 `"false"`

另外這個 API 應該要有權限保護？

### 如何重現 / To Reproduce
1. curl 'http://localhost:8081/v1/boards/SYSOP/settings'
2. 看到錯誤的資料了

### 預期的行為 / Expected behavior
回傳值應該是字串值，可能要用 fmt.Sprintf 包起來

### 螢幕截圖 / Screenshots
![截圖 2021-06-26 下午4 24 34](https://user-images.githubusercontent.com/600238/123507248-01003d80-d69b-11eb-8c29

[2021-06-26 08:31] #216 closed, assigned to nobody

[2021-06-26 10:31] nickyanggg opened #240 "[BUG] 用不存在的分類 id 來取得分類看板底下看板列表"
### 發生了什麼事？ / The Problem

在呼叫 ```GET http://localhost:8081/v1/classes/-1``` 回傳了空陣列，應該出現 error

### 如何重現 / To Reproduce

1. 取得一個任意使用者的 Access Token
2. 呼叫 curl http://localhost:8081/v1/classes/-1
3. 回傳空陣列

### 預期的行為 / Expected behavior

不存在的分類 id 應回傳 error

### 螢幕截圖 / Screenshots

<img width="761" alt="螢幕快照 2021-06-26 下午6 27 50" src="https://user-images.githubusercontent.com/38569272/123510120-47aa

[2021-06-27 01:52] whitefloor commented on #239
這個我來

[2021-06-27 02:22] #236 closed, assigned to nickyanggg

[2021-06-27 10:08] whitefloor commented on #238
我發現
v1/boards/{{board_id}}/information
v1/boards/{{board_id}}/settings
這兩隻api在CheckPermission裡都用PermissionReadBoardInformation裡的方法做權限檢查
<img width="866" alt="截圖 2021-06-27 下午6 00 53" src="https://user-images.githubusercontent.com/45685163/123540472-c1585500-d771-11eb-9f33-d6cce803e0ab.png">

#243 有實作檢查，會一起用到同一個方法。
這樣需要在實作新的檢查方法嗎？

[2021-06-27 12:25] titaneric opened #244 "[BUG] 沒有access token應該要可以看到/v1/popular-articles熱門文章列表"
### 發生了什麼事？ / The Problem

在不放入Access Token 的情況下 GET /v1/popular-articles 應該出現熱門文章列表，上限為 100 個文章。但是回傳空列表。

### 如何重現 / To Reproduce

1. `curl http:localhost:8081/v1/popular-articles`
2. 回傳空列表
### 預期的行為 / Expected behavior

應該要回傳熱門文章列表
### 螢幕截圖 / Screenshots

![image](https://user-images.githubusercontent.com/12388235/123544277-194c8700-d785-11eb-98a0-20ef6dc910cc.png)

### 開發環境 / Environment

1. OS

[2021-06-27 12:29] titaneric opened #245 "[BUG] 在放入一般使用者的 Access Token 的情況下 GET /v1/boards/bm_only/articles 不應該出現文章列表"
### 發生了什麼事？ / The Problem

在放入一般使用者的 Access Token 的情況下 GET /v1/boards/bm_only/articles 不應該出現文章列表，因為這是版主以上才能看到的版，應該出現 error。但是卻回傳文章列表。
### 如何重現 / To Reproduce

1. `curl http://localhost:8081/v1/boards/bm_only/articles`
2. 回傳文章列表
### 預期的行為 / Expected behavior

### 螢幕截圖 / Screenshots

![image](https://user-images.githubusercontent.com/12388235/123544457-f1a9ee80-d785-11eb-85d1-d370ead72cd5.png)
要回傳錯誤

[2021-06-28 02:19] #240 closed, assigned to nickyanggg

[2021-06-28 07:27] #239 closed, assigned to whitefloor

[2021-06-28 16:00] chiawendt commented on #210
我想詢問一個實做細節，因為推文數的計算有一個規則是「使用者在文章的推數影響最大 +1 最小 -1」，所以實做時需要使用當前使用者在這篇文章的推噓數，那麼這個數字要從何計算？

1. 解析文章的推文部份，解析出屬於當前使用者的推文來計算。這個作法的漏洞是文章作者可以編輯推文段落，使得最多 +1的規則無法落實。
2. go-bbs 提供這篇文章所有推文列表結構，以此計算。問題：go-bbs會提供這個結構嗎？
3. 其他方法？

[2021-06-29 00:00] PichuChen commented on #210
在.DIR檔案裡面有紀錄文章目前的推文數

[2021-06-29 15:09] whitefloor commented on #238
附上測試結果

<img width="1343" alt="截圖 2021-06-29 下午11 05 59" src="https://user-images.githubusercontent.com/45685163/123822161-9d8e3e00-d92e-11eb-8aa4-6e57c28e9012.png">

這是我目前的執行結果，沒有token會回傳401
在 #243 實作權限檢查的時候一起被修正了

[2021-06-30 00:26] PichuChen commented on #210
關於上下箭頭的部分，我認為可以先求有再求好。

[2021-06-30 01:12] PichuChen commented on #210
關於上下箭頭部分，我認為可以先求有再求好。

在原本 BBS 的設計中有 [recommend](https://github.com/Ptt-official-app/go-bbs/blob/1a33b53d8e19bfe1af2ac15bbca98bc0c180f07b/bbs.go#L131) 來表示推文數，然後這個推文數和上下箭頭的數字是分離的。

所以先求有再求好的狀況就是直接抓內文然後去統計上下箭頭的數量，暫時先不考慮做假的狀況。

也就是流程上就是 （在usecase）
1. 抓內文
2. 抓到`\n↑` `\n↓`
3. 抓出ID ，統計該ID的上下狀態
4. 加總

這樣。

[2021-06-30 07:14] y2468101216 commented on #238
close issue 因為我修過了

[2021-06-30 07:27] y2468101216 opened #247 "[BUG] 登入後進入 test 看板，發出一篇標題為 「[測試] test」內文為 12345 的文章，要能夠順利發文"
### 發生了什麼事？ / The Problem
登入後進入 test 看板，發出一篇標題為 「[測試] test」內文為 12345 的文章，要能夠順利發文

### 如何重現 / To Reproduce

1. 取得 SYSOP 的 Access Token
2. 呼叫 curl --location --request POST 'http://localhost:8081/v1/boards/test/articles' \
--header 'Authorization: Bearer eyJhbGciOiJFUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2MjUxMjQxOTksInN1YiI6IlNZU09QIn0.pvZk_OA5siBCRdjE0psxlqndIeMQzdSOglbEZT4GQ09yznzfsyM4sXx--79BfYEyeQ

[2021-06-30 07:29] #218 closed, assigned to PichuChen

[2021-06-30 07:32] y2468101216 commented on #220
![螢幕擷取畫面 2021-06-30 152449](https://user-images.githubusercontent.com/10670845/123920274-5c427080-d9b8-11eb-86f0-898a70a8676e.jpg)

[2021-06-30 07:32] y2468101216 commented on #220
![螢幕擷取畫面 2021-06-30 153243](https://user-images.githubusercontent.com/10670845/123920342-6d8b7d00-d9b8-11eb-9d9c-713efbadb92c.jpg)

[2021-06-30 07:39] #235 closed, assigned to nobody

[2021-06-30 07:41] PichuChen commented on #220
C5-1-1 是 boards 不是 users, 我這邊搞錯了，所以關掉這個

[2021-06-30 07:41] #220 closed, assigned to nobody

[2021-06-30 07:42] PichuChen commented on #245
對應 [測試表](https://docs.google.com/spreadsheets/d/1RGIQPN6KfiCzWRQe-BeTXFUTvdwytOv0Yhd5a8ixCLk/edit#gid=0) C5-1-1 C5-1-2

[2021-06-30 07:42] y2468101216 commented on #222
經討論過後發現是 /v1/boards/SYSOP/articles 故關閉

[2021-06-30 07:42] #222 closed, assigned to nobody

[2021-06-30 07:44] y2468101216 commented on #245
目前沒有實做管理群的權限控管，所以需要先從 go-bbs 那邊實做

[2021-07-03 04:35] whitefloor commented on #237
這個我來

[2021-07-03 12:38] PichuChen commented on #237
@whitefloor 麻煩你了

[2021-07-04 15:52] PichuChen commented on #245
@y2468101216 權限管控應該要從 usecase 做

[2021-07-05 01:39] y2468101216 commented on #245
不從 go-bbs 實做看不出來誰是管理員阿

[2021-07-05 01:50] PichuChen commented on #245
Go-bbs 本身是資料庫管理系統的概念，實際上商業邏輯應該是在PTT-backend判斷。

所以需要什麼資料的話和go-bbs拿，然後在ptt-backend 這邊判斷是否放行

[2021-07-05 04:51] y2468101216 commented on #245
我說的就是權限的資料阿，目前沒有實做拿權限資料這塊

[2021-07-05 04:58] PichuChen commented on #245
在這邊： https://github.com/Ptt-official-app/go-bbs/blob/2d206af56cc5f9bba48ff13fd8fc1bacb04eb3cd/bbs.go#L95

你可以直接存取 BoardRecord 的屬性

[2021-07-07 13:37] #223 closed, assigned to nobody

[2021-07-08 04:38] y2468101216 commented on #245
分兩塊

1. 看板本身的權限
2. 使用者本身的權限

這個問題是明明使用者沒有該權限卻可以看到這個板

[2021-07-08 10:18] y2468101216 commented on #245
這是使用者群組
![截圖 2021-07-08 下午6 07 06](https://user-images.githubusercontent.com/10670845/124905506-afe83600-e018-11eb-8250-3a2643f5ecce.png)

這是看板閱讀權限
![截圖 2021-07-08 下午6 09 56](https://user-images.githubusercontent.com/10670845/124905566-c098ac00-e018-11eb-8642-bd948cc3a3a9.png)

要去拿看板的權限去比對使用者身份，這個 issue 的要求是這樣，目前確定要在  usecase 裡實做

[2021-07-09 16:24] ichiaohsu commented on #244
看起來 go-bbs 還沒有實作

[2021-07-09 16:25] PichuChen commented on #244
go-bbs應該不會實作這個，他一開始就沒有存在於PTT 應該是另外在PTT-backend 做統計就行了

[2021-07-09 16:33] ichiaohsu commented on #244
原來如此！我看[註解](https://github.com/ichiaohsu/Ptt-backend/blob/development/internal/repository/article.go#L29)覺得好像會有 go-bbs 的實作，雖然沒看到有對應的 interface 定義。

[2021-07-10 13:51] nickyanggg commented on #210
這樣表示目前我們打算將使用者按上下箭頭的紀錄當成一般推文一樣直接寫進 filename 底下嗎？

[2021-07-10 13:59] PichuChen commented on #210
對，這樣可以比較簡單的做到向下支援

[2021-07-10 17:13] gogog22510 commented on #232
我可以幫忙這個試試看

[2021-07-10 17:20] PichuChen commented on #232
感謝🙏再麻煩你了

[2021-07-11 20:12] gogog22510 commented on #232
想要確認一下這個issue的一些細節，我目前看到bbs那邊是統一實作了`AppendNewLine()`。所以repository的部分關於實作上下箭頭，是要直接append`\n↑`和`\n↓`就好了嗎?

[2021-07-15 07:35] PichuChen commented on #238
@y2468101216  要Close 之前請確認問題有被修復。

目前截圖看起來他什麼都沒有回應

![截圖 2021-07-15 下午3 34 48](https://user-images.githubusercontent.com/600238/125748079-f50fe3fd-15bd-47c7-a775-e243ec9ae0d7.png)

測試的 commid-id 是 `7866d2c0c7fdb7a1af8df54317b86fe70b4d5b83`

[2021-07-15 07:41] PichuChen commented on #7
這個 ISSUE 目前還有在更新嗎？ 不然兩週後要把他先關掉了喔？

[2021-07-15 07:41] PichuChen commented on #15
這個 ISSUE 目前還有在更新嗎？ 不然兩週後要把他先關掉了喔？

[2021-07-15 07:41] PichuChen commented on #21
這個 ISSUE 目前還有在更新嗎？ 不然兩週後要把他先關掉了喔？

[2021-07-15 07:42] PichuChen commented on #29
這個 ISSUE 目前還有在更新嗎？ 不然兩週後要把他先關掉了喔？

[2021-07-15 07:43] PichuChen commented on #40
這個 ISSUE 目前還有在更新嗎？ 不然兩週後要把他先關掉了喔？

[2021-07-15 07:43] #43 closed, assigned to nobody

[2021-07-15 07:43] #56 closed, assigned to nobody

[2021-07-15 07:44] PichuChen commented on #71
這個 ISSUE 目前還有在更新嗎？ 不然兩週後要把他先關掉了喔？

[2021-07-15 07:44] PichuChen commented on #109
這個 ISSUE 目前還有在更新嗎？ 不然兩週後要把他先關掉了喔？

[2021-07-15 07:59] PichuChen commented on #145
這個 ISSUE 目前還有在更新嗎？ 不然兩週後要把他先關掉了喔？

[2021-07-15 07:59] PichuChen commented on #174
這個 ISSUE 目前還有在更新嗎？ 不然兩週後要把他先關掉了喔？

[2021-07-15 07:59] PichuChen commented on #176
這個 ISSUE 目前還有在更新嗎？ 不然兩週後要把他先關掉了喔？

[2021-07-15 08:00] PichuChen commented on #184
這個 ISSUE 目前還有在更新嗎？ 不然兩週後要把他先關掉了喔？

[2021-07-15 08:00] PichuChen commented on #208
這個 ISSUE 目前還有在更新嗎？ 不然兩週後要把他先關掉了喔？

[2021-07-15 08:01] PichuChen commented on #232
對，可以這樣說，他基本上和推文（推噓箭頭）的動作一樣，但是在輸出顯示的時候多了一個 usefulness 的指標值

[2021-07-15 09:19] Yu-Jack commented on #184
好, 非常不好意思, 你可以先關掉了

[2021-07-15 09:20] #184 closed, assigned to nobody

[2021-07-15 09:44] #237 closed, assigned to whitefloor

[2021-07-15 09:49] PichuChen commented on #237
![截圖 2021-07-15 下午5 48 59](https://user-images.githubusercontent.com/600238/125768019-0866b8bf-23b9-4cef-a796-a31690e236cc.png)
目前的測試結果，好像沒有顯示title ?

@whitefloor

[2021-07-15 09:50] PichuChen commented on #244
這個ISSUE存在和 #117  還沒有實作有關

[2021-07-15 09:51] y2468101216 commented on #176
先關了它，短時間內也沒時間處理這件事

[2021-07-15 09:51] #176 closed, assigned to nobody

[2021-07-15 09:52] y2468101216 commented on #174
先關了它，短時間內也沒時間處理這件事

[2021-07-15 09:52] #174 closed, assigned to nobody

[2021-07-15 09:52] y2468101216 commented on #208
先關了它，短時間內也沒時間處理這件事

[2021-07-15 09:52] #208 closed, assigned to nobody

[2021-07-15 12:01] whitefloor commented on #237
! 我看看

[2021-07-15 12:59] whitefloor commented on #237
@PichuChen
抱歉 我應該要測試的
用錯參數，已經修正了
我再重新提交一個PR

<img width="1345" alt="截圖 2021-07-15 下午8 58 21" src="https://user-images.githubusercontent.com/45685163/125792227-e684465b-b9a2-495b-92fa-89266bc5eb15.png">

[2021-07-16 02:21] #238 closed, assigned to nobody

[2021-07-17 21:54] kyho4515 commented on #231
Hi,  請問這部分有人接手了嗎？如果沒有我可以幫忙

[2021-07-18 03:01] PichuChen commented on #231
麻煩你了，這部分在寫入的部分請參考原本推文的做法，在讀取的部分要增加判讀的程式這樣。

[2021-07-18 08:41] joremysh commented on #145
看了目前後端的程式碼裡面有好幾個 API 在 swagger.yaml 都沒有，我來幫忙加上吧？

1. /v1/users/{user_id}/ - articles, preferences 等等
2. popular-boards
3. popular-articles
4. classes

[2021-07-18 08:58] PichuChen commented on #145
歡迎👏

好了可以送PR上來之後Tag這個ISSUE,或是開一個tag這個ISSUE的ISSUE後講PR tag 該ISSUE

[2021-07-19 07:04] PichuChen commented on #232
@gogog22510  想問一下這邊目前進度到哪邊了？

[2021-07-19 15:47] gogog22510 commented on #232
昨天才看到你的留言回答，我這禮拜就可以完成這個issue

[2021-07-19 16:04] titaneric commented on #117
Hi，關於這個issue，

- 在`internal/delivery/http/route_popular_articles.go`的`getPopularArticles`有對應的HTTP開出來

- 在`internal/repository/article.go`有定義`PopularArticleRecord struct`，可以直接用

- 在`internal/repository/article.go`的`GetPopularArticles`有method可以拿`PopularArticleRecord struct`。

[2021-07-19 16:04] PichuChen commented on #232
Ok,可以注意一下實際上的資料可能含有色碼喔

[2021-07-22 02:36] y2468101216 opened #255 "[BUG] 不放入 Access Token 的情況下 GET /v1/users/SYSOP/drafts/0 應該要看到 error"
### 發生了什麼事？ / The Problem
不放入 Access Token 的情況下 GET /v1/users/SYSOP/drafts/0 不應該看到任何資料，應該要看到 error message

### 如何重現 / To Reproduce

### 預期的行為 / Expected behavior
curl http:localhost:8081/v1/users/SYSOP/drafts/0

### 螢幕截圖 / Screenshots
![螢幕擷取畫面 2021-07-22 103546](https://user-images.githubusercontent.com/10670845/126582901-3ae37a4f-3237-431e-92d3-a700bf740351.jpg)

### 開發環境 / Environment
windows 1

[2021-07-25 04:12] kyho4515 commented on #231
我這邊有些細節想確認一下,
我目前的理解是先根據boardID和filename找到article, 然後根據user id找到user
再從go-bbs那邊拿到推文紀錄, 最後做判斷,
這樣是對的嗎?
目前覺得奇怪的地方在於, 這樣的話, 我好像沒有從repository拿任何東西?

[2021-07-25 15:10] #255 closed, assigned to nobody

[2021-07-25 15:12] PichuChen commented on #231
這些動作理論上是呼叫 repository 裡面的程式碼進行，而不是 usecase 直接呼叫 go-bbs 套件進行？

[2021-07-25 15:13] PichuChen commented on #232
@gogog22510  想問一下這邊進度如何了？ 我感覺有些東西可能要和 @kyho4515  討論？

[2021-07-26 03:31] kyho4515 commented on #231
了解，那我在跟repository那邊確認一下

[2021-07-26 03:36] kyho4515 commented on #232
我目前看起來我這邊可能會需要多一個function 是根據user id, board id, filename抓到此user是否曾推過文

[2021-07-27 03:34] gogog22510 commented on #232
@PichuChen 不好意思，因為上週比較忙，所以還沒完成。
@kyho4515 請問這個method的bbs部分完成了嗎? 還是要另外開一個新的issue?

[2021-07-28 11:19] #145 closed, assigned to joremysh

[2021-07-28 16:23] nickyanggg commented on #231
我當初理解是在這邊呼叫 usecase.repo.GetBoardArticle，然後再從結果去抓出該使用者的上箭頭以及下箭頭推文紀錄，可能以 +1、-1 的方式來代表並加總，最後得出的結果再和 appendType 比較看說是要 "送出上下箭頭推文 (呼叫 repo 的 function)" 還是 "重複送出上下箭頭推文所以 reject (可能直接回傳錯 error)"

這樣應該沒有直接摸到 go-bbs 的套件

[2021-07-29 10:41] PichuChen commented on #231
理論上沒有直接摸到 go-bbs 套件

[2021-07-30 02:13] kyho4515 commented on #231
了解!感謝!我原本是想用usecase.GetBoardArticles去找，他回傳的type就會直接用到go-bbs的套件，那時沒注意到usecase.(repo.)GetBoardArticle

[2021-07-30 02:15] kyho4515 commented on #232
@gogog22510 Hello, 目前看起來應該是不需要了, 謝謝！

[2021-07-30 03:00] nickyanggg commented on #231
用到 go-bbs 所定義的 type (interface) 應該是沒問題的，我想 @PichuChen 的意思應該是不要在 usecase 中直接呼叫 go-bbs 定義的 function，像是直接呼叫 usecase.repo.db.xxx 之類的。

[2021-07-30 23:47] PichuChen opened #257 "[BUG][後端測試表] /v1/users/SYSOP/information 登入時間沒有被修改"
### 發生了什麼事？ / The Problem
- 在登入後理論上上 `last_login_ip` 這個欄位以及 `last_login_time` 應該要被更新，但是沒有被更新。

請見[測試表](https://docs.google.com/spreadsheets/d/1Dv0eZNTLU_NKiehR15qp8iPXAXZ85j2tWj_7h1rxUKg/edit?usp=sharing) C2-1-5

### 如何重現 / To Reproduce
1. 使用預設資料集
2. 登入 SYSOP 帳號，取得 Access Token
3. `curl http://localhost:8081/v1/users/SYSOP/information -H "Authorization: bearer $ACCESS_TOKEN"`

### 預期的行為 / Expected

[2021-07-31 04:44] PichuChen opened #258 "[BUG][後端測試表] 取得新使用者的 favorite 會出現錯誤訊息"
### 發生了什麼事？ / The Problem
取得新的使用者的最愛列表時，原先在 #235 時發現什麼都沒回傳，目前有回傳了，但是回傳的是錯誤訊息，應該要回傳空陣列才對，因為以目前狀況來說確實沒有資料的時候有可能會沒有 .fav 檔案。

這部分在 Ptt-backend 應該可以判斷出有使用者存在，但是 `.fav: no such file or directory` 的狀況，因此應該是可以直接回應空陣列給使用者，然後在 log 端加上警告。

[後端測試資料表 (2021072001)](https://docs.google.com/spreadsheets/d/1Dv0eZNTLU_NKiehR15qp8iPXAXZ85j2tWj_7h1rxUKg/edit?usp=sharing)
* C2-3-1
* C2-3-2
* C2-3-3
* C2-3-4

### 如何重現

[2021-07-31 04:44] PichuChen commented on #258
可以順便參見 Pb #235

[2021-07-31 04:59] PichuChen opened #259 "[BUG][後端測試表] 文章列表應該要正確解開 post_date"
### 發生了什麼事？ / The Problem
目前文章列表的 post_date 一律都是空字串

參照 [測試表](https://docs.google.com/spreadsheets/d/1Dv0eZNTLU_NKiehR15qp8iPXAXZ85j2tWj_7h1rxUKg/edit?usp=sharing) C2-5-3

### 如何重現 / To Reproduce
1. 用 SYSOP 帳號登入後取得 Access Token
2. 取得文章列表 `curl http://localhost:8081/v1/users/SYSOP/articles -H "Authorization: bearer $ACCESS_TOKEN"`

### 預期的行為 / Expected behavior
假如一篇文章他的發文日期是 二月三日，那應該要看到 `" 2/03"` 這

[2021-07-31 05:09] PichuChen opened #260 "[BUG][後端測試表] 取得新使用者的 draft 會有錯誤"
### 發生了什麼事？ / The Problem
請參考 #258 ，在使用者沒有 draft 的時候應該要表現出使用者沒有 draft 而不是出現錯誤

請參考後端測試表 C2-7-2

### 如何重現 / To Reproduce
1. 登入 pichu3 並且取得 Access Token
2. 取得 draft0
3 看到錯誤 `open ../go-bbs/home/bbs//home/p/pichu3/buf.0: no such file or directory`

### 預期的行為 / Expected behavior
應該要如文件看到空的 draft

### 螢幕截圖 / Screenshots
![截圖 2021-07-31 下午1 09 09](https://user-images.githubusercontent.com/600238/1277293

[2021-07-31 05:35] nickyanggg commented on #258
這個我記得已經修好了 [here](https://github.com/Ptt-official-app/go-bbs/pull/97)，應該是 go-bbs 的版本還沒更新的關係

[2021-07-31 05:39] PichuChen commented on #258
那你要更新試試看嗎？ 目前的最新版好像測試起來還是有問題？

[2021-07-31 06:17] nickyanggg commented on #258
我剛剛用最新 commit 版本的 go-bbs 來測試看起來是正常的
<img width="487" alt="螢幕快照 2021-07-31 下午2 14 27" src="https://user-images.githubusercontent.com/38569272/127730729-eaf68ac8-f03f-40cf-b604-211db7f22cce.png">

[2021-07-31 11:11] PichuChen commented on #258
我覺得我抓到點了，那可以試試看幫忙把目前的 Ptt-backend的go-bbs version 拉上去之後送個PR嗎？

[2021-07-31 12:07] nickyanggg commented on #258
可能 go-bbs 這邊需要先有新版的 release？

[2021-07-31 12:19] PichuChen commented on #258
我把 go-bbs v0.8.0 送上去了

[2021-07-31 13:50] nickyanggg commented on #258
@PichuChen 已升級，可能再麻煩幫忙 review 一下，另外因為 go-bbs 發文相關的函式有更動，所以升級後 ptt-backend 會有需要修改的地方，這邊暫時先以註解方式處理，可能要請 @y2468101216 等 merge 以後順便在這個 [pr](https://github.com/Ptt-official-app/Ptt-backend/pull/251) 處理。

[2021-07-31 18:37] #258 closed, assigned to nobody

[2021-08-01 20:47] kyho4515 commented on #231
Hello, 還有一個問題, 如果一個user推過文, 在article裡是以user ID:↑這樣的形式出現嗎？

[2021-08-01 21:25] PichuChen commented on #231
位置好像不太對？原本推文會有個推，變成那邊該顯示上下箭頭

[2021-08-01 21:43] kyho4515 commented on #231
OK. 所以應該是在user id 之前

[2021-08-02 04:03] kyho4515 commented on #231
我這邊大致上完成了
最後確認一下，我最後應該是叫repo那邊的function然後得到pushRecord?

[2021-08-02 04:07] PichuChen commented on #231
對，因為你這邊是usecase, 因此呼叫底層應該呼叫repository 的

[2021-08-03 02:40] gogog22510 commented on #232
實作後發現發現了幾個困難點，我先開一個PR來追蹤
1. [bbs.DB.AppendNewline](https://github.com/Ptt-official-app/go-bbs/blob/690138360b0b0aa16166d6e5a4451fdb9a2ea890/bbs.go#L503) 需要吃boardPath，但現有的DB method裡面沒有可以得到這個路徑的函式，建議改掉bbs.DB裡的method signature
2. 我不熟悉bbs色碼，可能需要幫忙更改寫入的buf string 加入色碼
3. 不知道寫入的comment需不需要space padding? 假如需要的話需要空幾格?

[2021-08-05 06:23] y2468101216 opened #263 "[主線] [PTT] 將 jwt 套件切換"
### 實作細節 / Details of Implement
因舊有的套件不再維護，故切換至新套件

- 討論時間： 一天
- 實作時間： 一天
- 確認時間：一天

[2021-08-05 13:16] #247 closed, assigned to nobody

[2021-08-07 08:07] weizhe0422 commented on #259
想請教一下，我看從go-bbs\pttbbsd內的ReadArticleRecordsFile拿到的是1/27，這邊只需要把這個值填回去就好嗎?  還是需要到年份呢?
![image](https://user-images.githubusercontent.com/17548901/128593382-53d05404-595b-4312-9d49-a03e27dcdce8.png)

[2021-08-07 10:21] PichuChen commented on #259
不用年份，基本上是有個欄位他大概有 6 bytes ，然後正常狀況下他會存發文的年月，沒辦法被使用者修改的。

不過有些版主會改他，然後改成特別的文字之類的。

要注意的是，回傳的開頭可能有空格，例如 ` 1/23` 這樣，那要回傳 ` 1/23`

[2021-08-07 11:19] PichuChen opened #265 "[BUG][後端測試表] 新增看板失敗"
### 發生了什麼事？ / The Problem
以 SYSOP 帳號新增看板失敗

### 如何重現 / To Reproduce
1. 先用 SYSOP 帳號登入
2. POST /v1/boards 新增看板
3. 出現錯誤訊息

### 預期的行為 / Expected behavior
1. 應該要能看到被新增的看板

### 螢幕截圖 / Screenshots

![截圖 2021-08-07 下午7 19 04](https://user-images.githubusercontent.com/600238/128598466-aa282ad0-5470-4103-8293-75205fa2a71d.png)

### 開發環境 / Environment
Ptt-backend: 6bf9e57c9079b7cda312e03b4052c2da2b1bc6ee
請見測

[2021-08-07 11:29] PichuChen opened #266 "[BUG][後端測試表] 取得看板列表時 moderators 沒有正常顯示"
### 發生了什麼事？ / The Problem
看板列表的版主列表有問題

### 如何重現 / To Reproduce
1. 登入 SYSOP
2. 透過 GET /v1/boards 取得看板列表後就會看到有問題了

### 預期的行為 / Expected behavior
沒版主的狀況應該是空陣列
有版主的狀況應該要有看到看板版主
SYSOP看板的版主通常是SYSOP

### 螢幕截圖 / Screenshots
![截圖 2021-08-07 下午7 28 50](https://user-images.githubusercontent.com/600238/128598680-27b6135c-918d-4335-b6d0-59a99adb1752.png)

### 開發環境 / Environment
Ptt-backend: 6bf9e57c9079b7cda3

[2021-08-07 12:36] PichuChen commented on #232
1. 這個應該不用，不過我可能晚點把 go-bbs 關於 AppendNewLine 的部分重新設計，雖然現在要做可能就是當作整篇更新
2. 色碼的部分用 0x33 開頭，可以下載測試資料集，然後打開一篇有推文的文章來肝茶
3. 要，不過要查，可以看原有推文方式來做

[2021-08-07 12:36] PichuChen commented on #232
不過 repository 應該不用考慮 2 3 兩點？

[2021-08-07 14:20] nickyanggg commented on #260
這 issue 應該在上面那個 pr 就修好了 (附上測試截圖)
<img width="796" alt="螢幕快照 2021-08-07 下午10 19 14" src="https://user-images.githubusercontent.com/38569272/128603274-e545492a-3fb1-4523-8369-4d07ee962b3f.png">

[2021-08-07 14:28] weizhe0422 commented on #259
了解，那我想從修正這個BUG開始。 再煩請Assign給我，感恩!

[2021-08-07 14:53] nickyanggg commented on #257
所以現在做法是先改寫 Ptt-backend 的 repo.userRecords，然後可能之後會有支專門每固定一個時間就會去 call go-bbs 的函式來寫回檔案？

[2021-08-07 15:22] nickyanggg commented on #257
我可以先幫忙寫修改原本 userRec 的部分

[2021-08-07 16:39] nickyanggg commented on #266
這邊應該有板主的狀況時回傳會正確，無板主時因為 go-bbs 那邊是直接回傳 strings.split 的結果，所以會回傳 `[]string{""}` 導致結果錯誤，已發 pr 修正

[2021-08-07 17:49] nickyanggg commented on #265
這個 issue 好像之前開過了 #237，貌似把新增看板的部分移到 milestone3

[2021-08-07 18:01] PichuChen commented on #265
那個看起來被close了，總之先開起來，不過不會在這階段趕著做這樣

[2021-08-07 19:56] PichuChen commented on #259
@weizhe0422  麻煩你了

[2021-08-08 16:15] PichuChen commented on #232
@gogog22510 你那邊能測試看看新版的 go-bbs 嗎？

[2021-08-10 00:14] gogog22510 commented on #232
好我這幾天來測試一下

[2021-08-11 08:42] #263 closed, assigned to y2468101216

[2021-08-13 01:53] y2468101216 commented on #260
@PichuChen 這個 issue 是否可以關閉，我測試也是相同結果
<img width="566" alt="截圖 2021-08-13 上午9 52 59" src="https://user-images.githubusercontent.com/10670845/129293791-f94a68e7-c6d2-435c-930d-da172e004469.png">

[2021-08-13 13:11] PichuChen commented on #260
有用新的帳號嗎？試試看pichu3 因為如果說像是SYSOP或是pichu並不會觸發這個bug，或是我晚點重新測試

[2021-08-14 08:26] karta0807913 opened #267 "[BUG] pttapp.cc/swagger 502 Bad Gateway"
### 發生了什麼事？ / The Problem

[pttapp.cc/swagger](https://pttapp.cc/swagger/#/%E4%BD%BF%E7%94%A8%E8%80%85%E9%83%A8%E5%88%86/post_v1_token) 沒有正常回應

### 如何重現 / To Reproduce

正常的 swagger

### 螢幕截圖 / Screenshots

![](https://i.imgur.com/t1E4DCM.png)

### 開發環境 / Environment

[2021-08-14 09:02] karta0807913 commented on #15
我覺得需要放一下系統管理員 `SYSOP` 的密碼之類的

[2021-08-14 13:05] appleboy commented on #7
Gin V1.7 修正了全部 httpd router wildcard 問題，如果要用 Gin 的話，建議升級到 v1.7.3 版本會比較適合。

[2021-08-14 16:33] PichuChen commented on #15
可以在slack 問

[2021-08-14 19:31] PichuChen commented on #267
用 `docker-compose up` 把它開起來了

有辦法讓他變成 daemon 嗎？
![截圖 2021-08-15 上午3 31 15](https://user-images.githubusercontent.com/600238/129458212-66587d9e-af84-40fa-a91a-06efba4aab69.png)

[2021-08-14 19:31] #267 closed, assigned to nobody

[2021-08-15 01:21] karta0807913 commented on #267
`docker-compose -d up` 看看

[2021-08-15 01:25] karta0807913 commented on #15
那可能要在那篇裡面放一下 slack
我最後有測試表裡面找到密碼
我覺得目前的資訊太過分散了，剛來的要找東西不是很方便

[2021-08-15 12:24] PichuChen commented on #259
@weizhe0422  想問一下目前有進度嗎？

[2021-08-15 19:13] PichuChen commented on #15
不然如果把它放到 [FOR_DEVELOPERS.md](https://github.com/Ptt-official-app/Ptt-backend/blob/development/FOR_DEVELOPERS.md) 的話呢？

[2021-08-15 19:22] PichuChen commented on #232
@gogog22510 可以問一下目前測試結果如何嗎？

[2021-08-15 19:22] PichuChen commented on #231
@kyho4515  想問一下目前這邊狀況到哪裡了？

[2021-08-15 19:44] kyho4515 commented on #231
我在等repository那邊的function, 如果需要的話我可以先弄個pr

[2021-08-15 19:44] PichuChen commented on #231
那先推把，另外你也可以試試看把他推成Draft

[2021-08-16 02:47] karta0807913 commented on #15
我覺得很不錯，不然可能新來的（如我）剛開始的時候要花很多時間找尋資料

[2021-08-16 16:19] gogog22510 commented on #232
最新版本指的是github.com/Ptt-official-app/go-bbs v0.10.2 嗎? 這個版本的AppendNewLine跟development的不一樣喔

[2021-08-16 16:21] PichuChen commented on #232
測試development 的

[2021-08-16 16:31] gogog22510 commented on #232
了解，我更新了PR，使用development版本的go-bbs

[2021-08-16 16:34] PichuChen commented on #232
我把新的v0.11.0 推上去了，等幾分鐘再試試看，基本上和目前development 應該一樣

[2021-08-16 22:59] weizhe0422 commented on #259
我這週應該可以解決

[2021-08-17 01:04] y2468101216 commented on #260
上面 nickyanggg 就是用 pichu3

[2021-08-17 03:20] PichuChen commented on #260
那我這週再試試看pichu3

[2021-08-21 02:39] karta0807913 opened #269 "[建議] 希望可以使用 Dockerfile 來建置環境"
### 原本作法的問題 / Existed Problem

目前這個專案的 docker-compose.yml 中只有 swagger 的設定，希望也可以建立這個專案的 image

### 實作細節 / Details of Implement
建立起 Dockerfile

### 期程 / Schedule
幾小時？

[2021-08-21 05:57] PichuChen commented on #269
Docker 的範圍要抓清楚一下目的，因為目前我覺得 go build 的編譯方式其實就很好用了

然後 Docker 的作法最大的缺點是目前 SHM 可能會不支援，以及還不確定在 M1 上的支援程度。

[2021-08-21 06:14] PichuChen commented on #259
@weizhe0422  想問一下目前進度到哪邊了？

[2021-08-21 06:26] PichuChen commented on #266
go-bbs 更新的 v0.11.0 應該就 OK 了。

[2021-08-21 06:28] #266 closed, assigned to nobody

[2021-08-21 06:34] PichuChen commented on #260
pichu3 測試正常
<img width="1020" alt="截圖 2021-08-21 下午2 34 29" src="https://user-images.githubusercontent.com/600238/130313015-a84cb0e6-5701-4c1c-9e7a-bb349a204126.png">

[2021-08-21 06:34] #260 closed, assigned to nobody

[2021-08-21 08:44] karta0807913 commented on #269
我是覺得這個專案目前現在缺少一個「開箱即用」的腳本，而 Docker 可以很好的做到這一點。
剛入門的開發者只需要執行 `docker build` 與 `docker run` 便可以建立起一個可以使用的環境，不需要關心到底下載了哪些設定檔。
Apple M1 的部份我不太確定到底有沒有問題，不過據官方的[說明](https://docs.docker.com/desktop/mac/apple-silicon/)只要 image 有 ARM 發行版就可以使用。
另外 shm 的部份我不太清楚，請問有可以測試的方法嗎？

[2021-08-21 09:30] karta0807913 commented on #29
我在 #272 試著實做了一下這篇所說的內容，需要請各位幫我看一下是不是各位所期望的內容/行為

[2021-08-21 09:57] PichuChen commented on #269
但是我目前電腦是沒有docker的，另外是docker雖然可以加速安裝以及deploy，但是在開發上面似乎沒有比較便利？

SHM 的部分可以先不用管他。

[2021-08-21 10:03] #40 closed, assigned to nobody

[2021-08-21 17:22] PichuChen opened #273 "[主線] [PTT] 20210821 測試結果"
目前 [20210821 的測試結果](https://docs.google.com/spreadsheets/d/1p-HTUe-x-6CMVUjmLXty8hPJuoNL_kn8YsCZlJrvRzM/edit?usp=sharing)出來了
在 62 個測試項目中，有 28 個通過，22 個失敗， 12 個未測試。

請協助比較 [2021072001 的測試結果](https://docs.google.com/spreadsheets/d/1Dv0eZNTLU_NKiehR15qp8iPXAXZ85j2tWj_7h1rxUKg/edit?usp=sharing) 將對應的 GitHub ISSUE 填上測試表，如果該 GitHub ISSUE 還沒有被開立過的話，請協助開立。

[2021-08-24 07:03] y2468101216 opened #274 "[BUG] C2-7-1 ~ C2-7-3 /v1/users/{{user_id}}/drafts/{{draft_id}} 錯誤訊息調整"
### 發生了什麼事？ / The Problem
發生錯誤的時候應該要回傳錯誤訊息

### 如何重現 / To Reproduce
1. curl --location --request GET 'http://localhost:8081/v1/users/SYSOP/drafts/0'

### 預期的行為 / Expected behavior
顯示錯誤訊息

### 螢幕截圖 / Screenshots
<img width="1055" alt="截圖 2021-08-24 下午2 59 01" src="https://user-images.githubusercontent.com/10670845/130571824-cdf508fa-19c4-4fa3-adbe-de0cc847ecc7.png">
<img width="1061" alt="截圖 2021-0

[2021-08-24 07:04] y2468101216 commented on #274
@PichuChen 我這邊測試是正常的，不過我還是先開起來方便討論

[2021-08-24 07:05] #274 closed, assigned to nobody

[2021-08-24 07:20] y2468101216 opened #275 "[BUG] C2-7-4 放入 Access Token 之後， POST /v1/users/{{自己的ID}}/drafts/0 (123 的 base64編碼) 應該要成功"
### 發生了什麼事？ / The Problem
放入 Access Token 之後， POST /v1/users/{{自己的ID}}/drafts/0  (123 的 base64編碼) 應該要成功
但出現 panic

2021/08/24 15:18:00 http: panic serving [::1]:52275: runtime error: invalid memory address or nil pointer dereference
goroutine 7 [running]:
net/http.(*conn).serve.func1(0xc0001270e0)
        /usr/local/Cellar/go/1.16.6/libexec/src/net/http/server.go:1804 +0x153
panic(0x13427e0, 0x15f

[2021-08-24 07:21] y2468101216 commented on #275
@PichuChen 我用網路上的 base64 encode 跟你的內容不同，不知是否哪裡不一樣

[2021-08-24 07:45] y2468101216 opened #276 "[BUG] C3-4-1 放入 Access Token 之後， GET /v1/classes/1 要返回分類主目錄，非主目錄的分類ID不應該回傳 1"
### 發生了什麼事？ / The Problem
放入 Access Token 之後， GET /v1/classes/1 要返回分類主目錄，非主目錄的分類ID不應該回傳 1

### 如何重現 / To Reproduce
curl --location --request GET 'http://localhost:8081/v1/classes/1' \
--header 'Authorization: Bearer eyJhbGciOiJFUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2Mjk4NzQ5NDAsInN1YiI6IlNZU09QIn0.sCR_jp6DM3DenO8F5fWHxNmnlJHi1C5qsrkLrIImzxyjoAvTnocnxxFXm_RWylvAcEuGMxP9rejcvvEaAK4h1A'

### 預期的行為 / Ex

[2021-08-24 07:58] y2468101216 opened #277 "[BUG] C4-1-1 在不放入Access Token 的情況下 GET /v1/popular-boards 應該出現熱門看板列表，熱門看板中出現了不是看板的分類"
### 發生了什麼事？ / The Problem
在不放入Access Token 的情況下 GET /v1/popular-boards 應該出現熱門看板列表，熱門看板中出現了不是看板的分類

### 如何重現 / To Reproduce
curl --location --request GET 'http://localhost:8081/v1/popular-boards' \
--header 'Authorization: Bearer eyJhbGciOiJFUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2Mjk4NzQ5NDAsInN1YiI6IlNZU09QIn0.sCR_jp6DM3DenO8F5fWHxNmnlJHi1C5qsrkLrIImzxyjoAvTnocnxxFXm_RWylvAcEuGMxP9rejcvvEaAK4h1A'

#

[2021-08-25 00:48] gogog22510 commented on #232
我更新成最新版本也解決conflict了

[2021-08-26 11:27] PichuChen commented on #231
Repository 那邊好了，可以幫忙REVIEW一下，可以的話我就把他merge

[2021-08-27 03:33] #232 closed, assigned to gogog22510

[2021-08-27 04:26] #277 closed, assigned to y2468101216

[2021-08-27 18:50] kyho4515 commented on #231
我把repo PR的問題貼過來這裡討論

[2021-08-27 18:51] PichuChen commented on #231
對，在usecase產生

[2021-08-27 19:16] kyho4515 commented on #231
那這部分呢? 特別是第二部分我不太確定

[2021-08-28 01:49] PichuChen commented on #231
這部分要確認一下

[2021-08-28 03:11] karta0807913 commented on #275
這是因為 `internal/repository/user.go` 裡面回傳 `nil, nil` 所導致的。
不過實做的時候因為 `go-bbs` 裡面的 `DB.WriteUserDraft` 有點小問題導致時法被呼叫。
還是其實可以不需要呼叫`DB.WriteUserDraft`？

https://github.com/Ptt-official-app/Ptt-backend/blob/129d864c192660b323c23fda8f35d4368d60f858/internal/repository/user.go#L135-L137

[2021-08-28 05:26] #269 closed, assigned to nobody

[2021-08-28 05:27] PichuChen commented on #275
可以附上說你得到什麼，然後想得到什麼的範例嗎？我也許知道原因， Base64 有 urlencoded 的變種。

[2021-08-28 05:32] PichuChen commented on #231
`UpdateUsefulness` 應該是可以不用附加內文，因為他的設計理念是類似 Stackoverflow 或是 Reddit 的上下箭頭，因此內文部分交由 Usecase 自行定義即可，頂多是把內文設定新增到 config file 讓利用端可以自行設定在箭頭推文的預設文字這樣？

[2021-08-28 07:17] karta0807913 opened #279 "[BUG] C5-1-3: GET /v1/boards/test/articles 搜尋推文應該要出現「來測試看看轉錄看板文章」這篇文章"
### 發生了什麼事？ / The Problem

在放入 Access Token 的情況下在 GET /v1/boards/test/articles?recommend_count_gt=2 應該要出現「來測試看看轉錄看板文章」這篇文章

### 如何重現 / To Reproduce

[code]

### 預期的行為 / Expected behavior
出現「來測試看看轉錄看板文章」這篇文章

### 螢幕截圖 / Screenshots
出現所有文章

### 開發環境 / Environment
- OS: ubuntu:20.04
- Golang Version: go version go1.16.6 linux/amd64

[2021-08-28 07:20] karta0807913 commented on #279
@PichuChen 這邊我看了一下原始碼，我發現它裡面所定義的變數為 `recommend_count_ge` 而非 `recommend_count_gt`。
當我使用變數 `recommend_count_ge` 的時候這個功能是正常的。

![](https://i.imgur.com\/tGb3lXb.png)

https://github.com/Ptt-official-app/Ptt-backend/blob/db1d8a2e372692c1c3d917212857773441c88cf3/internal/delivery/http/route_boards_articles.go#L34-L37

[2021-08-28 07:31] PichuChen commented on #279
所以應該是要增加支援 _gt 嗎？

[2021-08-28 07:53] karta0807913 commented on #279
這我不確定，現在應該要把 `_ge`改成 `_gt` 還是多加一個 `_gt` 參數以符合測試？
要看當時規格怎寫的吧？

[2021-08-28 08:00] karta0807913 commented on #279
因為照字面上意思 `_gt` 是 `greater then` 所以在字面理解上理應不會出現「來測試看看轉錄看板文章」這篇文章（因為推薦次數為2）。
所以我建議應該修改測試表中的 `_gt` 為 `_ge`，如此一來指定推薦次數時為2時才會出現「來測試看看轉錄看板文章」這篇文章。

[2021-08-29 15:11] RandyPanGit commented on #276
這裡的`非主目錄的分類ID不應該回傳 1` 是指圖上id為1的那一項不應該回傳嗎?

[2021-08-29 18:13] kyho4515 commented on #231
OK. 所以他跟一般ptt上的推文不太一樣？

另外PushRecord的部分, 目前只有interface, 沒有對應的struct, TODO是寫用bbs.PushRecord, 不過go-bbs那邊好像也還沒實作

[2021-08-29 18:15] PichuChen commented on #231
Repo那邊不是已經實作好了嗎？

[2021-08-29 18:18] kyho4515 commented on #231
目前看起來只有這個？
[PushRecord](https://github.com/Ptt-official-app/Ptt-backend/blob/development/internal/repository/article.go#L19)
(剛剛貼到我那邊的repo, 不過內容是一樣的)

[2021-08-30 05:29] PichuChen commented on #231
應該是用這個

https://github.com/Ptt-official-app/Ptt-backend/pull/262/files

[2021-08-30 06:03] kyho4515 commented on #231
repo的PushRecord是直接傳nil, 我這邊要造一個正確的？還是我一樣nil直接return回去就好？

[2021-08-31 03:27] PichuChen commented on #231
不是你這邊造啊，呼叫的方向是由 usecase 呼叫 repository?

[2021-08-31 03:57] kyho4515 commented on #231
對, 但現在repo的function如果執行正確, 回傳的是nil, nil (PushRecord, error)

[2021-08-31 07:25] kyho4515 commented on #231
我先推了一個版本, 再看要怎麼改吧

[2021-09-01 02:26] y2468101216 commented on #276
我不太確定，這要問一下 @PichuChen

[2021-09-01 02:52] y2468101216 commented on #276
https://www.ptt.cc/cls/1
這是主目錄
https://www.ptt.cc/cls/2870
這個不是主目錄

主目錄只有一個
主目錄以外的其他都不是主目錄

[2021-09-03 03:15] #259 closed, assigned to y2468101216

[2021-09-03 05:42] y2468101216 commented on #275
https://www.base64encode.org/
我用這個 encode 都可以過

[2021-09-04 13:50] PichuChen commented on #279
確實 _ge 可以，不過文件裡面是有要求實作 _gt 的

![截圖 2021-09-04 下午9 49 42](https://user-images.githubusercontent.com/600238/132096714-fa0f458a-78b8-434e-bf22-83b5176cd58d.png)

https://docs.google.com/document/d/18DsZOyrlr5BIl2kKxZH7P2QxFLG02xL2SO0PzVHVY3k/edit#heading=h.bnhpxsiwnbey

[2021-09-04 14:23] PichuChen commented on #276
簡單來說就是目前回傳目錄 index 的方式是用它在 .BRD 的 offset 來判斷，因此會有問題， index = 1 會被重覆使用到。

可能的做法應該是要增加一個 base index ，可能是 1000 或是 1 ，然後在回傳 class id 的時候加上這個 class bass index 然後取回 class 資訊時扣回來這樣。

[2021-09-05 04:52] karta0807913 commented on #279
那是不是應該修改內文為
「在放入 Access Token 的情況下在 GET /v1/boards/test/articles?recommend_count_gt=<span style="color:red">_**1**_</span> 應該要出現「來測試看看轉錄看板文章」這篇文章」

或是新增另一篇文章，例如「來測試推薦數搜尋」，並且他的的推薦數為三？

[2021-09-05 06:54] nickyanggg commented on #276
大概看懂了，這個我來幫忙處理吧

[2021-09-05 07:01] PichuChen commented on #276
@nickyanggg 麻煩你了

[2021-09-05 08:20] nickyanggg commented on #276
@PichuChen 想先問一下 BoardHeader (包括 "是 class" 以及 "非 class" 二種) 中所存的 ClassID 代表的意義

[2021-09-05 08:26] PichuChen commented on #276
誒，可能要看原始碼...

[2021-09-05 11:58] PichuChen commented on #279
我覺得應該是程式碼有實作 _gt 就行了？

[2021-09-05 15:14] PichuChen opened #283 "[BUG] C6-1-1 發文時，在 raw 欄位的格式錯誤"
### 發生了什麼事？ / The Problem
1. 在發出新文章後的 raw 應該要有發文時應有的 作者 標題 時間 等列，以及發信站等資訊，這些東西應該要在 Usecase 當中被設定，而不是交由 Client 自由設定，自由設定的部分應該要在編輯文章後才能做自由設定（但即便如此，最後面還是需要附加修改時間和修改IP等資訊）
2. 回傳的 raw 欄位的資料應該以 Base64 編碼，目前是沒有特別編碼的。

### 如何重現 / To Reproduce
請參考 testing-script 的 C6-1-1.sh
1. 取得可以在 test 版發文的 Access Token 權限
2. 送出 `curl -v -s http://localhost:8081/v1/boards/test/articles -H "Authorization: bearer $ACCESS_T

[2021-09-05 15:30] PichuChen opened #284 "[BUG] C6-1-2: 新增推文時沒有回應，出現 HTTP 500 Server Error"
### 發生了什麼事？ / The Problem
發生了 Server Error 但是 Server 卻沒有出現相關Log，懷疑錯誤處理被吃掉了。

### 如何重現 / To Reproduce
請參考 testing-script C6-1-2.sh
1. 取得可以在 test 版發文的 Access Token
2. 找到最新一篇文章的 filename
3. 用`curl -v http://localhost:8081/v1/boards/test/articles/$NEW_FILENAME -d 'action=append_comment'  --data-urlencode 'type＝推' --data-urlencode 'text=test push'` 發送新推文，接著就會看到錯誤了

### 預期的行為 / Expected behavior
應該要如文件回

[2021-09-05 15:42] PichuChen opened #285 "[BUG] C6-1-3: 無法刪除文章，出現 path not found"
### 發生了什麼事？ / The Problem
刪除時出現 path /v1/boards/test/articles/M.1629564570.A.2AC not found

### 如何重現 / To Reproduce
請參考 testing-script C6-1-3.sh
1. 取得 SYSOP 的 Access Token
2. 發一篇新文章
3. 刪掉他，用 `curl  http://localhost:8081/v1/boards/test/articles/$NEW_FILENAME -d 'action=delete'`

然後就會看到錯誤了。

### 預期的行為 / Expected behavior
他應該要能正常刪掉文章，至少不要出現錯誤訊息，然後文章列表中要出現這篇文章已被刪除。

### 螢幕截圖 / Screenshots
![截圖 2021-09

[2021-09-05 15:51] PichuChen opened #286 "[BUG] C6-1-7, C6-1-8: 轉發文章時出現 path not found"
### 發生了什麼事？ / The Problem
path /v1/boards/test/articles/M.1629565994.A.158 not found

有可能需要分成兩個 ISSUE 來解？

搞不好成因和無法刪除的 #285  類似

### 如何重現 / To Reproduce
請參考 testing-script C6-1-7 C6-1-8
1. 利用 SYSOP 權限取得 Access Token
2-a. 將 SYSOP 中最新一篇文章轉到 test 版 (`curl http://localhost:8081/v1/boards/test/articles/$NEW_FILENAME -d 'action=forward_article'  --data-urlencode 'board_id=test' `)
2-b. 將 SYSOP 中最新一篇文章轉到

[2021-09-05 16:06] PichuChen opened #287 "[BUG] C7-1-1: 熱門文章 API 沒有回應任何文章"
### 發生了什麼事？ / The Problem
原定上限100個文章的熱門文章 API 沒有回應任何文章

如果是剛啟動的伺服器，應該也是要掃描一下現有的文章列表來產生熱門文章快取？

### 如何重現 / To Reproduce
1. 取得使用者權限
2. 使用 `curl -s http://localhost:8081/v1/popular-articles -H "Authorization: bearer $ACCESS_TOKEN"` 取得目前熱門文章

然後就會發現回傳空陣列了

### 預期的行為 / Expected behavior
要有文章

### 螢幕截圖 / Screenshots
![截圖 2021-09-06 上午12 05 51](https://user-images.githubusercontent.com/600238/132133540-6

[2021-09-05 16:18] PichuChen opened #288 "[BUG] C2-3-2, C2-3-3, C2-3-4: 最愛新增分隔線、資料夾、看板沒有成功"
### 發生了什麼事？ / The Problem
使用者的最愛功能沒有辦法成功新增分隔線、資料夾以及看板

### 如何重現 / To Reproduce
可參考 testing-script 的 C2-3-2 C2-3-3 C2-3-4
1. 首先以 pichu3/123123 取得 pichu3 的 Access Token
2. 透過 `curl http://localhost:8081/v1/users/$1/favorites -H "Authorization: bearer $2"` 確認目前狀態
3-a. 透過 `curl http://localhost:8081/v1/users/$1/favorites -H "Authorization: bearer $2" -d 'action=add_favorite' -d 'type=line'` 新增分隔線，接下來用

[2021-09-08 06:45] y2468101216 commented on #287
![截圖 2021-09-08 下午2 45 19](https://user-images.githubusercontent.com/10670845/132459778-af25451f-2ec2-4107-8649-95e4fd9d078a.png)

[2021-09-08 06:45] y2468101216 commented on #287
我看是有文章的？

[2021-09-08 08:06] y2468101216 commented on #284
這是因為 go-bbs 裡的 AppendBoardArticleFile 並沒有使用 board_id 去取 path 所以必須要改 go-bbs 那邊

[2021-09-08 09:14] PichuChen commented on #284
@y2468101216 那你可以幫忙開一下ISSUE嗎？

[2021-09-08 09:23] y2468101216 commented on #284
@PichuChen 我想先在這邊討論一下再開 issue

[2021-09-09 04:14] kyho4515 commented on #283
可以詳細說一下raw的格式是怎麼樣嗎？
例如把parsed裡的部分dump成base64?

[2021-09-09 08:46] y2468101216 commented on #283
這個 bug 分成兩個問題，一個是 raw 沒有編譯成 base64，一個是不符合 ptt 發文格式

[2021-09-09 08:51] PichuChen commented on #287
你取的是看板的API

[2021-09-09 08:56] y2468101216 commented on #279
@karta0807913 有興趣幫忙實作 gt 跟 lt 嗎 我看這兩個都沒實作

[2021-09-09 08:57] #275 closed, assigned to y2468101216

[2021-09-09 09:13] y2468101216 commented on #287
目前看起來 [GetPopularArticles](https://github.com/Ptt-official-app/Ptt-backend/blob/development/internal/repository/article.go#L28)

沒有實作，有意願實作歡迎參考文件實作

[2021-09-10 02:52] kyho4515 commented on #284
我試了一下, 問題好像是C6-1-2.sh裏, `type＝推`的＝打成全寫
雖然改好後還是有其他問題就是了

server端
<img width="581" alt="Screen Shot 2021-09-09 at 10 50 33 PM" src="https://user-images.githubusercontent.com/10025955/132791595-6a37e44c-a87e-4c62-a60e-1b25fb3fb252.png">
client端
<img width="1000" alt="Screen Shot 2021-09-09 at 10 50 54 PM" src="https://user-images.githubusercontent.com/10025955/132791618-22b67369-a432-451c-a5d1-253e56

[2021-09-10 06:47] #231 closed, assigned to kyho4515

[2021-09-11 21:08] PichuChen commented on #284
感謝提醒，把這個修正推上去了

[2021-09-17 17:01] #276 closed, assigned to nickyanggg

[2021-09-18 07:46] karta0807913 commented on #279
@y2468101216 我提交了一個 pull request #290
還請確認看看是不是與你預期的一樣

[2021-09-18 10:31] karta0807913 commented on #283
@PichuChen 我嘗試了一下想要解決這個問題 (#291)
不知道這樣是否是你期望的樣子

[2021-09-20 06:04] karta0807913 commented on #285
@PichuChen `請參考 testing-script C6-1-2.sh` 應為 C6-1-3.sh

[2021-09-20 09:29] PichuChen commented on #285
感謝，已修正

[2021-09-20 10:20] karta0807913 commented on #286
@PichuChen 我試著修了一下，還請幫我 code review 看看哪裡有問題

[2021-10-02 08:38] #283 closed, assigned to nobody

[2021-10-03 13:18] #29 closed, assigned to nobody

[2021-10-09 01:59] #284 closed, assigned to nobody

[2021-10-13 03:43] #279 closed, assigned to nobody

[2021-10-13 03:48] #286 closed, assigned to nobody

[2021-10-14 14:48] IepIweidieng commented on #285
文章的正確路徑是否應爲 `​/v1​/board​/{bid}​/article​/{aid}`？
參考：<https://api.devptt.site:8080/#/board/get_v1_board__bid__article__aid_>
`board` 與 `article` 的字尾皆無 `s` 後綴。

[2022-03-12 09:06] #287 closed, assigned to nobody